{
    ID: 30,
    name: "Sub menu",
    slug: "sub-menu",
    description: "",
    count: 6,
    items: [{
        id: 33,
        order: 1,
        parent: 0,
        title: "О нас",
        url: "https://о-о.рус/about/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 17,
        object: "page",
        object_slug: "about",
        type: "post_type",
        type_label: "Page"
    }, {
        id: 38,
        order: 2,
        parent: 0,
        title: "Press",
        url: "https://о-о.рус/press/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 22,
        object: "page",
        object_slug: "press",
        type: "post_type",
        type_label: "Page"
    }, {
        id: 35,
        order: 3,
        parent: 0,
        title: "Contact",
        url: "https://о-о.рус/contact/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 24,
        object: "page",
        object_slug: "contact",
        type: "post_type",
        type_label: "Page"
    }, {
        id: 36,
        order: 4,
        parent: 0,
        title: "Jobs",
        url: "https://о-о.рус/jobs/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 26,
        object: "page",
        object_slug: "jobs",
        type: "post_type",
        type_label: "Page"
    }, {
        id: 34,
        order: 5,
        parent: 0,
        title: "Calendar",
        url: "https://о-о.рус/calendar/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 28,
        object: "page",
        object_slug: "calendar",
        type: "post_type",
        type_label: "Page"
    }, {
        id: 37,
        order: 6,
        parent: 0,
        title: "Partners",
        url: "https://о-о.рус/partners/",
        attr: "",
        target: "",
        classes: "",
        xfn: "",
        description: "",
        object_id: 30,
        object: "page",
        object_slug: "partners",
        type: "post_type",
        type_label: "Page"
    }],
    meta: {
        links: {
            collection: "https://admin.studio-job.com/wp-json/wp/v2/menus/",
            self: "https://admin.studio-job.com/wp-json/wp/v2/menus/30"
        }
    }
}
