{
        id: 40,
        name: "Acrylic",
        slug: "acrylic",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 33,
        name: "Aluminum",
        slug: "aluminum",
        description: "",
        menu_order: 1,
        count: 1,
        adjacent_posts: [38, 37]
    }, {
        id: 104,
        name: "Brass",
        slug: "brass",
        description: "",
        menu_order: 16,
        count: 1,
        adjacent_posts: [2944, 2312]
    }, {
        id: 21,
        name: "Bronze",
        slug: "bronze",
        description: "",
        menu_order: 8,
        count: 1,
        adjacent_posts: [2469, 128]
    },
    {
        id: 25,
        name: "Ceramic",
        slug: "ceramic",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 77,
        name: "Ceramics",
        slug: "ceramics",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 127,
        name: "concrete",
        slug: "concrete",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 122,
        name: "cork",
        slug: "cork",
        description: "",
        menu_order: 120,
        count: 1,
        adjacent_posts: [2421, 1335]
    }, {
        id: 109,
        name: "Cristalflex",
        slug: "cristalflex",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 58,
        name: "Crystal",
        slug: "crystal",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 56,
        name: "Crystals",
        slug: "crystals",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 112,
        name: "Etching",
        slug: "etching",
        description: "",
        menu_order: 162,
        count: 1,
        adjacent_posts: [106, 3028]
    }, {
        id: 36,
        name: "Fabric",
        slug: "fabric",
        description: "",
        menu_order: 4,
        count: 1,
        adjacent_posts: [34, 35]
    }, {
        id: 107,
        name: "Faience",
        slug: "faience",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 42,
        name: "Gilding",
        slug: "gilding",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 22,
        name: "Glass",
        slug: "glass",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [17, 24]
    }, {
        id: 54,
        name: "Gold",
        slug: "gold",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 41,
        name: "Hand painting",
        slug: "hand-painting",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 39,
        name: "Handpainting",
        slug: "handpainting",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 71,
        name: "Iron",
        slug: "iron",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 47,
        name: "Jaquard",
        slug: "jaquard",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 64,
        name: "Leather",
        slug: "leather",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 62,
        name: "Marble",
        slug: "marble",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 78,
        name: "marquetry",
        slug: "marquetry",
        description: "",
        menu_order: 156,
        count: 1,
        adjacent_posts: [134, 944]
    }, {
        id: 51,
        name: "Metal",
        slug: "metal",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 108,
        name: "Opalflex",
        slug: "opalflex",
        description: "",
        menu_order: "",
        count: 0,
        adjacent_posts: [1, 1]
    }, {
        id: 106,
        name: "Paint",
        slug: "paint",
        description: "",
        menu_order: 163,
        count: 0,
        adjacent_posts: [1404, 112]
    }, {
        id: 20,
        name: "Paper",
        slug: "paper",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 50,
        name: "Plastic",
        slug: "plastic",
        description: "",
        menu_order: 10,
        count: 1,
        adjacent_posts: [3829, 3711]
    }, {
        id: 49,
        name: "Polyethylene",
        slug: "polyethylene",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }, {
        id: 45,
        name: "Polyurethane",
        slug: "polyurethane",
        description: "",
        menu_order: "",
        count: 1,
        adjacent_posts: [1, 1]
    }, {
        id: 121,
        name: "porcelain",
        slug: "porcelain",
        description: "",
        menu_order: 0,
        count: 0,
        adjacent_posts: [null, null]
    }, {
        id: 110,
        name: "print",
        slug: "print",
        description: "",
        menu_order: 37,
        count: 0,
        adjacent_posts: [3085, 87]
    }, {
        id: 38,
        name: "Scented Candle",
        slug: "scented-candle",
        description: "",
        menu_order: 2,
        count: 1,
        adjacent_posts: [35, 33]
    }, {
        id: 60,
        name: "Stained Glass",
        slug: "stained-glass",
        description: "",
        menu_order: 0,
        count: 0,
        adjacent_posts: [null, null]
    }, {
        id: 24,
        name: "Textile",
        slug: "textile",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [22, 26]
    }, {
        id: 130,
        name: "Tin",
        slug: "tin",
        description: "",
        menu_order: "",
        count: 0,
        adjacent_posts: [1, 1]
    }, {
        id: 128,
        name: "wax",
        slug: "wax",
        description: "",
        menu_order: 7,
        count: 0,
        adjacent_posts: [21, 3020]
    }, {
        id: 23,
        name: "Wood",
        slug: "wood",
        description: "",
        menu_order: 0,
        count: 1,
        adjacent_posts: [null, null]
    }
