{% extends "manship/base.html" %}
{% load static %}
{% block title %}Персонал{% endblock %}

{% block content %}

<div class="hero-wrapper hero-inner">

    <img width="1400" height="500" src="{% static 'images/manship/header-images_0008_flames-copy-13.png' %}"
          class="hero-img img-responsive wp-post-image"
          alt=""
          srcset="
          {% static 'images/manship/header-images_0008_flames-copy-13.png' %} 1400w,
          {% static 'images/manship/header-images_0008_flames-copy-13.png' %} 300w,
          {% static 'images/manship/header-images_0008_flames-copy-13.png' %} 768w,
          {% static 'images/manship/header-images_0008_flames-copy-13.png' %} 1024w"
          sizes="(max-width: 1400px) 100vw, 1400px" />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="sm-2 lg-2"></div>
        <div id="content" class="fadeup sm-12 lg-8">
            <div class="page-header text-center vert-after">
                <h2 class="special dots-horz">People</h2>
                <img src="{% static 'images/manship/manship-people.png' %}" alt="People" class="page-header-illustration">
            </div>
            <div class="page-content">
                <div class='content-column one_half'><img class="img-responsive" src="{% static 'images/manship/chef-alex-eaton.jpg' %}" alt="chef-alex-eaton" width="1200" height="800" />
                    <h2>Шеф-Повар Алекс Итон</h2>
                    <p>После оттачивания своих кулинарных навыков на кухнях по всей стране, в том числе должность с известным шеф-поваром
                      <a href="http://www.chefjohnbesh.com/">Джоном Бешем</a>
                      в Новом Орлеане, штат Луизиана, Алекс Итон с радостью вернулся домой в Джексон, штат Миссисипи, чтобы положить свое сердце и душу на тарелку.
                    </p>
                    <p>
                      Родившись в Джексоне в семье наполовину ливанцев, кулинария всегда была огромной частью жизни Итона. Его молодые годы были
                      потрачены на приготовление пищи на открытых огнях в бойскаутских лагерях. Изучая бизнес в Университете штата Миссисипи,
                      он провел свои студенческие годы, работая в
                      <a href="http://verandastarkville.com/">в ресторане Veranda </a>.
                      После окончания школы он последовал своей страсти к кулинарии, получив степень в школе кулинарных искусств Джонсона и Уэльса
                      в Шарлотте, Северная Каролина. Итон помог открыть
                      <a href="http://www.domenicarestaurant.com/">Domenica</a>,
                      и итальянский ресторан Джона Беша в  Новом Орлеане,
                      где он научился искусству приготовления неаполитанской пиццы на дровах. Затем Итон добавил каджунскую еду
                      в свой репертуар, работая на
                      <a href="http://www.mrbsbistro.com/">Mr. B’s Bistro</a>
                      под руководством шеф-повара Мишеля Макрейни.
                    </p>
                    <p>
                      Хотя его карьера мотала его по всей стране, Итон всегда хотел вернуться домой, чтобы изучить деловую сторону еды от
                      рестораторов <a href="http://www.eathere.com/">Эла Робертса и Билла Лэтема</a>.
                      Трио, с добавлением исполнительного шеф-повара Майка Рем-Хильда, объединилось, чтобы открыть
                      <a href="http://tableonehundred.com/">Table 100</a> в городе Флоувуд, Миссисипи.
                    </p>
                    <p>
                      Тем временем Итон разрабатывал концепцию собственного ресторана. Его путешествия по пересеченной местности
                      были подготовкой к тому, что станет Владыкой Дровяной Кухни, его рестораном в Джексоне с партнером Стивеном
                      О'Нилом.
                    </p>
                    <p><a href="{% url 'manship_awwards' %}">Избран в 2015 Лучшим Новым Шеф-Поваром</a>, Джексон Фри Пресс и нынешний обладатель титула
                      <a href="http://www.greatamericanseafoodcookoff.com/">Король американских морепродуктов</a>,
                      Итон приносит с собой любовь к ремесленным продуктам, страсть к продуктам местного производства и
                      горячее желание гордиться своими друзьями и семьей. Он живет в Джексоне со своей женой Джейми, двумя
                      детьми и собакой Снупи.<br />
                </div>
                <div class='content-column one_half last_column'>
                  <img class="img-responsive" src="{% static 'images/manship/chef-steve-oneill.jpg' %}" alt="chef-steve-oneill" width="1200" height="800" />

                    <h2>Генеральный Менеджер Стивен О Нил</h2>
                    <p>
                      Хотя родом из Техаса, О'Нил переехал в Джексон в детстве и окончил Мэдисон Централ. Он начал работать в сфере услуг в качестве
                      мальчика автобуса в ресторане Copeland'S до посещения штата Миссисипи, где он продолжал изучать ресторанные веревки в
                      <a href="http://eatwithharveys.com/">Harveys </a>
                      and
                      <a href="http://www.roseybaby.com/">Rosey Baby</a>.</p>
                    <p>В то время как в колледже, события 9/11 вдохновили его присоединиться к военным. Ожидая своего вступления в армию,
                      О'Нил провел год, работая с
                      <a href="http://thepointe.rocks/about/"> Лоис Бруно</a>,
                      бывшим шеф-поваром для двух губернаторов, в его изысканном ресторане эклектичной кухни Бруно..
                    </p>
                    <p>
                      О'Нил служил в армейской пехоте в течение трех лет, включая одну поездку в Ирак, прыгая от Багдада до
                      Фаллуджи и, наконец, Мосула. Он был награжден Пурпурным сердцем после падения под атакой I. E. D.
                      На их транспортном средстве.
                    </p>
                    <p>
                      После окончания службы он вернулся домой и возобновил работу в сфере услуг в компании Julep. Позже он был
                      завербован, чтобы открыть, а затем помощник-управляемый
                      <a href="http://bulldog-jackson.draftfreak.com/">The Bulldog</a>.
                      Когда местный шеф-повар и владелец ресторана Крейг Нун попытался открыть салон Market, он позвонил O Нилу и опросил помощи.
                      После смерти Крейга О'Нил служил генеральным менеджером, встречаясь с Алексом Итоном и мечтая об открытии кухни Manship
                      Wood Fired.</p>
                    <p>
                      Его провидческая работа у нас была признана, когда он был награжден
                      <a href="http://themanshipjackson.com/about/awards-press/">в 2015 как лучший восходящий Предприниматель года</a>
                       от  Jackson Free Press.<br />
                </div>
                <div class='clear_column'></div>
            </div>
            <div class="vert"></div>
            <div class="sub-nav">

                <div class="sidebar widget-area" role="complementary">
                  <aside id="madg_subpage-2" class="widget widget_madg_subpage">
                      <h3 class="special text-center">Все разделы</h3>
                      <ul class="subpage-nav">
                          <li class="active-page"><a>Персонал</a></li>
                      </ul>
                      <ul class="subpage-nav children">
                          <li><a href="{% url 'manship_bar' %}">Наш бар</a></li>
                          <li><a href="{% url 'manship_awwards' %}">Награды</a></li>
                          <li><a href="{% url 'manship_kitchen' %}">Наша кухня</a></li>
                          <li><a href="{% url 'manship_story' %}">Наша история</a></li>
                          <li><a href="{% url 'manship_news' %}">Новости</a></li>
                          <li><a href="{% url 'manship_about' %}">О нас</a></li>
                          <li><a href="{% url 'manship_gallery' %}">Галерея</a></li>
                          <li><a href="{% url 'manship_source' %}">Ресурсы</a></li>
                      </ul>
                  </aside>
                </div>
            </div>
        </div>
        <div class="sm-2 lg-2"></div>
    </div>
</div>

<div class="vert"></div>

{% include 'manship/reserve.html' %}

{% endblock %}
