{% load static %}

<div class="container">
    <div class="innerContainer">
        <div class="data">

            <div href=""
                 class="entry"
                 data-slug=""
                 data-thumbnail-mode="Landscape"
                 data-color="0xeb503f"
                 data-splash-color="eb503f"
                 data-tags="Experiences"
                 data-landscape-image="{% static 'monday/images/1.jpg' %}?w=980&amp;fm=jpg&amp;q=100"
                 data-portrait-image="{% static 'monday/images/1.jpg' %}?w=980&amp;fm=jpg&amp;q=100"
                 data-has-video="true" data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/1d096a2hBTQJSu30iEcQlC/c616688396dbb430c638d14545629e9a/Thumbnail_-_Video_-_Landscape_-_Small.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/1VSpEukjvcsUSbrJKT9REl/72412aadda60160b7b481a5dc3c99d06/Thumbnail_-_Video_-_Portrait_-_Small.mp4">
                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>Lyft - America is an idea. Not a geography.</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>

                    <p class="tag">Experiences</p>
                </div>
            </div>

            <div href=""
                 class="entry"
                 data-slug=""
                 data-thumbnail-mode="Random"
                 data-color="0x00806e"
                 data-splash-color="00806e"
                 data-tags="Branding"
                 data-landscape-image="{% static 'monday/images/2.jpg' %}?w=980&amp;fm=jpg"
                 data-portrait-image="{% static 'monday/images/2.jpg' %}?w=980&amp;fm=jpg"
                 data-has-video="true"
                 data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/4Cbr9JemnlxhXJnSZrgwyu/582404b8dcb403699fba535aacbbdb01/cfc_thumb_horisontal.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/2hoKUhnIUjLUzRRxGazkBT/8b4e747713838d1912ceea8aa648a5a4/cfc_thumb_portrait-newformat.mp4">

                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>YouTube creates a new generation</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>
                    <p class="tag">Branding</p>
                </div>

            </div>

            <div href=""
                 class="entry"
                 data-slug="/work/google-cloud-platform-website"
                 data-thumbnail-mode="Random"
                 data-color="0x4384F4"
                 data-splash-color="4384F4"
                 data-tags="Experiences"
                 data-landscape-image="{% static 'monday/images/3.jpg' %}?w=980&amp;fm=jpg&amp;q=100"
                 data-portrait-image="{% static 'monday/images/3.jpg' %}?w=980&amp;fm=jpg&amp;q=100"
                 data-has-video="true"
                 data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/5lhGp7hgPm5S3MHt5Xqk8g/f93e4776bed07dd0a1e30103aa968ab0/Landscape_980.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/6JhM09fi01BOJbYhQ7fKIK/0bb6ec48c6baf2c808c8d689cbf5c653/Portrait_980.mp4">

                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>Google Cloud - A 3D experience</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>
                    <p class="tag">Experiences</p>
                </div>

            </div>

            <div href=""
                 class="entry"
                 data-slug=""
                 data-thumbnail-mode="Random"
                 data-color="0xF39297"
                 data-splash-color="F39297"
                 data-tags="Products"
                 data-landscape-image="{% static 'monday/images/4.jpg' %}?w=980&fm=jpg&q=100"
                 data-portrait-image="{% static 'monday/images/4.jpg' %}?w=980&fm=jpg&q=100"
                 data-has-video="true"
                 data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/5XVvwHX2p1PqGJvifUj1xr/2caaa56db4308e29a1bdb0827f30121e/NOMO_landscape_980.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/4aQo0EEHdQ7royxKr4vJkM/3225c2db1342832d25ea77dc57f36db4/NOMO_portrait_980.mp4">

                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>T-Mobile’s little device that sets you free</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>
                    <p class="tag">Products</p>
                </div>

            </div>

            <div href=""
                 class="entry"
                 data-slug=""
                 data-thumbnail-mode="Random"
                 data-color="0x313131"
                 data-splash-color="313131"
                 data-tags="Experiences"
                 data-landscape-image="{% static 'monday/images/5.jpg' %}?w=980&fm=jpg&q=100"
                 data-portrait-image="{% static 'monday/images/5.jpg' %}?w=980&fm=jpg&q=100"
                 data-has-video="true"
                 data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/WLrX3yZgSyNdxMdtc6mPJ/538fabe30f7934444bfd582cb78fe1f8/searchon_landscape_980.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/4a6loeBQOEHJpa7wHv8mkS/2e7d016e89fe2209aa26b43f8888b7e5/searchon_portrait_980.mp4">

                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>Google’s Search On - A series of inspiring stories</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>
                    <p class="tag">Experiences</p>
                </div>

            </div>

            <div href=""
                 class="entry"
                 data-slug=""
                 data-thumbnail-mode="Portrait"
                 data-color="0x272949"
                 data-splash-color="272949"
                 data-tags="Branding"
                 data-landscape-image="{% static 'monday/images/6.jpg' %}?w=980&fm=jpg&q=100"
                 data-portrait-image="{% static 'monday/images/6.jpg' %}?w=980&fm=jpg&q=100"
                 data-has-video="true"
                 data-landscape-video="//videos.ctfassets.net/9uhkiji6mhey/7c0jSU6nqfzJlPhovHQN7F/4102e3f072a97cbe0f0a10893fceb4f4/bearaby-hero-video-small-landscape-2.mp4"
                 data-portrait-video="//videos.ctfassets.net/9uhkiji6mhey/67n6Y8hY8QGhshjrratzmj/3ba6c3506f8039e94eb2f59d3e984111/bearaby-hero-video-small-portrait-2.mp4">

                <a class="contentContainer noLinkParse" href="">
                    <div class="imageContainer"></div>

                    <div class="text">
                        <h3 class="title"><div class="dot"></div>Bearaby - Weighted bedding reinvented</h3>
                    </div>
                </a>

                <div class="tags">
                    <div class="sortBy">Filter by</div>
                    <p class="tag">Branding</p>
                </div>

            </div>

        </div>

        <div class="grid-managed">
            <div class="col-2 column"></div>

            <div class="col-2 column"></div>

            <div class="col-2 column"></div>
        </div>

        <div class="spacer"></div>

    </div>
</div>
