{% extends "basic_base.html" %}
{% load static %}

{% block title %}Сервис 2{% endblock %}

{% block content %}

<div class="page page--expertise-detail">

    <h1 class="a11y">eCommerce стратегия, дизайн и маркетинг</h1>

    <div class="hero hero--expertise-detail hero--detail-page" data-skrollex data-sk-static data-hero-detail>
        <div class="hero--expertise-detail__text hero__content pos-r z1">
            <div class="section-label container container--content" data-skrollex data-sk-group>
                <a href="{% url 'basic_services' %}" class="meta">
                    <svg class="icon icon--arrow">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                    Назад
                </a>
            </div>
            <div class="container container--content">
                <h2 class="h1" data-skrollex data-sk-group data-sk-headline>Фирменные eCommerce</h2>
                <div class="excerpt dash-holder dash-holder--push-content  spacer-smedium-top">
                    <hr class="dash" data-skrollex data-sk-group />
                    <p class="h5 spacer-smedium" data-skrollex data-sk-group>eCommerce стратегия, дизайн и маркетинг</p>
                    <p class="lead fw-medium mb0" data-skrollex data-sk-group>eCommerce это не просто платформа или изолированная стратегия; это ключевое выражение вашего бренда с потенциалом для преобразования вашего бизнеса и инициатив, направленных непосредственно на потребителя.</p>
                </div>
            </div>
        </div>
        <div class="hero--expertise-detail__background layer">

            <video class="video-player__video fullscreen" preload="metadata" data-autoplay autoplay loop muted volume="0.5" data-skrollex data-sk-static data-sk-hide-offscreen data-sk-render-gutter-bottom="100" playsinline>
                <source src="https://basicagency.com/uploads/expertise/Rich-Commerce/Branded-eCommerce-Experiences/ecommerce-strategy-design-development-homepage-services-video.mp4.mp4" type="video/mp4" />
            </video>

            <div class="hero__gradient layer" style="background-color: #000000; background-image: linear-gradient(to bottom left, transparent, #000000);"></div>
        </div>
    </div>

    <div class="content-toolkit">
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-large"></div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">01 &mdash;</span>
                    <span class="meta">Метод</span>
                </div>
                <div class="container container--content">
                    <div class="text-block__inner">
                        <h2 class="spacer-small" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.4">Культура стимулирует коммерцию™</h2>
                        <div class="body" data-skrollex data-sk-group>
                            <p>Покупки в Интернете - более сложная задача, чем когда-либо. Клиенты ожидают, что бренды
                              максимально упростят путешествие пользователя и в то же время предоставят мощные моменты бренда,
                              которые удивят и восхитят их.<br /></p>
                            <p>Наш подход к электронной коммерции основывается на простоте и эмоциональности, преодолевая разрыв
                               между бизнес-целями и целями пользователей. Работая совместно, мы упрощаем и объединяем каждое
                               взаимодействие опыта, привнося культурные и поведенческие идеи в наш процесс, управляемый
                               данными. Результатом является фирменный флагман электронной коммерции, с которым люди хотят
                               сотрудничать и покупать у.
                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">

            <div class="toolkit-columns" data-toolkit-columns>
                <div class="container container--content">
                    <div class="toolkit-columns__inner">
                        <hr class="spacer spacer-medium mt0" data-skrollex data-sk-group />
                        <div class="grid grid--gutters grid--center grid--auto" data-skrollex data-sk-group>

                            <div class="toolkit-columns__column toolkit-columns__column-body-text spacer-medium mb0--medium grid__item">
                                <h3 class="h4 mb2">Стратегия</h3>
                                <div class="text">
                                    <ul class="meta meta-list">
                                        <li>Цифровая стратегия</li>
                                        <li>Потребительские исследования</li>
                                        <li>Отраслевые исследования</li>
                                        <li>Аналитика / данные / SEO</li>
                                        <li>Многоканальная стратегия</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="toolkit-columns__column toolkit-columns__column-body-text spacer-medium mb0--medium grid__item">
                                <h3 class="h4 mb2">Дизайн</h3>
                                <div class="text">
                                    <ul class="meta meta-list">
                                        <li>Творческое Направление</li>
                                        <li>UI/UX Дизайн</li>
                                        <li>Мобильный / Адаптивный Дизайн</li>
                                        <li>eCommerce платформы</li>
                                        <li>Разработка контента</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="toolkit-columns__column toolkit-columns__column-body-text spacer-medium mb0--medium grid__item">
                                <h3 class="h4 mb2">Развитие</h3>
                                <div class="text">
                                    <ul class="meta meta-list">
                                        <li>Творческое развитие</li>
                                        <li>Front-end развитие</li>
                                        <li>Функциональное прототипирование</li>
                                        <li>Управление содержанием</li>
                                        <li>Руководства по цифровому стилю</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb0 spacer-medium-top spacer-bottom" />
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium spacer-medium-top">
                <div class="container container--content">
                    <hr class="mb0 mt0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="platforms-overview">
                <div class="platforms-overview__title spacer-medium">
                    <div class="container container--content">
                        <h2 class="h6" data-skrollex data-sk-group data-sk-headline>Несколько платформ, на которых мы построили...</h2>
                        <p class="mb0" data-skrollex data-sk-group></p>
                    </div>
                </div>
                <div class="platforms-overview__logos">
                    <div class="container container--content">
                        <div class="grid grid--mobile grid--gutters">
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-demandware.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-magento.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-woocommerce.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-shopify.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-salesforce.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-aem.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-drupal.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'basic/images/logo-craft.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                            <div class="grid__item col-4 spacer-medium" data-skrollex data-sk-group>
                                <div class="platforms-overview__logo">
                                    <img src="{% static 'images/basic/logo-netsuite.png' %}" alt="" class="platforms-overview__logo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr class="spacer-large spacer-large-top" data-skrollex data-sk-group />
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="featured-work-bucket spacer-large">
                <div class="featured-work-bucket__title spacer-medium">
                    <div class="section-label container container--content" data-skrollex data-sk-group>
                        <span class="meta section-label__number">02 &mdash;</span>
                        <span class="meta">Примеры</span>
                    </div>
                    <div class="container container--content">
                        <h2>Избранные примеры eCommerce</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="grid">
                        <div class="card card--case-study grid__item spacer-block" data-push-hover>
                            <div class="card--case-study__image spacer-smedium">
                                <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                    srcset="
                                    {% static 'basic/images/15-1.jpg' %} 600w,
                                    {% static 'basic/images/15-2.jpg' %} 940w"
                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                </div>
                            </div>
                            <div class="card--case-study__text dash-holder dash-holder--push-content">
                                <hr class="dash" data-skrollex data-sk-group />

                                <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                                    Google
                                </div>
                                <h3 class="h7" data-skrollex data-sk-group data-sk-headline>
                                  Партнерство Google - привносить лучшее из Google людям по всему миру
                                </h3>
                            </div>
                            <a href="" class="layer z1"><span class="a11y">Смотреть</span></a>
                        </div>

                        <div class="card card--case-study grid__item spacer-block" data-push-hover>
                            <div class="card--case-study__image spacer-smedium">
                                <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                    srcset="
                                    {% static 'basic/images/16-1.jpg' %} 600w,
                                    {% static 'basic/images/16-2.jpg' %} 940w"
                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                </div>
                            </div>
                            <div class="card--case-study__text dash-holder dash-holder--push-content">
                                <hr class="dash" data-skrollex data-sk-group />
                                <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                                    Beats by Dre
                                </div>
                                <h3 class="h7" data-skrollex data-sk-group data-sk-headline>
                                  BeatsByDre.com — Преобразование и редизайн
                                </h3>
                            </div>
                            <a href="" class="layer z1"><span class="a11y">Explore Beats by Dre Case Study</span></a>
                        </div>

                        <div class="card card--case-study grid__item spacer-block" data-push-hover>
                            <div class="card--case-study__image spacer-smedium">
                                <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">

                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                    srcset="
                                    {% static 'basic/images/17-1.jpg' %} 600w,
                                    {% static 'basic/images/17-2.jpg' %} 940w"
                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                </div>
                            </div>
                            <div class="card--case-study__text dash-holder dash-holder--push-content">
                                <hr class="dash" data-skrollex data-sk-group />
                                <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                                    BB Dakota
                                </div>
                                <h3 class="h7" data-skrollex data-sk-group data-sk-headline>BBDakota.com — Привнесение историй и личности в eCommerce</h3>
                            </div>
                            <a href="" class="layer z1"><span class="a11y">Смотреть</span></a>
                        </div>

                        <div class="card card--case-study grid__item spacer-block" data-push-hover>
                            <div class="card--case-study__image spacer-smedium">
                                <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                    srcset="
                                    {% static 'basic/images/18-1.jpg' %} 600w,
                                    {% static 'basic/images/18-2.jpg' %} 940w"
                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                </div>
                            </div>
                            <div class="card--case-study__text dash-holder dash-holder--push-content">
                                <hr class="dash" data-skrollex data-sk-group />
                                <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                                    Heath Ceramics
                                </div>
                                <h3 class="h7" data-skrollex data-sk-group data-sk-headline>HeathCeramics.com - Опыт eCommerce, созданный так же, как и их продукты</h3>
                            </div>
                            <a href="" class="layer z1"><span class="a11y">Смотреть</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="accordion-block">
                <hr class="spacer spacer-large mt0" />
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">03 &mdash;</span>
                    <span class="meta">Процесс</span>
                </div>
                <div class="accordions-block__title spacer-medium">
                    <div class="container container--content">
                        <h2 data-skrollex data-sk-group data-sk-headline>Процесс eCommerce</h2>
                        <p class="mb0 lead" data-skrollex data-sk-group>Каждый опыт eCommerce, который мы создаем, основан на уникальной стратегии, которая детализирует будущее бренда. Мы собрали команду специалистов по категориям, мыслителей и производителей, чтобы вести торговлю через платформы, которые выражают культуру бренда.</p>
                    </div>
                </div>
                <div class="accordions-block__accordions">
                    <div class="container container--content">
                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-1" class="accordion__toggle lead mb0">
                                    <span class="title">Потребительские  и бизнес идеи</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-1" aria-hidden="true" class="accordion__content">
                                <p>Когда дело доходит до электронной коммерции, мы начинаем с нашего аутентичного, основанного на опыте подхода,
                                  помогающего брендам общаться с людьми. Начиная с понимания бизнеса и поведения потребителей, наша цель остается
                                  верной.</p>
                              </div>
                        </div>

                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-2" class="accordion__toggle lead mb0">
                                    <span class="title">Стратегия цифрового опыта</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-2" aria-hidden="true" class="accordion__content">
                                <p>Наши платформы электронной коммерции основаны на брендах и цифровых стратегиях, которые стимулируют
                                  электронную торговлю через культуру и рассказывание историй. Наше стремление создать более человечный «путь
                                  к покупкам» обеспечивает честную основу для нашего опыта, который способствует достижению результатов..<br /></p>
                            </div>
                        </div>

                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-3" class="accordion__toggle lead mb0">
                                    <span class="title">Направление дизайна</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-3" aria-hidden="true" class="accordion__content">
                                <p>Наш подход к дизайну электронной коммерции ориентирован на взаимодействие с пользователем и соответствует
                                  ожиданиям, которые мы определяем в нашей стратегии. Это сочетание шума, управляемых данными и креативности,
                                  которые продвигают нас вперед.</p>
                            </div>
                        </div>

                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-4" class="accordion__toggle lead mb0">
                                    <span class="title">Создание контента</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-4" aria-hidden="true" class="accordion__content">
                                <p>Содержание имеет значение в электронной коммерции. Когда люди взаимодействуют с брендом, контент - это разговор;
                                  это устанавливает тон и вносит индивидуальность и последовательность в бренд. От фотографии до видео и копирования
                                  мы помогаем нашим партнерам создавать каждый элемент выражения бренда.</p>
                            </div>
                        </div>

                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-5" class="accordion__toggle lead mb0">
                                    <span class="title">Разработка и Технология</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-5" aria-hidden="true" class="accordion__content">
                                <p>Функция развития не просто «заставить вещи работать». Мы проектируем вместе с разработкой, что приводит
                                  к улучшению взаимодействия с пользователем, что находится на переднем крае наших амбиций во всем, что мы
                                  создаем.</p>
                            </div>
                        </div>

                        <div class="accordion" data-accordion data-skrollex data-sk-group>
                            <div class="accordion__header">
                                <button aria-expanded="false" aria-controls="collapsible-6" class="accordion__toggle lead mb0">
                                    <span class="title">Наблюдение и развитие</span>
                                    <svg class="accordion__icon" viewBox="0 0 37.13 37.13">
                                        <line x1="37.13" y1="18.56" y2="18.56" />
                                        <line x1="18.56" y1="37.13" x2="18.56" />
                                    </svg>
                                </button>
                            </div>
                            <div id="collapsible-6" aria-hidden="true" class="accordion__content">
                                <p>Когда мы сотрудничаем с брендами, мы объединяемся в долгосрочной перспективе. От улучшений UX до
                                  разработки обновлений и исправлений ошибок мы продолжаем отношения еще долго после запуска. Работа
                                  никогда не выполняется.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="spacer spacer-large-top mb0" />

            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-large"></div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">

            <div class="awards-block">
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">04 &mdash;</span>
                    <span class="meta">Awards</span>
                </div>
                <div class="awards-block__title">
                    <div class="container container--content">
                        <h2 data-skrollex data-sk-group>8 наград сайтов eCommerce ...</h2>
                        <p class="lead mb0" data-skrollex data-sk-group>Мы работали с ведущими брендами моды, красоты,
                          спорта, развлечений, технологий и стиля жизни, чтобы стимулировать коммерцию через культуру. Наши
                          усилия не остались незамеченными. Мы выиграли 8 всемирно признанных наград сайта года в области
                          электронной коммерции, включая 4 премии Webby, 2 премии OMMA, Pixel и Awwwards. Мы также были
                          финалистом 4 раза. </p>
                    </div>
                </div>
                <div class="container">
                    <hr class="spacer-large spacer-large-top" />
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">

            <div class="insights-block">

                <div class="insights-block__title spacer-xmedium">
                    <div class="section-label container container--content" data-skrollex data-sk-group>
                        <span class="meta section-label__number">05 &mdash;</span>
                        <span class="meta">Идеи</span>
                    </div>
                    <div class="container container--content">
                        <h2>Идеи и изучение eCommerce</h2>
                    </div>
                </div>

                <div class="insights-block__carousel">

                    <div id="image-carousel-7" class="image-carousel spacer-large spacer-large-top mt0" data-tabpanel data-image-carousel data-animation-type="mask" data-skrollex data-sk-group>
                        <div class="container container--content pos-r">
                            <div class="image-carousel__controls carousel-controls">
                                <button class="btn-prev" tabindex="-1">
                                    <svg class="icon">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </button>
                                <ul role="tablist" class="meta">
                                    <li role="presentation">
                                        <a id="image-carousel-7-tab-1" href="#image-carousel-7-panel-1" aria-controls="image-carousel-7-panel-1" role="tab" data-no-hijack class="active" tabindex="0" aria-selected="true"><span aria-hidden="true">01</span><span class="a11y">
                                                Позади сборки: KEEN Omnichannel Платформа электронной коммерции
                                            </span></a><a id="image-carousel-7-tab-2" href="#image-carousel-7-panel-2" aria-controls="image-carousel-7-panel-2" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">02</span><span class="a11y">
                                                Позади сборки: Chrome Industries
                                            </span></a><a id="image-carousel-7-tab-3" href="#image-carousel-7-panel-3" aria-controls="image-carousel-7-panel-3" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">03</span><span class="a11y">
                                                Позади сборки: BB Dakota Платформа электронной коммерции
                                            </span></a> </li>
                                    <li role="presentation" aria-hidden="true">&mdash;</li>
                                    <li role="presentation" aria-hidden="true">03</li>
                                </ul>
                                <button class="btn-next" tabindex="-1">
                                    <svg class="icon">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="image-carousel__images">
                                <div class="image-carousel__image-track">
                                    <div id="image-carousel-7-panel-1" role="tabpanel" aria-hidden="false" class="image-carousel__image active">
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="
                                                    {% static 'basic/images/19-1.jpg' %} 600w"
                                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 06.01.2017</p>
                                                        <h3>Позади сборки: KEEN Omnichannel Платформа электронной коммерции</h3>
                                                        <p>Мы встретились с вице-президентом KEEN по глобальной цифровой коммерции Джоном Эвонсом, чтобы обсудить процесс создания нового бренда.;</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="image-carousel-7-panel-2" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="{% static 'basic/images/19-2.jpg' %} 600w"
                                                    sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="Chrome Industries bike Messenger Riding Near Bridge" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 02.22.2017</p>
                                                        <h3>Позади сборки: Chrome Industries</h3>
                                                        <p>Мы встретились с вице-президентом Chrome Industries по глобальной цифровой коммерции Джоном Эвонсом, чтобы обсудить процесс создания бюстгальтера и hellip.;</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="image-carousel-7-panel-3" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="{% static 'basic/images/19-3.jpg' %} 600w" sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="Behind the Build: BB Dakota eCommerce Insights Thumbnail" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 03.21.2016</p>
                                                        <h3>Позади сборки: BB Dakota Платформа электронной коммерции</h3>
                                                        <p>Мы пошли за сборкой вместе с нашей внутренней командой дизайнеров, чтобы рассмотреть особенности дизайна высшего уровня и общее творческое приложение и hellip;</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-carousel__image-track image-carousel__image-track-sync">
                                    <div class="image-carousel__image">
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="{% static 'basic/images/19-1.jpg' %} 600w" sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 06.01.2017</p>
                                                        <h3>Behind the Build: KEEN Omnichannel eCommerce платформа</h3>
                                                        <p>Мы встретились с вице-президентом KEEN по глобальной цифровой торговле Джоном Эвонсом, чтобы обсудить процесс создания нового бренда.</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-carousel__image" data-skrollex data-sk-group data-sk-mask>
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="{% static 'basic/images/19-2.jpg' %} 600w" sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="Chrome Industries bike Messenger Riding Near Bridge" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 02.22.2017</p>
                                                        <h3>Позади сборки: Chrome Industries</h3>
                                                        <p>Мы встретились с вице-президентом Chrome Industries по глобальной цифровой коммерции Джоном Эвонсом, чтобы обсудить процесс создания бюстгальтера.</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-carousel__image">
                                        <div class="card card--insight">
                                            <div class="grid">
                                                <div class="grid__item card--insight__image col-6--small">
                                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                                    srcset="{% static 'basic/images/19-3.jpg' %} 600w" sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="Behind the Build: BB Dakota eCommerce Insights Thumbnail" />
                                                </div>
                                                <div class="grid__item card--insight__text col-6--small pointer" data-easy-click>
                                                    <div class="text-inner">
                                                        <p class="meta" data-skrollex data-sk-group data-push-hover-headline>Идеи | 03.21.2016</p>
                                                        <h3>Behind the Build: BB Dakota eCommerce платформа</h3>
                                                        <p>Мы пошли за сборкой вместе с нашей внутренней командой дизайнеров, чтобы рассмотреть особенности дизайна высшего уровня и общее креативное приложение & hellip;</p>
                                                        <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon btn--collapse btn--collapse-all" data-btn-collapse="">
                                                            <span class="btn__text"><span class="btn__text-inner">Читать</span></span>
                                                            <div class="icon">
                                                                <svg class="">
                                                                    <use xlink:href="#icon-arrow"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">

            <div class="bucket bucket--partners spacer-large" data-partners-bucket>

                <div class="container">
                    <hr class="spacer-large spacer-large-top" />
                </div>

                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">06 &mdash;</span>
                    <span class="meta">Our partners</span>
                </div>

                <div class="container container--content">
                    <h2 class="spacer-xmedium" data-skrollex data-sk-group data-sk-headline>Select eCommerce partners</h2>
                </div>

                <div class="container">
                    <div class="bucket--partners__grid grid grid--gutters grid--mobile">

                        <div class="card card--partner" data-skrollex data-sk-group>
                            <div class="card--partner__inner">
                                <div class="card--partner__content">
                                    <div class="card--partner__logo" style="width: 45px;">
                                        <img src="" alt="" />
                                    </div>
                                    <p class="small card--partner__excerpt">
                                        We partnered with Apple to improve the digital experience for the Beats brand and Apple Support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
<div id="footer-holder">

    <div class="next-page-footer pointer" data-next-page-footer data-skrollex data-sk-static data-easy-click>
        <div class="container next-page-footer__inner">
            <div class="next-page-footer__text">
                <div class="meta spacer-medium">Next </div>
                <h2 class="h3 spacer-medium">
                    Websites &amp; Digital Platforms
                </h2>
                <div class="icon">
                    <svg>
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <a href="{% url 'basic_service3' %}" data-transition="mask">
                <span class="a11y">Explore Websites &amp; Digital Products</span>
            </a>
        </div>
    </div>

    {% endblock %}
