<div class="fancy-slider-titles__list">
    <span class="fancy-slider-titles__item" data-color="#c5d67b" data-shape="Banner_1">Баннер 1</span> <span class="fancy-slider-titles__separator">/</span>
    <span class="fancy-slider-titles__item" data-color="#7fa8f8" data-shape="Banner_2">Баннер 2</span> <span class="fancy-slider-titles__separator">/</span>
    <span class="fancy-slider-titles__item" data-color="#f0967e" data-shape="Banner_3">Баннер 3</span> <span class="fancy-slider-titles__separator">/</span>
    <span class="fancy-slider-titles__item" data-color="#ead979" data-shape="Banner_4">Баннер 4</span> <span class="fancy-slider-titles__separator">/</span>
    <span class="fancy-slider-titles__item" data-color="#8edfdd" data-shape="Banner_5">Баннер 5</span> <span class="fancy-slider-titles__separator">/</span>
</div>
