<div class="fancy-slider__ctas || fancy-slider-ctas">
    <div class="fancy-slider-ctas__item">
        <div class="fancy-slider-ctas__inner">
            <a class="fancy-slider-ctas__link" href="{% url 'mowellens_detail' %}"><span>Смотреть</span></a>
        </div>
    </div>
    <div class="fancy-slider-ctas__item">
        <div class="fancy-slider-ctas__inner">
            <a class="fancy-slider-ctas__link" href="{% url 'mowellens_detail' %}"><span>Смотреть</span></a>
        </div>
    </div>
    <div class="fancy-slider-ctas__item">
        <div class="fancy-slider-ctas__inner">
            <a class="fancy-slider-ctas__link" href="{% url 'mowellens_detail' %}"><span>Смотреть</span></a>
        </div>
    </div>
    <div class="fancy-slider-ctas__item">
        <div class="fancy-slider-ctas__inner">
            <a class="fancy-slider-ctas__link" href="{% url 'mowellens_detail' %}"><span>Смотреть</span></a>
        </div>
    </div>
    <div class="fancy-slider-ctas__item">
        <div class="fancy-slider-ctas__inner">
            <a class="fancy-slider-ctas__link" href="{% url 'mowellens_detail' %}"><span>Смотреть</span></a>
        </div>
    </div>
</div>
