{% load static %}

<div class="fancy-slider-particles__list">
  <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":true,"top":"19%","left":"73%","angle":0,"scale":1,"offsetX":0.1,"offsetDeg":48,"mobile":{"top":"24%","left":"35%","angle":0,"scale":1.22,"offsetX":0,"offsetDeg":53}}'>
            <img src="{% static 'images/mowellens/inner_peace_01.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":true,"top":"67%","left":"97%","angle":0,"scale":1,"offsetX":-0.5,"offsetDeg":-41}'>
            <img src="{% static 'images/mowellens/inner_peace_02.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="2" data-options='{"above":true,"top":"47%","left":"18%","angle":0,"scale":0.76,"offsetX":0.02,"offsetDeg":29,"mobile":{"top":"82%","left":"63%","angle":0,"scale":1,"offsetX":-0.15,"offsetDeg":-33}}'>
            <img src="{% static 'images/mowellens/inner_peace_03.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":true,"top":"84%","left":"65%","angle":-33,"scale":1.02,"offsetX":0.1,"offsetDeg":49,"mobile":{"top":"85%","left":"21%","angle":-24,"scale":1.22,"offsetX":-0.1,"offsetDeg":33}}'>
            <img src="{% static 'images/mowellens/bottle.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":true,"top":"69%","left":"24%","angle":-36,"scale":0,"offsetX":0.08,"offsetDeg":-21}'>
            <img src="{% static 'images/mowellens/box-left.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":true,"top":"50%","left":"10%","angle":0,"scale":1,"offsetX":-0.2,"offsetDeg":-30}'>
            <img src="{% static 'images/mowellens/honey-stick.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":true,"top":"69%","left":"81%","angle":21,"scale":1,"offsetX":0.06,"offsetDeg":-30,"mobile":{"top":"87%","left":"23%","angle":21,"scale":1,"offsetX":-0.1,"offsetDeg":-27}}'>
            <img src="{% static 'images/mowellens/pot.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":true,"top":"33%","left":"9%","angle":90,"scale":1,"offsetX":-0.13,"offsetDeg":166}'>
            <img src="{% static 'images/mowellens/bud-small.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":true,"top":"41%","left":"16%","angle":-112,"scale":1,"offsetX":0.07,"offsetDeg":-43}'>
            <img src="{% static 'images/mowellens/mowellens.dev_.phoenix.cool-533221725491681-compressor.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="2" data-options='{"above":true,"top":"67%","left":"78%","angle":-23,"scale":1,"offsetX":0.02,"offsetDeg":33,"mobile":{"top":"89%","left":"79%","angle":-33,"scale":1.06,"offsetX":-0.11,"offsetDeg":30}}'>
            <img src="{% static 'images/mowellens/mowellens-lit-within-box.png' %}" alt="">
        </div>

    </div>
</div>
