{% load static %}

<div class="fancy-slider-particles__list">
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":false,"top":"94%","left":"18%","angle":0,"scale":1,"offsetX":-0.06,"offsetDeg":-30}'>
            <img src="{% static 'images/mowellens/inner_peace_04.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":false,"top":"12%","left":"70%","angle":20,"scale":0.92,"offsetX":0,"offsetDeg":-17,"mobile":{"top":"15%","left":"69%","angle":10,"scale":1,"offsetX":-0.04,"offsetDeg":-33}}'>
            <img src="{% static 'images/mowellens/box-left.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":false,"top":"60%","left":"96%","angle":-27,"scale":1,"offsetX":-0.2,"offsetDeg":33}'>
            <img src="{% static 'images/mowellens/coconut.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":false,"top":"20%","left":"50%","angle":0,"scale":1,"offsetX":0.2,"offsetDeg":0,"mobile":{"top":"32%","left":"85%","angle":0,"scale":1.08,"offsetX":0.07,"offsetDeg":-40}}'>
            <img src="{% static 'images/mowellens/abeille2.gif' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":false,"top":"65%","left":"90%","angle":0,"scale":1,"offsetX":0,"offsetDeg":0}'>
            <img src="{% static 'images/mowellens/abeille5.gif' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="2" data-options='{"above":false,"top":"85%","left":"66%","angle":25,"scale":1,"offsetX":0.1,"offsetDeg":24,"mobile":{"top":"92%","left":"77%","angle":21,"scale":0.93,"offsetX":-0.1,"offsetDeg":-24}}'>
            <img src="{% static 'images/mowellens/bottle-1.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="3" data-options='{"above":false,"top":"0%","left":"70%","angle":96,"scale":1,"offsetX":0,"offsetDeg":24,"mobile":{"top":"14%","left":"30%","angle":-22,"scale":1.03,"offsetX":0,"offsetDeg":33}}'>
            <img src="{% static 'images/mowellens/honey-stick.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":false,"top":"39%","left":"8%","angle":0,"scale":1,"offsetX":-0.04,"offsetDeg":-30}'>
            <img src="{% static 'images/mowellens/flower.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":false,"top":"85%","left":"24%","angle":-11,"scale":1,"offsetX":0.06,"offsetDeg":17}'>
            <img src="{% static 'images/mowellens/box.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="2" data-options='{"above":false,"top":"9%","left":"60%","angle":-11,"scale":1,"offsetX":0.15,"offsetDeg":27,"mobile":{"top":"21%","left":"71%","angle":-17,"scale":1,"offsetX":0.05,"offsetDeg":49}}'>
            <img src="{% static 'images/mowellens/led.png' %}" alt="">
        </div>

    </div>
    <div class="fancy-slider-particles__item">
        <div class="fancy-slider-particles__particle" data-id="0" data-options='{"above":false,"top":"88%","left":"26%","angle":28,"scale":1,"offsetX":0.16,"offsetDeg":30}'>
            <img src="{% static 'images/mowellens/mowellens-lit-within-bottle.png' %}" alt="">
        </div>
        <div class="fancy-slider-particles__particle" data-id="1" data-options='{"above":false,"top":"17%","left":"63%","angle":0,"scale":1,"offsetX":0.15,"offsetDeg":17,"mobile":{"top":"21%","left":"18%","angle":0,"scale":1.03,"offsetX":-0.03,"offsetDeg":0}}'>
            <img src="{% static 'images/mowellens/mowellens.dev_.phoenix.cool-601738578734637-compressor2.png' %}" alt="">
        </div>

    </div>
</div>
