<script id=preloadedState>

window.__PRELOADED_STATE__ = {
    appData: {
        showCookiePopup: !0,
        layoutsLoaded: {},
        breadcrumbs: [],
        paymentMethods: [],
        countryData: [],
        searchResults: [],
        preloader: !1,
        headerState: {
            menu: !1,
            subMenu: !1,
            cart: !1,
            filter: !1
        },
        defaultFilters: {
            showFilter: !1,
            type: "",
            workType: "",
            workCollections: "",
            material: !1,
            time: {
                from: null,
                till: null
            },
            pieces: {
                from: null,
                till: null
            }
        },
        filters: {
            showFilter: !1,
            type: "",
            workType: "",
            workCollections: "",
            material: !1,
            time: {
                from: null,
                till: null
            },
            pieces: {
                from: null,
                till: null
            }
        }
    },
    cartData: {
        lastFullSync: 0,
        products: [],
        totals: {},
        localeSettings: {}
    },
    newsData: {
        news: [ {% include 'data/job_news.html' %} ]
    },
    productData: {
        materials: [ {% include 'data/job_materials.html' %} ],
        times: [{
            id: 28,
            name: "1998",
            slug: "1998",
            description: "",
            menu_order: 0,
            count: 0,
            adjacent_posts: [26, 30]
        }, {
            id: 29,
            name: "2018",
            slug: "2018",
            description: "",
            menu_order: 0,
            count: 0,
            adjacent_posts: [null, null]
        }],
        products: [ {% include 'data/shop.html' %}]
    },
    pageData: {
        pages: [ {% include 'data/job_about.html' %} ]
    },
    eventData: {
        events: []
    },
    workData: {
        types: [ {% include 'data/job_works_category.html' %} ],
        works: [
          {% include 'data/job_works.html' %}, {% include 'data/job_works2.html' %}, {% include 'data/job_works3.html' %}
      ]
    },
    careerData: {
        careers: []
    },
    customsData: {
        pictures: [],
        instagram: []
    },
    partnerData: {
        partners: []
    },
    userData: {
        lastUpdated: 0,
        userData: {}
    },
    cursorData: !1,
    menuData: {
        menus: [ {% include 'data/job_menu.html' %} ]
    },
    optionsData: {
        studio_job_founded: "1998",
        menu_materials: [20, 21, 22, 50, 23, 24, 25, 51],
        contact_options: [{
            name: "Information",
            email: "office@studio-job.com"
        }, {
            name: "Jobshop",
            email: "jobshop@studio-job.com"
        }, {
            name: "Press",
            email: "press@studio-job.com"
        }],
        product_initials_text: "Add your initials (optional) ",
        open_graph_image: {
            ID: 4420,
            id: 4420,
            title: "Share Image",
            filename: "NEW.jpg",
            filesize: 743983,
            url: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW.jpg",
            link: "https://admin.studio-job.com/new/",
            alt: "",
            author: "1",
            description: "",
            caption: "",
            name: "new",
            status: "inherit",
            uploaded_to: 0,
            date: "2018-12-06 17:07:41",
            modified: "2018-12-06 17:07:47",
            menu_order: 0,
            mime_type: "image/jpeg",
            type: "image",
            subtype: "jpeg",
            icon: "http://admin.studio-job.com/wp-includes/images/media/default.png",
            width: 918,
            height: 656,
            sizes: {
                thumbnail: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-150x107.jpg",
                "thumbnail-width": 150,
                "thumbnail-height": 107,
                medium: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-300x214.jpg",
                "medium-width": 300,
                "medium-height": 214,
                medium_large: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-768x549.jpg",
                "medium_large-width": 768,
                "medium_large-height": 549,
                large: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW.jpg",
                "large-width": 918,
                "large-height": 656,
                woocommerce_thumbnail: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-300x300.jpg",
                "woocommerce_thumbnail-width": 300,
                "woocommerce_thumbnail-height": 300,
                woocommerce_single: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-600x429.jpg",
                "woocommerce_single-width": 600,
                "woocommerce_single-height": 429,
                woocommerce_gallery_thumbnail: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-100x100.jpg",
                "woocommerce_gallery_thumbnail-width": 100,
                "woocommerce_gallery_thumbnail-height": 100,
                shop_catalog: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-300x300.jpg",
                "shop_catalog-width": 300,
                "shop_catalog-height": 300,
                shop_single: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-600x429.jpg",
                "shop_single-width": 600,
                "shop_single-height": 429,
                shop_thumbnail: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW-100x100.jpg",
                "shop_thumbnail-width": 100,
                "shop_thumbnail-height": 100,
                xlarge: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW.jpg",
                "xlarge-width": 918,
                "xlarge-height": 656,
                xxlarge: "https://cdn.studio-job.com/wp-content/uploads/2018/12/06180743/NEW.jpg",
                "xxlarge-width": 918,
                "xxlarge-height": 656
            }
        },
        site_description: "Studio Job was founded in 1998 by Job Smeets in the renaissance spirit, combining traditional and modern techniques to produce once-in-a-lifetime objects. At once highly specific and yet entirely universal, personally expressive and yet experimental, Studio Job has crafted a body of work that draws upon classical, popular and contemporary design and highly visual and sculptural art.",
        has_extra_cart_deal: !0,
        extra_cart_deal_text: "Free Toilet Paper Roll",
        site: {
            title: "Studio Job",
            description: "Studio Job",
            language: "ru-Ru"
        }
    }
}
</script>
