{% extends "mowellens/base.html" %}
{% load static %}
{% block title %}Условия использования{% endblock %}

{% block content %}

<div class="scroller-wrapper" scrollbar>
    <main id="barba-wrapper">
        <section class="barba-container" data-namespace="plain-text">

            <div class="grid__wrapper js-background-zone" data-bz-color="default">
                <div class="grid__container grid__container--large">
                    <h2 class="title title--big title--has-slash || font-van || js-printed-checker || js-split-chars">Условия использования</h2>
                </div>

                <div class="grid__container">
                    <p class="font-van || js-printed-checker || subtitle subtitle--half subtitle--medium || anim--twist || page-plain-text__subtitle">
                      Простите, вы заблудились? Мы шутим. Серьезно, мы знаем, что вы не собираетесь читать это, но мы заплатили нашим адвокатам кругленькую сумму за их причудливые слова, так что давайте покончим с этим.
                    </p>
                </div>

                <div class="grid__container page-plain-text__list wysiwyg">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"></h3>
                        <p>Добро пожаловать в Mowellens сайт и предоставление интерактивных возможностей, продуктов, услуг,
                          приложений или загрузки (совместно именуемые “сайт”), который принадлежит Mowellens, ООО &амп;
                          Mowellens ЛТД (“Mowellens”, “мы” и “нас”).
                          <strong>
                            Используя Наш Веб-Сайт, Вы Принимаете Правила, Описанные В Настоящих Условиях (“Условия") И Нашей Политике Конфиденциальности.
                            Если Вы Не Согласны С Этими Условиями, Вы Не Можете Использовать Этот Сайт. Мы Оставляем За Собой Право Изменять Или
                            Дополнять Настоящие Условия Время От Времени Без Предварительного Уведомления. Ваше Дальнейшее Использование Нашего Веб-
                            Сайта Или Любого Партнерского Веб-Сайта После Публикации Изменений В Настоящих Условиях Будет Означать, Что Вы Принимаете
                            Эти Изменения.
                          </strong>
                           К Заказу, Сбору Или Обработке Теста Или Образца Могут Применяться Дополнительные Условия И Положения. Используя Этот Сайт,Вы Соглашаетесь С Такими Условиями.
                         </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"></h3>
                        <p>К Заказу, Сбору Или Обработке Теста Или Образца Могут Применяться Дополнительные Условия И Положения. Используя Этот Сайт,Вы Соглашаетесь С Такими Условиями.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Допустимое использование</B></h3>
                        <p>
                          Вы соглашаетесь не воспроизводить, публиковать или распространять данные или контент в связи с
                          веб-сайтом, который нарушает товарный знак, Авторское право, патент, коммерческую тайну, публичность,
                          конфиденциальность или другие личные или имущественные права третьих лиц.
                        </p>
                        <p>
                          Вы Соглашаетесь Не Копировать И Не Распространять На Любом Носителе Любую Часть Веб-Сайта Без
                          Предварительного Письменного Разрешения. Вы Соглашаетесь Не Изменять И Не Пытаться Изменять Любую
                          Часть Веб-Сайта, Включая Любые Связанные С Mowellens Технологии, Или Создавать Производные Работы Или
                          Другие Продукты Или Услуги На Основе Веб-Сайта.
                        </p>
                        <p>
                          Вы Соглашаетесь Не Использовать Никаких Роботов, Пауков, Скребков Или Других Автоматизированных
                          Средств Для Доступа К Веб-Сайту В Любых Целях Без Нашего Письменного Разрешения. Вы Соглашаетесь:
                          (I) Не Предпринимать Никаких Действий, Которые Налагают Или Могут Налагать, По Нашему Собственному
                          Усмотрению, Необоснованную Или Непропорционально Большую Нагрузку На Нашу Инфраструктуру; (Ii)
                          Вмешиваться Или Пытаться Вмешиваться В Надлежащую Работу Веб-Сайта Или Участвовать В Любой
                          Деятельности, Которая Нарушает, Снижает Качество, Мешает Работе Или Ухудшает Функциональность
                          Веб-Сайта, Или (Iii) Обходить, Обходить, Отключать Или Иным Образом Вмешиваться В Любые Меры,
                          Которые Мы Можем Использовать Для Предотвращения Или Ограничения Доступа К Веб-Сайту. Любое
                          Несанкционированное Использование Наших Компьютерных Систем Является Нарушением Настоящих Условий.
                        </p>
                        <p>Вы Признаете, Что Ваша Деятельность С Использованием Веб-Сайта Может Быть Отслежена И Подлежит Аудиту.</p>
                        <p>
                          Вы Соглашаетесь Ни В Коем Случае Не Использовать Веб-Сайт В Незаконных Целях Или В Целях, Которые Представляют Собой Или
                          Поощряют Любую Незаконную Деятельность, А Также Не Предпринимать Никаких Действий, Которые Сделали Бы Работу Или
                          Использование Веб-Сайта Тестовый сайт Или Любым Другим Пользователем Незаконным.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Точность информации</B></h3>
                        <p>
                          Мы Стараемся Обеспечить, Чтобы Информация На Веб-Сайте Была Полной, Точной И Актуальной. Мы Можем
                          Вносить Изменения В Информацию На Веб-Сайте, В Том Числе, Но Не Ограничиваясь Наличием Любого
                          Продукта Или Услуги, Без Предварительного Уведомления. Несмотря На Наши Усилия, Информация На
                          Веб-Сайте Иногда Может Быть Неточной, Неполной Или Устаревшей. Мы Не Делаем Никаких Заявлений
                          Относительно Полноты, Точности Или Валюты Любой Информации На Этом Сайте. Например, Продукты,
                          Включенные На Веб-Сайте, Могут Быть Недоступны Или Могут Иметь Другие Атрибуты, Чем Те, Которые
                          Перечислены На Веб-Сайте.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Не Медицинский Совет</B></h3>
                        <p>
                          Информация, Представленная На Веб-Сайте О Продуктах, Условиях, Диагнозах, Лечении Или Любой Другой
                          Информации, Не Является Медицинской Консультацией. Этот Сайт Содержит Общую Информацию О Диете,
                          Здоровье И Питании. Информация Не Является Советом И Не Должна Рассматриваться Как Таковая. Сайт Не
                          Предоставляет Медицинские Или Диагностические Услуги И Не Назначает Лекарства.
                          <strong> < /strong>
                          продукты или любая другая информация не являются диагнозом, лечением или протоколом для любого
                          заболевания или состояния.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Раскрытие информации управление </B></h3>
                        <p>
                          Заявления, Сделанные В Отношении Этих Продуктов, Не Были Оценены Управлением По Контролю За Продуктами
                          И Лекарствами. Эффективность Этих Продуктов Не Была Подтверждена Одобренными Fda Исследованиями. Эти Продукты
                          Не Предназначены Для Диагностики, Лечения, Лечения Или Профилактики Заболеваний. Вся Информация, Представленная
                          Здесь, Не Является Заменой Или Альтернативой Информации От Лицензированного Практикующего Врача. Пожалуйста,
                          Проконсультируйтесь С Вашим Медицинским Работником О Потенциальных Взаимодействиях Или Других Возможных
                          Осложнениях Перед Использованием Любого Продукта. Федеральный Закон О Продуктах Питания, Лекарствах И Косметике
                          Требует Этого Уведомления.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Не является заменой профессионального суждения</B></h3>
                        <p>
                          Использование Веб-Сайта Не Является Заменой Профессионального Суждения Медицинских Работников В Диагностике
                          И Лечении Пациентов. Вы Признаете Свою Исключительную Ответственность За Получение Медицинской Консультации У
                          Врача. Для Медицинских Работников Вы Признаете Свою Исключительную Ответственность За Медицинские Решения Или
                          Действия В Отношении Медицинского Обслуживания, Лечения И Благополучия Ваших Пациентов, Включая, Без Ограничения,
                          Все Ваши Действия Или Бездействие При Лечении Соответствующего Пациента. Любое Использование Или Использование
                          Вами Веб-Сайта Не Уменьшает Эту Ответственность. Вы Признаете И Соглашаетесь, Что Результаты Продукта Не Являются
                          Ошибкой Mowellens. Вы Принимаете На Себя Все Риски, Связанные С Вашим Использованием Веб-Сайта.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Авторское Право, Товарный Знак, Право Собственности </B></h3>
                        <p>
                          Все содержимое, отображаемое на веб-сайте, включая без ограничений товарные знаки, знаки обслуживания,
                          текст, дизайн сайта, логотипы, значки кнопок, баннеры, коды Java, мультимедийные клипы, графику, значки, HTML, коды,
                          программное обеспечение, изображения, графику, фотографии, движущиеся изображения, звук и иллюстрации
                          (&#8220;Content&#8221;), а также их сборку и компоновку, принадлежит нам, ее Лицензиарам, агентам или ее поставщикам
                          контента. Все элементы сайта, включая, без ограничений, веб-сайт генеральное проектирование, знаков обслуживания,
                          фирменных наименований (в том числе наше название, логотипы, веб-сайт имя и сайт), а также другой контент, защищены
                          законом о торговых марках, авторских прав, моральных прав, товарных знаков и других законов, касающихся права на
                          интеллектуальную собственность. Веб-Сайт Может Использоваться Только По Назначению, Для Которого Он Доступен. Если На
                          Веб-Сайте Не Указано Иное, Вы Имеете Право Просматривать, Печатать И Загружать Документы, Аудио-И Видеоматериалы,
                          Размещенные На Нашем Веб-Сайте, Только В Личных, Информационных И Некоммерческих Целях. Вы Не Можете Использовать,
                          Копировать, Воспроизводить, Переиздавать, Загружать, Публиковать, Передавать, Распространять Или Изменять Содержание
                          Каким-Либо Образом, В Том Числе В Рекламе Или Рекламе, Связанной С Распространением Материалов На Веб-Сайте, Без
                          Предварительного Письменного Согласия нашего. Использование Товарных Знаков На Любом Другом Веб-Сайте Не Допускается.
                          мы Запрещаем Использование Товарных Знаков В Качестве "Горячей" Ссылки На Любом Другом Веб-Сайте, Если Создание Такой
                          Ссылки Не Одобрено Заранее. Сайт, Его Содержимое И Все Связанные С Ним Права Остаются Исключительной Собственностью
                          нас Или Ее Лицензиаров, Если Иное Прямо Не Оговорено. Вы Не Будете Удалять Любые Авторские Права, Товарные Знаки Или
                          Другие Уведомления О Правах Собственности Из Материалов, Найденных На Веб-Сайте.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Ссылки</B></h3>
                        <p>
                          Запуск Или Отображение Этого Веб-Сайта Или Любой Информации Или Материалов, Отображаемых На Этом Веб-Сайте В Рамках
                          Или С Помощью Аналогичных Средств На Другом Веб-Сайте БЕЗ Нашего Предварительного Письменного Разрешения Запрещено.
                          Время От Времени Этот Сайт Может Содержать Ссылки На Сторонние Веб-Сайты, Которые Не Принадлежат, Не Управляются И Не
                          Контролируются Компанией Или Ее Аффилированными Лицами. Все Такие Ссылки Предоставляются Исключительно Для Вашего
                          Удобства. Если Вы Используете Эти Ссылки, Вы Покинете Этот Сайт. Ни Мы, Ни Наши Соответствующие Партнеры Не Несем
                          Ответственности За Любой Контент, Материалы Или Другую Информацию, Размещенную Или Доступную С Любых Других Веб-Сайтов.
                          Ни Мы, Ни Наши Соответствующие Партнеры Не Поддерживаем, Не Гарантируем И Не Даем Никаких Заверений Или Гарантий В
                          Отношении Любых Других Веб-Сайтов, Любого Контента, Материалов Или Другой Информации, Размещенной Или Доступной С Любых
                          Других Веб-Сайтов, Или Результатов, Которые Вы Можете Получить От Использования Любых Других Веб-Сайтов. Если Вы Решите
                          Получить Доступ К Любым Другим Веб-Сайтам, Связанным С Этим Сайтом Или С Этого Сайта, Вы Делаете Это Исключительно На
                          Свой Страх И Риск.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Отказ от ответственности; ограничение ответственности</B></h3>
                        <p>
                          Вы Используете Этот Сайт На Свой Страх И Риск. Информация, Материалы, Продукты И Услуги, Предоставляемые На Веб-Сайте,
                          Через Него Или В Связи С Ним Или Иным Образом Предоставляемые Нами, Предоставляются "Как Есть" Без Каких-Либо Гарантий
                          Любого Рода, Явных Или Подразумеваемых, Включая, Но Не Ограничиваясь, Гарантии Товарной Пригодности, Пригодности Для
                          Определенной Цели, Безопасности, Ненарушения Интеллектуальной Собственности, Свободы От Компьютерных Вирусов Или Гарантий,
                          Возникающих В Ходе Работы Или Выполнения. В Полной Мере, Разрешенной Действующим Законодательством, Мы Настоящим
                          Отказываемся От Всех Гарантий Любого Рода, Явных Или Подразумеваемых, В Отношении Веб-Сайта И Любых Продуктов И Услуг,
                          Перечисленных Или Описанных На Веб-Сайте. Мы Не Заявляем И Не Гарантируем, Что Веб-Сайт Или Любая Информация Или Продукты
                          Или Услуги, Которые Мы Предоставляем, Будут Бесперебойными Или Безошибочными, Что Дефекты Будут Исправлены Или Что Веб-Сайт
                          Свободен От Вирусов Или Других Вредных Компонентов. Мы Не Даем Никаких Гарантий Или Заверений Относительно Полноты,
                          Правильности, Точности, Адекватности, Полезности, Своевременности Или Надежности Веб-Сайта Или Любой Информации Или
                          Продуктов Или Услуг, Которые Мы Предоставляем, Или Любой Другой Гарантии, Информация, Материалы, Продукты И Услуги,
                          Предоставляемые На Или Через Веб-Сайт, Могут Быть Устаревшими, И Ни мы, Ни Любой Из наших Филиалов Не Берет На Себя
                          Никаких Обязательств Или Обязательств По Обновлению Такой Информации, Материалов, Продуктов Или Услуг. Не Ограничивая
                          Общий Характер Вышеизложенного, Мы Настоящим Прямо Отказываемся От Любой Ответственности За Дефект Или Отказ Продукта,
                          Претензии, Которые Вызваны Нормальным Износом, Неправильным Использованием Продукта, Злоупотреблением, Модификацией
                          Продукта, Неправильным Выбором Продукта, Несоблюдением Каких-Либо Кодов Или Незаконным Присвоением. Мы Не Даем Никаких
                          Гарантий Тем, Кто Определен Как "Потребители" В Законе О Гарантиях Magnuson-Moss-Federal Trade Commission Improvements.
                          Вышеуказанные Исключения Подразумеваемых Гарантий Не Применяются В Той Мере, В Какой Это Запрещено Действующим Законодательством.
                          Информация, представленная на веб-сайте, не гарантирует, что будут выплачены какие-либо страховые, поощрительные или другие льготы.</p>
                        <p>никакие советы или информация, будь то устные или письменные, полученные от нас или веб-сайта, продуктов и услуг не будут создавать никаких
                          гарантий, явно не сделанных здесь.</p>
                        <p>мы не несем никакой ответственности и не будем нести никакой ответственности за любой ущерб или любой вирус,
                          который может заразить Ваш компьютер, оборудование или другое имущество, вызванное или возникающее в результате вашего
                          доступа, использования или просмотра этого веб-сайта, загрузки или доступа к любым материалам с веб-сайта. Ни В Коем
                          Случае Компания Или Ее Должностные Лица, Директора, Сотрудники, Акционеры, Аффилированные Лица, Агенты, Правопреемники
                          Или Правопреемники, А Также Любая Сторона, Участвующая В Создании, Производстве Или Передаче Данного Веб-Сайта,
                          Не Несут Ответственности Перед Вами Или Кем-Либо Еще За Любые Косвенные, Специальные, Штрафные, Случайные Или Косвенные
                          Убытки (Включая, Без Ограничения, Убытки, Вызванные Упущенной Выгодой, Потерянными Данными Или Прерыванием Бизнеса),
                          Возникающие В Результате Использования, Невозможности Использования Или Результатов Использования Этого Веб-Сайта,
                          Любых Веб-Сайтов, Связанных С Этим Веб-Сайтом, Или Материалов, Информации, Продукты Или Услуги, Содержащиеся На Веб-Сайте
                          Или Предоставляемые В Связи С Ним, Независимо От Того, Основаны Ли Они На Гарантии, Договоре, Деликте Или Любой Другой
                          Правовой Теории И Уведомлены Ли О Возможности Таких Убытков. Вышеуказанные Ограничения Ответственности Не Применяются В
                          Той Мере, В Какой Это Запрещено Действующим Законодательством.</p>
                        <p>в случае возникновения каких-либо проблем с веб-сайтом, вы соглашаетесь, что ваше единственное средство правовой защиты
                          заключается в прекращении использования веб-сайта.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Непреодолимая сила</B></h3>
                        <p>
                          Мы Не Несем Ответственности За Ущерб, Задержки Или Сбои В Выполнении Вытекающих Из Действий Или Явлений, Не
                          Поддающихся Разумному Контролю, Включая, Но Не Ограничиваясь: Пожар, Взрыв, Удар Молнии, Скачок Напряжения Или
                          Сбой, Воды, Стихийные Бедствия, Войны, Революции, Гражданские Волнения И Акты Гражданских Или Военных Властей Или
                          Общественных Врагов: Любого Закона, Приказа, Постановления, Указа, Или Постановления Правительства Или Юридического
                          Лица Или Любого Представителя Любого Такого Правительства Или Юридического Лица; Или Волнения Рабочих, В Том Числе,
                          Без Ограничений, Забастовки, Замедление, Пикетирования, Бойкотов Или; Невозможность Обеспечить Безопасность Сырья,
                          Транспортных Средств, Дефицит Топлива Или Энергии, А Также Действия Или Бездействие Других Обычных Перевозчиков.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Возмещение</B></h3>
                        <p>
                          Вы соглашаетесь защищать, возмещать ущерб и ограждать нас, каких-либо материнских компаний, дочерних
                          и зависимых обществ и преемников каждого из вышесказанного, а также должностных лиц, директоров,
                          агентов и сотрудников от каждого из вышесказанного, безвредны от любых и всех претензий, исков,
                          судебных разбирательств, убытков, обязательств, ущерба, обязательств, расходов, долгов и расходов
                          (включая адвоката&#8217;s сборы, судебные издержки и урегулирование сумм), вытекающие из Или
                          связанные с (I) вашим использованием, Или Невозможностью Использования, Веб-Сайт Или Ваше Размещение
                          Или Передача Любого Сообщения Или Информации На Веб-Сайте Вами Или Вашими Авторизованными
                          Пользователями; (Ii) Ваше Нарушение Любого Срока Или Условия Настоящих Условий, Включая, Без
                          Ограничения, Ваше Нарушение Любого Из Заявлений И Гарантий; (Iii) Ваше Нарушение Любых Прав Третьих
                          Лиц, Включая, Без Ограничения, Любое Право На Конфиденциальность, Права На Публичность Или Права
                          Интеллектуальной Собственности; (Iv) Ваше Нарушение Любого Закона, Правила Или Регулирования США
                          Или Любой Другой Страны; (V) Любые Претензии Или Убытки, Которые Возникают В Результате Любой
                          Информации Или Материалов, Которые Вы Предоставляете Mowellens; Или (Vi) Любая Небрежность Или
                          Умышленное Неправомерное Поведение С Вашей Стороны.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Освобождение</B></h3>
                        <p>
                          В Случае Возникновения Спора С Другим Пользователем Или Другой Стороной, Связанной С Веб-Сайтом, Вы Освобождаете нас
                          (А Также Наших Должностных Лиц, Директоров, Агентов, Дочерние Компании, Совместные Предприятия И Сотрудников) От Всех
                          Претензий, Требований И Убытков (Фактических И Косвенных) Любого Рода И Характера, Известных И Неизвестных,
                          Подозреваемых И Не Подозреваемых, Раскрытых И Нераскрытых, Возникающих Из Или Каким-Либо Образом Связанных С Такими
                          Спорами.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Прекращение</B></h3>
                        <p>
                          Мы Можем Приостановить Или Прекратить Использование Данного Веб-Сайта В Любое Время, По Любой Причине Или Без Причины,
                          Без Предварительного Уведомления. Мы Также Можем Заблокировать Ваш Доступ К Нашему Веб-Сайту В Случае, Если (А) Вы
                          Нарушаете Эти Условия; (Б) Мы Не Можем Проверить Или Аутентифицировать Любую Информацию, Которую Вы Предоставляете Нам;
                          (В) Мы Считаем, Что Ваши Действия Могут Привести К Финансовым Потерям Или Юридической Ответственности Для Вас,
                          Наших Пользователей Или Нас.
                        </p>
                        <p>
                          Мы Оставляем За Собой Право Изменять, Приостанавливать Или Прекращать Любой Аспект Веб-Сайта Или
                          Любые Услуги Или Продукты, Предлагаемые В Любое Время, Без Предварительного Уведомления И По Своему
                          Собственному Усмотрению.  Мы Не Несем Ответственности Перед Вами Или Любой Третьей Стороной За
                          Любые Изменения, Приостановку Или Прекращение Работы Веб-Сайта, Любого Продукта Или Услуги Или Любой
                           Их Части.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Заверения и гарантии</B></h3>
                        <p>
                          Вы Подтверждаете, Представляете И Гарантируете Следующее: (I) Вы Достаточно Стары, Чтобы Заключить Обязательный Договор
                          С Нами И Имеете Право И Полномочия Заключать Настоящее Соглашение, А Также Полностью Способны И Компетентны Выполнять
                          Условия, Условия И Обязательства Настоящего Соглашения; (Ii) При Необходимости Вы Получили Все Разрешения И Согласия
                          Каждого Человека, Который Является Объектом Тестирования, Мониторинга Наркотиков Или Других Предлагаемых Услуг Или Чье
                          Имя Или Сходство Используется В Порядке, Предусмотренном Веб-Сайтом И Настоящими Условиями; (IV) Вы Прочитали, Поняли,
                          Согласны, И Обязуетесь Соблюдать Положения И Условия Настоящего Соглашения; (В) фирмы Или Использования Любой Информации,
                          Которую Вы Представили, Или Использовать Любые Результаты Испытания Или Другую Информацию, Предоставленную Через
                          Наши Товары Или Услуги Не Нарушает Прав Каких-Либо Третьих Лиц, Включая, Но Не Ограничиваясь, Любые Права На
                          Интеллектуальную Собственность, Права На Конфиденциальность И Права На Публичное Использование И Не Является,
                          В Целом Или В Части, Любое Другое Действие Или Бездействие, Которое Может Привести К Гражданской И/Или Уголовной
                          Ответственности.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Возможность принять условия использования</B></h3>
                        <p>
                          Вы Заявляете И Гарантируете, Что (А) Обладаете Всеми Полномочиями И Полномочиями Для Заключения И
                          Исполнения Настоящего Соглашения; (Б) Исполнение И Исполнение Настоящего Соглашения Были Должным
                          Образом Санкционированы Вами; И (В) Настоящие Условия Использования Являются Действительными И
                          Обязательными Обязательствами Для Вас, Подлежащими Исполнению В Отношении Вас В Соответствии С Его
                          Условиями.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Конфиденциальность</B></h3>
                        <p>
                          Сбор И Использование Информации, Включая Сбор И Использование Личной Информации, Регулируются Нашей
                          Политикой Конфиденциальности, Которая Включена И Является Частью Настоящих Условий.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Главное </B></h3>
                        <p>
                          Любые Претензии, Возникающие В Связи С Использованием Данного Веб-Сайта И Материалов, Содержащихся В Нем,
                          Регулируются Законодательством Штата/Содружества Калифорния, Независимо От Его Выбора Правовых Положений. Вы
                          Соглашаетесь С Исключительной Юрисдикцией Государственных И Федеральных Судов, Расположенных В Калифорнии.
                          Настоящим Вы Безоговорочно Соглашаетесь С Таким Местом И С Исключительной Юрисдикцией Любого Такого Суда В
                          Отношении Любого Такого Спора. Любые И Все Споры, Прямо Или Косвенно Возникающие Из Или Связанные С Условиями
                          Веб-Сайта, Будут Решаться Индивидуально, Без Обращения К Какой-Либо Форме Групповых Исков. Любые и все претензии,
                          решения и компенсации будут ограничены фактическими затратами из собственного кармана, и ни в коем случае вы не
                          будете иметь право на возмещение адвокатских гонораров. Ни При Каких Обстоятельствах Ни Одному Истцу Не Будет
                          Разрешено Получить Какую-Либо Компенсацию, И Вы Настоящим Отказываетесь От Всех Прав Требовать Штрафные,
                          Специальные, Случайные Или Косвенные Убытки И Любые И Все Права На Умножение Или Иное Увеличение Убытков И Любые
                          Другие Убытки, Кроме Фактических Расходов Из Кармана. Любая Причина Иска Или Претензии, Которые Вы Можете Иметь
                          Прямо Или Косвенно Вытекающие Из Условий Или Связанных С Веб-Сайтом, Должны Быть Начаты В Течение Одного (1)
                          Года После Возникновения Претензии Или Причины Иска. Печатная Версия Настоящих Условий Будет Приемлема В Судебном
                          И Административном Разбирательстве, Основанном На Этих Условиях Или Связанном С Ними, В Той Же Степени, Что И
                          Другие Деловые Документы, Первоначально Созданные И Хранящиеся В Печатном Виде. Вы Должны Соблюдать Все
                          Применимые Внутренние И Международные Законы, Уставы, Постановления И Правила, Касающиеся Использования Сайта.
                          </p>
                        <p>
                          мы не гарантируем непрерывный, непрерывный или безопасный доступ к нашему веб-сайту, и работа веб-сайта может быть
                          нарушена многочисленными факторами, находящимися вне нашего контроля. Если Какое-Либо Положение Настоящих Условий
                          Признается Недействительным Или Не Имеющим Законной Силы, Такое Положение Должно Быть Отменено, А Остальные
                          Положения Должны Быть Исполнены. Вы Соглашаетесь С Тем, Что Настоящие Условия И Все Инкорпорированные Соглашения
                          Могут Быть Переданы Компанией По Нашему Собственному Усмотрению. Заголовки Предназначены Только Для Справочных
                          Целей И Никоим Образом Не Определяют, Не Ограничивают, Не Истолковывают И Не Описывают Объем Или Объем Такого
                          Раздела. Если В Настоящих Условиях Использования Не Указано Иное, Термины " Включает”, “Включая”, “Например”,
                          “Например”, “Например” И Другие Подобные Термины Считаются Включающими Термин “Без Ограничений” Сразу Же После
                          Этого. При Разрешении Любого Спора Или Толковании Любого Положения Настоящего Соглашения Не Будет Сделано Никаких
                          Предположений Или Выводов, Поскольку Одна Из Сторон (Или Ее Представители) Разработала Настоящие Условия
                          Использования; И Каждая Сторона Настоящим Отказывается От Применения Или Каких-Либо Прав В Соответствии С Любым
                          Законом, Который Потребует Толкования Любых Двусмысленностей В Настоящих Условиях Использования Против Стороны,
                          Которая Его Разработала. Наше Бездействие В Отношении Нарушения, Совершенного Вами Или Другими Лицами, Не Лишает
                          Нас Права Действовать В Отношении Последующих Или Аналогичных Нарушений. Настоящие Условия Являются Полным
                          Соглашением Между Вами И Нами В Отношении Предмета Настоящего Соглашения И Заменяют Любые Предыдущие Договоренности
                          Или Соглашения (Письменные Или Устные). Любое положение, которое должно сохраниться для надлежащего осуществления
                          своего намерения (<em>E. G.</em>, возмещение, Общие положения, ограничения ответственности, отказ от ответственности,
                          заявления и гарантии и т. д.) Остается В Силе После Истечения Или Прекращения Действия Настоящих Условий. Ничто В
                          Настоящих Условиях Использования Не Должно Считаться Предоставляющим Какие-Либо Права Или Преимущества Третьим Лицам.
                          </p>
                        <p>
                          Все права, не предоставленные в настоящем документе, прямо зарезервированы за компанией, LLC A California Limited
                          Liabilty Company.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><B>Платежи</B></h3>
                        <p>Платежи</p>
                        <p>
                          Во Время Оформления Заказа Вам Будет Предложено Ввести Свои Платежные Реквизиты. Заполняя Платежные Реквизиты,
                          Вы Подтверждаете, Что Используемая Кредитная Или Дебетовая Карта Является Вашей. Все Поля, Указанные Как Обязательные,
                          Должны Быть Заполнены. Обратите Внимание, Что Мы Можем Собирать И Хранить Вашу Информацию, Используя Зашифрованный
                          Безопасный Механизм Оплаты, И Будем Использовать Вашу Информацию Только В Соответствии С Нашей Политикой
                          Конфиденциальности И Cookie.
                        </p>
                        <p>Пожалуйста, Имейте В Виду, Что Платежи Через Этот Сайт Для Вашей Покупки(Ов) Могут Быть Обработаны Через Следующую Компанию:</p>
                        <p>Компания Uk Limited<br />
                            Regent Street, London, Uk W1b 5tr<br />
                            +44-20-80500-Icp Or +44-20-8050-0427<br />
                            Vat Number: 285574755</p>
                        <p>Настоящим вы соглашаетесь, что любые запросы относительно оплаты вашей покупки(ов) будут направлены на I can pay по телефону 866-422-6729.</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="grid__wrapper">
                <div class="grid__container cta-bottom js-background-zone" data-bz-color="punch">
                    <a href="{% url 'mowellens_contact' %}" class="cta-bottom__item js-printed-checker  ">Контакты </a>
                </div>
            </div>

            <footer class="site-footer">
                <div class="grid__wrapper">
                    <div class="grid__container site-footer__container">
                        <span class="site-footer__copy">Copyright 2019 &copy; Тестовый сайт</span>
                    </div>
                </div>
            </footer>
        </section>
    </main>
</div>

{% endblock %}
