{% extends "mowellens/base.html" %}
{% load static %}
{% block title %}Доставка{% endblock %}

{% block content %}
<div class="scroller-wrapper" scrollbar>
    <main id="barba-wrapper">
        <section class="barba-container" data-namespace="plain-text">

            <div class="grid__wrapper js-background-zone" data-bz-color="default">
                <div class="grid__container grid__container--large">
                    <h2 class="title title--big title--has-slash || font-van || js-printed-checker || js-split-chars">
                      Политика Доставки
                    </h2>
                </div>

                <div class="grid__container">
                    <p class="font-van || js-printed-checker || subtitle subtitle--half subtitle--medium || anim--twist || page-plain-text__subtitle"></p>
                </div>

                <div class="grid__container page-plain-text__list wysiwyg">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Доставка & Поставка </b></h3>
                        <p>
                          Компания может поставляться с использованием USPS, UPS, FedEx или DHL. Все продукты могут быть или
                          не быть доступны в вашем регионе. Клиенты из США и их территорий могут рассчитывать на получение
                          своего заказа в течение семи (7) - десяти (10) рабочих дней. В настоящее время мы не отправляем за
                          пределы США стоимость доставки не возвращается ни при каких обстоятельствах.
                        </p>
                        <p><strong>Пожалуйста, свяжитесь с нами напрямую с любыми вопросами доставки или ускоренной доставки</strong>.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Возврат И Замена </b></h3>
                        <p>
                          Мы хотим, чтобы Вы были довольны своей покупкой. Все продукты, приобретенные на веб-сайте, имеют
                          14-дневную гарантию удовлетворенности клиентов. 14-дневный период начинается с даты поставки.
                          Если вы не удовлетворены своим продуктом, просто верните неиспользованную часть и, в зависимости от
                          обстоятельств, мы можем либо предложить кредит в магазине, либо вернуть деньги. Если мы получим
                          возвращаемый товар в течение 14 дней, мы выдадим возврат. Пожалуйста, обратите внимание, что мы не в
                          состоянии вернуть стоимость доставки. Все расходы, связанные с возвратом продукции, являются вашей
                          ответственностью.
                        </p>
                        <p>
                          Клиенты несут ответственность за проверку их отгрузки на наличие повреждений во время доставки.
                          Претензии к продукту, поврежденному во время доставки, должны быть предъявлены в течение 48 часов.
                          Пожалуйста, свяжитесь с нами с полным описанием повреждений товара(ов).
                        </p>
                        <p><strong>Пожалуйста <a href="mailto:">свяжитесь с нами напрямую</a> с вопросами о возвращений или возвратов</strong>.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Оптовая Цена </b></h3>
                        <p>
                          Могу ли я заказать продукцию по оптовым ценам? Да, если вы являетесь официальным дистрибьютором.
                          Вам необходимо связаться с нами по <a href="mailto:">почте</a>
                          чтобы стать дистрибьютором. Минимальные требования к покупке будут применяться, и вам нужно
                          будет отправить нам копию вашей лицензии реселлеров
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Законность</b></h3>
                        <p>Все товары доступны для покупки на сайте  (<a href="" target="_blank" rel="noopener">адрес)</a>
                          производятся с использованием экстрактов из конопли, а не марихуаны, поэтому они легальны во всех
                          50 штатах. Сайт не продает и не распространяет никаких продуктов, которые нарушают закон США о
                          контролируемых веществах (США.ЧСА.)
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Применяется законодательство США</b></h3>
                        <p>
                          Этот сайт предназначен для пользователей, находящихся в США. Это до вас, чтобы определить,
                          является ли доступ к этому сайту и покупка наших продуктов являются законными, где вы находитесь.
                          Вы заходите на этот сайт и приобрести нашу продукцию на свой страх и риск, и вы несете ответственность
                          за соблюдение всех применимых законов, правил, положений и договоров.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Раскрытие информации управление </b></h3>
                        <p>
                          Заявления, сделанные в отношении этих продуктов, не были оценены по контролю за продуктами и лекарствами.
                          Эффективность этих продуктов не была подтверждена одобренными FDA исследованиями. Эти продукты не предназначены
                          для диагностики, лечения, лечения или профилактики заболеваний. Вся информация, представленная здесь, не является
                          заменой или альтернативой информации от лицензированного практикующего врача. Пожалуйста, проконсультируйтесь с
                          вашим медицинским работником о потенциальных взаимодействиях или других возможных осложнениях перед использованием
                          любого продукта. Федеральный закон о продуктах питания, лекарствах и косметике требует этого уведомления.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Отказ От Ответственности</b></h3>
                        <p>
                          Информация, представленная на веб-сайте о продуктах, условиях, диагнозах, лечении или любой другой информации,
                          не является медицинской консультацией. Этот сайт содержит общую информацию о диете, здоровье и питание.
                          Информация не является консультацией и не должна рассматриваться как таковая. Сайт не предоставляет медицинские или
                          диагностические услуги и не назначает лекарства.<strong> < /strong>продукты или любая другая информация не являются
                            диагнозом, лечением или протоколом для любого заболевания или состояния.
                        </p>
                        <p>
                          Использование веб-сайта не является заменой профессионального суждения медицинских работников в диагностике и
                          лечении пациентов. Вы признаете свою исключительную ответственность за получение медицинской консультации у врача.
                          Для медицинских работников вы признаете свою исключительную ответственность за медицинские решения или действия в
                          отношении медицинского обслуживания, лечения и благополучия ваших пациентов, включая, без ограничения, все ваши
                          действия или бездействие при лечении соответствующего пациента. Любое использование или использование вами веб-сайта
                          не уменьшает эту ответственность. Вы признаете и соглашаетесь, что результаты продукта не являются нашей ошибкой.
                          Вы принимаете все риски, связанные с использованием сайта.
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid__wrapper">
                <div class="grid__container cta-bottom js-background-zone" data-bz-color="punch">
                    <a href="{% url 'mowellens_contact' %}" class="cta-bottom__item js-printed-checker  ">Контакты </a>
                </div>
            </div>

            <footer class="site-footer">
                <div class="grid__wrapper">
                    <div class="grid__container site-footer__container">
                        <span class="site-footer__copy">Copyright 2019 &copy; Тестовый сайт</span>
                    </div>
                </div>
            </footer>
        </section>
    </main>
</div>
{% endblock %}
