{% extends "mowellens/base.html" %}
{% load static %}
{% block title %}Конфиденциальность{% endblock %}

{% block content %}
<div class="scroller-wrapper" scrollbar>
    <main id="barba-wrapper">
        <section class="barba-container" data-namespace="plain-text">


            <div class="grid__wrapper js-background-zone" data-bz-color="default">
                <div class="grid__container grid__container--large">
                    <h2 class="title title--big title--has-slash || font-van || js-printed-checker || js-split-chars">Конфиденциальность</h2>
                </div>

                <div class="grid__container">
                    <p class="font-van || js-printed-checker || subtitle subtitle--half subtitle--medium || anim--twist || page-plain-text__subtitle">
                      Мы же говорили вам, что потратили целое состояние на юриспруденцию и не врали. Все эти причудливые слова,
                      чтобы сказать, что мы не будем делиться вашей информацией, историей посетителей или чем-либо еще о вас
                      с кем-либо еще, независимо от того, насколько хорошо они просят.
                    </p>
                </div>

                <div class="grid__container page-plain-text__list wysiwyg">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"></h3>
                        <p>
                          Эта политика конфиденциальности определяет, как мы используем и защищаем любую информацию, которую вы предоставляете
                          нам при использовании этого веб-сайта. Мы стремимся к тому, что ваша конфиденциальность защищена. Если мы просим Вас
                          предоставить определенную информацию, по которой вас можно идентифицировать при использовании этого сайта,
                          то вы можете быть уверены, что он будет использоваться только в соответствии с настоящим Положением о конфиденциальности.
                          мы можем время от времени изменять эту политику, обновляя эту страницу. Вы должны проверять эту страницу время от
                          времени, чтобы убедиться, что вы счастливы с любым изменениям.
                        </p>
                        <p>
                          Компания, LLC & amp; Компания LTD ("Компания, “мы”, “нас” или “наши”) обязуются сообщать вам,
                          как мы будем собирать и использовать вашу личную информацию. Политика конфиденциальности
                          распространяется на информацию, собранную через веб-сайт (включая любые версии, оптимизированные для
                          просмотра на беспроводном или планшетном устройстве), а также все другие интерактивные функции,
                          услуги и коммуникации, предоставляемые нами (“веб-сайт”). Мы установили настоящую Политику
                          конфиденциальности ("Политика конфиденциальности"), чтобы вы знали, какую личную информацию мы
                          можем собирать во время вашего посещения веб-сайта, почему мы собираем вашу информацию, как мы
                          используем вашу личную информацию, при каких обстоятельствах мы можем раскрывать вашу личную
                          информацию и как вы можете управлять своей личной
                        </p>
                        <p>
                          Настоящая политика конфиденциальности не распространяется на информацию, которую вы можете
                          предоставить нам в автономном режиме или на веб-сайты, поддерживаемые другими компаниями или
                          организациями, на которые мы можем ссылаться или которые могут ссылаться на нас. Мы не несем
                          ответственности за действия и Политику конфиденциальности сторонних веб-сайтов.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"></h3>
                        <p>
                          Посетив наш сайт, вы принимаете правила, описанные в нашей Политике конфиденциальности. Если вы не согласны с
                          условиями настоящей Политики конфиденциальности, пожалуйста, не используйте сайт. Мы оставляем за собой право
                          изменять или дополнять Условия нашей политики конфиденциальности время от времени без предварительного уведомления.
                          Продолжая использовать наш сайт после опубликования изменений этих условий будет означать, что вы принимаете эти
                          изменения. Если мы намерены применить изменения или поправки к настоящей Политике конфиденциальности задним числом
                          или к личной информации, уже находящейся в нашем распоряжении, мы предоставим вам уведомление об изменениях или
                          поправках и запросим ваше согласие на такое использование.
                        </p>
                        <p>
                          Если у вас есть какие-либо вопросы по поводу этой политики конфиденциальности или вы не видите здесь свои проблемы,
                          вы должны связаться с нами по электронной почте по адресу ...
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Какая информация обо мне собирается и хранится?</b></h3>
                        <p>
                          Мы собираем два основных типа информации от вас в связи с вашим использованием веб-сайта: персональная информация (“PII”)
                          и неличная информация. Личная информация-это любая информация, которая может индивидуально идентифицировать вас и
                          включает ваше имя и контактную информацию, такую как ваш адрес электронной почты, номер телефона или почтовый адрес.
                           Неличная информация включает в себя информацию, которая не идентифицирует вас лично, но может быть связана с вами.
                           Примеры неличной информации включают идентификаторы устройств, IP-адреса, демографическую информацию и общую информацию
                           о местоположении. Если неличная информация напрямую связана с персональной информацией, она будет считаться персональной
                           информацией, пока она связана. Совокупная и обезличенная информация не считается персональной информацией.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Личная информация</b></h3>
                        <p>
                          Как правило, вы можете просматривать веб-сайт, не предоставляя нам свою личную информацию. Однако существует ряд
                          обстоятельств, при которых вы можете предоставить нам вашу личную информацию. Ниже перечислены наиболее распространенные
                          способы, которыми мы можем собирать Вашу персональную информацию.
                        </p>
                        <p>&#8211; Покупка чего-то из нашего магазина<br />
                            &#8211; Запросы на информацию или другую помощь, запросы и другие сообщения к нам<br />
                            &#8211; Участие в опросах, специальных мероприятиях и акциях<br />
                            &#8211; Подпишитесь на e-mail рассылок или оповещений по электронной почте от нас<br />
                            &#8211; Участие в социальных сетях с участием компании, нашего сайта и наших брендов<br />
                            &#8211; Любое другое место на сайте, где вы сознательно добровольно личную информацию</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Сбор персональной информации с Портала социальных сетей или через него</b></h3>
                        <p>
                          Когда вы взаимодействуете с любой страницей или учетной записью mowellens на платформе социальных
                          сетей, такой как Facebook, Twitter, Google+ или LinkedIn, мы можем собирать личную информацию,
                          которую вы предоставляете нам на этой странице или учетной записи, включая ваш идентификатор учетной
                          записи или “дескриптор"."Тем не менее, мы будем соблюдать политику конфиденциальности соответствующей
                          платформы социальных сетей, и мы будем собирать и хранить только такую личную информацию, которую нам
                          разрешено собирать этими платформами социальных сетей. Если вы решите перейти по ссылке на веб-сайт
                          или получить доступ к нему через службу социальных сетей, мы и эта служба можем поделиться
                          определенной информацией о вас и вашей деятельности. С вашего согласия мы также можем делиться
                          информацией о вашей деятельности, в том числе о том, что вы просматриваете на веб-сайте, с
                          пользователями этой социальной сети.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Неличная Информация</b></h3>
                        <p>Кроме того, когда вы взаимодействуете с веб-сайтом, мы можем собирать определенную информацию,
                          которая не идентифицирует вас индивидуально, и наши серверы могут автоматически вести журнал
                          активности вашего использования нашего веб-сайта (“неличная информация” или “не-PII”). Как правило,
                          мы собираем и храним следующие категории неличной информации:
                        </p>
                        <p>&#8211; Демографические данные, такие как возраст, пол и пятизначный почтовый индекс в рамках сбора личной информации.<br />
                            &#8211; Сведения о вашем компьютере, мобильном устройстве или другом устройстве, которое вы используете для доступа к веб-сайту. Эта информация может включать IP-адрес, информацию о геолокации, уникальные идентификаторы устройств, тип браузера, язык браузера и другую информацию о транзакциях.<br />
                            &#8211; Информация об использовании веб-сайта. Эта информация включает в себя, среди прочего, историю страниц, которые вы просматриваете. Мы используем эту информацию, чтобы предоставить вам более персонализированный опыт на сайтах.<br />
                            &#8211; Дополнительные "данные о трафике", такие как время доступа, Дата доступа, отчеты о сбоях программного обеспечения, идентификационный номер сеанса, время доступа и адреса ссылающихся веб-сайтов.<br />
                            &#8211; Агрегированные данные об использовании веб-сайта.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Сбор персональной и Неличной информации с помощью опросов </b></h3>
                        <p>
                          Время от времени мы можем предоставлять вам возможность участвовать в опросах о наших услугах, которые могут
                          проводиться третьей стороной. Если вы участвуете, мы запросим у вас определенную личную информацию. Участие в этих
                          опросах является добровольным, поэтому у вас есть выбор, следует ли раскрывать эту личную информацию. Запрашиваемая
                          личная информация обычно включает контактную информацию. Если есть третья сторона, пожалуйста, не забудьте
                          ознакомиться с политикой конфиденциальности этой стороны.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Использование Cookies, Flash Cookies и веб-маяков</b></h3>
                        <p>
                          Как и многие сайты, мы используем “куки”, которые представляют собой небольшие текстовые файлы, которые хранятся
                          на вашем компьютере или оборудовании при посещении определенных веб-страниц, которые записывают ваши предпочтения и
                          действия. Мы используем куки для отслеживания использования нашего сайта и онлайн-сервисов. Мы также можем использовать
                          куки-файлы для мониторинга трафика, улучшения веб-сайта и его упрощения и/или релевантности для вашего использования.
                        </p>
                        <p>
                          Большинство веб-браузеров автоматически принимают куки, но, если вы предпочитаете, вы можете изменить ваши настройки
                          браузера, чтобы отключить или отклонить cookies. Если вы удалите файлы cookie или настроите свой веб-браузер на
                          отклонение файлов cookie, некоторые функции веб-сайта могут не работать или работать не так, как задумано. Для
                          получения дополнительной информации о куки-файлах и их отключении вы можете ознакомиться с информацией, предоставленной
                          Бюро интерактивной рекламы по адресу <a href="http://www.allabout" >www.allaboutcookies.org</a>.
                        </p>
                        <p>
                          Мы также можем использовать веб-маяки или флеш-куки. Веб-Маяк или флэш-файл cookie (также известный как “теги действий”,
                          “теги трассировки” или “однопиксельные GIF-файлы”)-это невидимая графика на веб-странице, которая запрограммирована на
                          сбор неличной информации об использовании вами данного веб-сайта. Мы не передаем и не предоставляем личную информацию,
                          которую мы можем собирать через такие веб-маяки, такие как имена, адреса электронной почты и номера телефонов без вашего
                          специального разрешения.
                        </p>
                        <p>
                          Мы также можем использовать “веб-хранилище " для хранения данных об использовании вами нашего веб-сайта. Веб-хранилище-это
                          функция в некоторых браузерах, которая позволяет веб-сайтам хранить данные в вашем браузере, а не в файле cookie.
                          Это должно сделать эти данные более безопасными и сделать ваш браузер работать лучше. Мы не передаем и не предоставляем
                          PII, которые мы можем хранить в веб-хранилище, такие как имена, адреса электронной почты и номера телефонов без вашего
                          специального разрешения.</p>
                        <p> мы можем сотрудничать со сторонними рекламными компаниями, которые могут использовать flash или расширенные файлы
                          cookie или веб-маяки для лучшего предоставления рекламы о наших товарах и услугах, которые могут представлять для вас
                          интерес. Эти третьи лица могут использовать файлы cookie самостоятельно или в сочетании с веб-маяками или другими
                          технологиями отслеживания для сбора информации о вас при использовании веб-сайта. Они могут собирать информацию о вашей
                          деятельности в интернете с течением времени и через различные веб-сайты и другие онлайн-сервисы. Они могут использовать
                          эту информацию для предоставления вам рекламы на основе интересов или другого целевого контента. Эти партнеры не имеют
                          доступа или не используют ваше имя, адрес, адрес электронной почты, номер телефона или другую личную информацию от нас
                          без вашего согласия. Однако они могут использовать постоянные идентификаторы для анонимного отслеживания вашего
                          использования Интернета на других веб-сайтах в своих сетях за пределами веб-сайта. Такие третьи лица могут, имея
                          достаточные данные из других источников, быть в состоянии лично идентифицировать вас, неизвестного нам. Чтобы узнать
                          больше об использовании этой информации или отказаться от использования этой информации нашими сторонними рекламными
                          партнерами, пожалуйста, посетите сетевую рекламную инициативу, нажав
                          <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a>.</p>
                        <p> Ваш браузер или устройство может включать в себя функцию “Не отслеживать”. Наши методы сбора и
                          раскрытия информации, а также выбор, который мы предоставляем, будут продолжать работать в
                          соответствии с настоящей Политикой конфиденциальности, независимо от того, получен ли сигнал
                          "Не отслеживать".
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Собирается Ли Личная Информация От Детей?</b></h3>
                        <p>
                          Веб-сайт не предназначен для детей в возрасте до 18 лет. Если иное не было раскрыто во время сбора и
                          с согласия родителей или опекунов, сайт сознательно не собирает личную информацию от детей в возрасте
                          до 18 лет. Если вам не исполнилось 18 лет, не предоставляйте личную информацию компании без согласия
                          ваших родителей. Если сайт обнаружит, что ребенок в возрасте до 18 лет предоставил нам личную
                          информацию, и у нас нет согласия родителей, сайт немедленно удалит информацию этого ребенка с
                          веб-сайта. Если вы считаете, что компании была предоставлена личная информация ребенка в возрасте до
                          18 лет без согласия родителей, пожалуйста, немедленно сообщите нам об этом по адресу
                          <a href="mailto:" >......</a>. мы соблюдаем требования COPPA (Childrens Online Privacy Protection
                          Act), мы не собираем никакой информации от кого-либо в возрасте до 18 лет.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Как Мы Используем Вашу Информацию?</b></h3>
                        <p>
                          Мы используем информацию, которую мы узнаем от вас, чтобы помочь нам персонализировать и постоянно
                          совершенствовать свой опыт на сайте. Мы можем использовать вашу личную и неличную информацию
                          следующими способами:
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Общее пользование</b></h3>
                        <p>Мы можем использовать эту информацию для:</p>
                        <p>&#8211; Улучшите наши продукты, наш сайт, и как мы управляем нашим бизнесом<br />
                            &#8211; Предоставлять вам услуги, контент, продукты или другую информацию, которую вы запрашиваете;<br />
                            &#8211; Связаться с вами о вашей учетной записи или сделок с нами и отправить вам информацию о функциях и усовершенствованиях на нашем веб-сайте или на наш сайт;<br />
                            &#8211; Связаться с вами об изменениях в нашей политике;<br />
                            &#8211; Персонализация контента и опыта на нашем сайте, в том числе предоставление вам рекомендаций на основе ваших предпочтений;<br />
                            &#8211; Администрирование опросов;<br />
                            &#8211; Отправить вам предложения и акции для наших продуктов и услуг, или специальные мероприятия<br />
                            &#8211; Оптимизация или улучшение наших услуг, продуктов и операций;<br />
                            &#8211; Выявлять, расследовать и предотвращать действия, которые могут нарушать нашу политику или быть незаконными; и<br />
                            &#8211; Выполнение статистического, демографического и маркетингового анализа пользователей сайта.</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Комбинированная информации о вас</b></h3>
                        <p>
                          Мы можем использовать информацию из одной части веб-сайта на других частях веб-сайта или в нашей сети веб-сайтов,
                          все из которых принадлежат и управляются сайтом, и мы можем объединить информацию, собранную из нескольких частей
                          веб-сайта в одну запись пользователя. Мы также можем использовать и / или объединять информацию, которую мы собираем
                          в автономном режиме или мы собираем или получаем из сторонних источников для улучшения, расширения и проверки
                          точности ваших записей клиентов. Если мы объединяем информацию, собранную с веб-сайта, с информацией, подлежащей
                          дополнительным ограничениям на использование или раскрытие, такой как информация, защищенная в соответствии с
                          Законом о переносимости и подотчетности медицинского страхования с внесенными поправками, включая положения об
                          осуществлении (в совокупности “HIPAA”), мы будем применять более ограничительные правила к объединенной информации.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Кому Мы Предоставляем Вашу Информацию?</b></h3>
                        <p>
                          За исключением случаев, описанных в настоящей Политике конфиденциальности, мы не раскрываем информацию о
                          вашей личной информации, собранной в интернете, никаким организациям, не являющимся частью Mowellens™ или ее
                          дочерних компаний или связанных с ними лиц.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Агенты Третьей Стороны </b></h3>
                        <p>
                          У нас есть сторонние агенты, дочерние компании, филиалы и партнеры, которые выполняют функции от нашего имени,
                          такие как хостинг, синдикация контента, инструменты управления контентом, интеграция в социальные сети, маркетинг,
                          аналитика, выставление счетов, хранение, доставка, выполнение, распространение, обслуживание клиентов и защита от
                          мошенничества. Эти лица могут иметь доступ к персональной информации, необходимой для выполнения их функций. Если
                          такой доступ необходим, третьи лица обязаны сохранять конфиденциальность и безопасность личной информации.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Деловые партнеры и третьи лица</b></h3>
                        <p>
                          Мы можем время от времени передавать вашу личную информацию нашим деловым партнерам или со-маркетологам. Мы также
                          можем передавать вашу личную информацию третьим лицам, которые предоставляют продукты и услуги, которые, по нашему
                          мнению, могут вас заинтересовать. Хотя наше обращение с Вашей персональной информацией регулируется настоящей Политикой
                          конфиденциальности, обращение делового партнера или третьей стороны с Вашей персональной информацией будет регулироваться
                          политикой конфиденциальности делового партнера или третьей стороны. Вы можете в любое время отозвать свое согласие на
                          обмен Вашей персональной информацией с деловыми партнерами и третьими лицами, выполнив процедуру отказа, описанную ниже.
                          </p>
                        <P>чтобы отказаться нажмите кнопку “Отписаться”, включенный в нижней части каждой электронной почты или связаться с нами
                          по адресу <а href="mailto:">....</a> или пишите нам на:
                        </p>
                        <p>Сайт, LLC<br />
                            110 улицаt<br />
                            55 дом<br />
                            спросить Винни Пуха</p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Назначение</b></h3>
                        <p>
                          Мы можем изменить нашу собственность или корпоративную организацию при предоставлении веб-сайта. Мы также
                          можем продавать определенные активы, связанные с веб-сайтом. В таком случае мы можем передать часть или всю вашу
                          информацию организации, приобретающей все или часть наших активов, или другой организации, с которой мы
                          объединились. В этих обстоятельствах мы просим приобретающую сторону следовать практике, описанной в настоящей
                          Политике конфиденциальности. Тем не менее, мы не можем обещать, что приобретающая сторона или объединенная
                          организация будет иметь те же правила конфиденциальности или относиться к вашей информации так же, как описано
                          в настоящей Политике конфиденциальности.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Правоохранительные органы, судебный процесс и чрезвычайные ситуации</b></h3>
                        <p class="BodyText1" style="text-align: justify;"><span lang="EN-AU" style="font-size: 12.0pt; font-family: Calibri; color: windowtext;">
                          Мы также можем использовать или раскрывать личную информацию, если это требуется по закону или добросовестно полагая,
                          что такие действия необходимы для (А) соблюдения применимого законодательства или соблюдения судебного процесса,
                          проведенного на нас или веб-сайте; (б) защиты и защиты наших прав или собственности, веб-сайта или наших пользователей
                          и (в) действий в чрезвычайных обстоятельствах для защиты личной безопасности нас, наших аффилированных лиц, агентов
                          или пользователей веб-сайта или общественности.
                        </span></p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Использование неперсонифицированной информации</b></h3>
                        <p>
                          Мы можем раскрывать или передавать неличную информацию любым другим способом, который мы считаем
                          целесообразным или необходимым. Помимо прочего, мы будем раскрывать неличную информацию третьим
                          лицам, чтобы помочь нам определить, как люди используют части веб-сайта и кто наши пользователи,
                          чтобы мы могли улучшить наш веб-сайт. Мы также будем раскрывать неличную информацию нашим партнерам
                          и другим третьим лицам о том, как наши пользователи совместно используют веб-сайт.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Какие Шаги Предпринимаются Для Обеспечения Безопасности Личной Информации?</b></h3>
                        <p>
                          Мы заботимся об обеспечении безопасности вашей личной информации и принимаем разумные меры безопасности для защиты
                          такой информации. Пожалуйста, поймите, однако, что, хотя мы стараемся изо всех сил защитить вашу личную информацию
                          после ее получения, никакая передача данных через Интернет или любую другую общедоступную сеть не может быть
                          гарантирована на 100% безопасной.
                        </p>
                        <P>вы должны помочь защитить конфиденциальность вашей собственной информации. Вы должны принять меры предосторожности
                          для защиты безопасности любой личной информации, которую вы можете передавать по любым домашним сетям, беспроводным
                          маршрутизаторам, беспроводным (WiFi) сетям или подобным устройствам, используя шифрование и другие методы для
                          предотвращения несанкционированного перехвата или получения любой вашей личной информации. Вы несете ответственность
                          за безопасность вашей информации при использовании незашифрованных, открытых или иным образом незащищенных сетей.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Обработка платежей </b></h3>
                        <p>
                          Если вы предоставляете нам информацию о своей кредитной карте в процессе оплаты, мы отправляем ее на
                          наш платежный шлюз, совместимый с PCI-DSS, для обработки с использованием технологии шифрования SSL.
                          Данные вашей кредитной карты не хранится для использования за пределами вашей текущей транзакции.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Как Долго Мы Храним Личную Информацию?</b></h3>
                        <p>
                          Период времени, в течение которого мы храним информацию, зависит от того, для чего она используется.
                          В некоторых случаях существуют юридические требования к хранению данных в течение минимального
                          периода. Если нет конкретного юридического требования к нам хранить информацию, мы будем хранить ее
                          не дольше, чем это необходимо для целей, для которых данные были собраны или для которых они должны
                          быть дополнительно обработаны.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Что происходит, когда я ссылаюсь на или с другого сайта?</b></h3>
                        <p>
                          Веб-сайт может содержать ссылки на другие веб-сайты, управляемые аффилированными лицами или третьими лицами. Обратите внимание,
                          что методы, описанные в настоящей Политике конфиденциальности не распространяются на информацию, собранную посредством
                          этих веб-сайтов. Мы не несем ответственности за действия и Политику конфиденциальности третьих лиц и других веб-сайтов.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Регулирующий закон</b></h3>
                        <p>
                          Этот веб-сайт публикуется в Соединенных Штатах, и личная информация пользователей нашего веб-сайта находится в
                          Соединенных Штатах. Наш веб-сайт адресован физическим лицам, находящимся в Соединенных Штатах, и наша политика
                          направлена на соблюдение этих законов в той мере, в какой они могут применяться к HMRI. Если вы не уверены,
                          что эта политика конфиденциальности противоречит действующим местным законам о конфиденциальности, в которых вы
                          находитесь, вы не должны предоставлять нам вашу личную информацию.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Уведомление для неамериканских пользователей</b></h3>
                        <p>
                          Если вы находитесь за пределами Соединенных Штатов, вы должны знать, что ваша личная информация будет передана в
                          Соединенные Штаты Америки, законы которых могут считаться вашей страной, чтобы иметь недостаточную защиту данных.
                          Если вы добровольно предоставляете нам личную информацию, вы тем самым соглашаетесь на общее использование такой
                          информации, как указано в настоящей Политике конфиденциальности, и на передачу этой информации и/или хранение этой
                          информации в Соединенных Штатах.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Доступ к вашей информации и ее исправление</b></h3>
                        <p>
                          Вы можете отправить электронное письмо по адресу ..... чтобы запросить исправление или удаление любой
                          личной информации, которую вы предоставили нам. Имейте в виду, что мы не можем удалить вашу личную
                          информацию, не удалив также вашу учетную запись пользователя. Вам не будет разрешено изучать личную
                          информацию любого другого лица или организации и может потребоваться предоставить нам личную
                          информацию для проверки вашей личности до получения доступа к любым записям, содержащим информацию о
                          вас. Мы не можем удовлетворить запрос на изменение или удаление личной информации, если мы считаем,
                          что это нарушит какой-либо закон или юридическое требование или приведет к неправильной информации.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Ваши Права На Конфиденциальность В Калифорнии </b></h3>
                        <p>
                          Раздел 1798.83 Гражданского Кодекса Калифорнии разрешает клиентам, которые являются жителями
                          Калифорнии, запрашивать определенную информацию относительно ее раскрытия их личной информации
                          третьим лицам для их прямых маркетинговых целей. Чтобы сделать такой запрос, пожалуйста, отправьте
                          письмо по адресу .... указав, что вы ищете свое " уведомление о выборе клиента в Калифорнии.-
                          Пожалуйста, дайте мне тридцать дней на ответ.
                        </p>
                    </div>
                    <div class="page-plain-text__item || anim-fade || js-printed-checker">
                        <h3 class="page-plain-text__list-title"><b>Обслуживание клиентов </b></h3>
                        <p>
                          При возникновении вопросов или получения дополнительной информации свяжитесь с нашей службой
                          поддержки по адресу <а href="mailto:">.....</a> или по почте:
                        </p>
                        <p>Mowellens<br />
                            110 West C Street<br />
                            Suite 1300<br />
                            San Diego, CA 92101</p>
                        <p>________</p>
                        <p>Mowellens LTD</p>
                        <p>1A Erskine Street, Newry, Co. Down.</p>
                        <p>Northern Ireland, BT35 6BX</p>
                    </div>
                </div>
            </div>

            <div class="grid__wrapper">
                <div class="grid__container cta-bottom js-background-zone" data-bz-color="punch">
                    <a href="{% url 'mowellens_contact' %}" class="cta-bottom__item js-printed-checker  ">Контакты </a>
                </div>
            </div>

            <footer class="site-footer">
                <div class="grid__wrapper">
                    <div class="grid__container site-footer__container">
                        <span class="site-footer__copy">Copyright 2019 &copy; Тестовый сайт</span>
                    </div>
                </div>
            </footer>
        </section>
    </main>
</div>
{% endblock %}
