<div id="contact">
  <div id="contact-main">
    <div id="contact-context" class="sec-context flex-vertical">
      <div class="sec-context-inner darker-bg is-left">
        <h4 id="contact-title" class="font-header-bold">Don’t blindly<br>follow the crowd.</h4>
        <div id="contact-desc">Let’s make something incredible together!</div>
        <div id="contact-columns">
          <div class="contact-column">
            <div class="contact-column-title font-bold">Contact</div>
            <ul class="nav">
              <li class="contact-column-item">
                <a href="mailto:hello@lusion.co" target="_blank">hello@lusion.co</a>
              </li>
              <li class="contact-column-item">
                <a href="mailto:business@lusion.co" target="_blank">business@lusion.co</a>
              </li>
              <li class="contact-column-item">
                <a href="mailto:jobs@lusion.co" target="_blank">jobs@lusion.co</a>
              </li>
              <li class="contact-column-item">+44 746 3343 413</li>
            </ul>
          </div>
          <div class="contact-column">
            <div class="contact-column-title font-bold">Visit</div>
            <ul class="nav">
              <li class="contact-column-item">Suite 2<br>9 Marsh Street<br>Bristol, BS1 4AA<br>United Kingdom</li>
            </ul>
          </div>
          <div class="contact-column">
            <div class="contact-column-title font-bold">Social</div>
            <ul class="nav">
              <li class="contact-column-item">
                <a href="https://www.facebook.com/lusionltd/" target="_blank" rel="noreferrer">Facebook</a>
              </li>
              <li class="contact-column-item">
                <a href="https://twitter.com/lusionltd" target="_blank" rel="noreferrer">Twitter</a>
              </li>
              <li class="contact-column-item">
                <a href="https://www.instagram.com/lusionltd/" target="_blank" rel="noreferrer">Instagram</a>
              </li>
              <li class="contact-column-item">
                <a href="https://medium.com/lusion-ltd/" target="_blank" rel="noreferrer">Medium</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear-fix"></div>
        <a id="contact-subscribe-btn" href="">Subscribe to our newsletter</a>
      </div>
    </div>
  </div>
  <footer id="contact-footer">
    <div id="contact-footer-copyright" class="font-subheader">© 2017-2019 Lusion Ltd. All Rights Reserved.</div>
  </footer>
</div>
