<div id="featured">
  <div id="featured-context" class="sec-context">
    <div class="sec-context-inner">
      <h3 id="featured-title" class="sec-title font-header">Crafted with<br>Dedication<br>and Love</h3>
      <div id="featured-desc" class="sec-desc font-bold">We love what we do and combine our expert knowledge with enthusiasm to go
        above and beyond for our clients. Check out some of our best work:
      </div>
    </div>
    <div id="featured-items-container">
      <div class="featured-item" data-id="kaos-logo-generator">
        <a class="featured-item-link" href="/work/kaos-logo-generator">
          <div class="featured-item-image">
            <div class="featured-item-image-inner"></div>
          </div>
          <div class="featured-item-context is-white-content" data-base-color="#00f">
            <div class="featured-item-desc font-header-bold split-line-mask-effect">Audio driven generative visualisation</div>
            <div class="featured-item-client split-line-mask-effect">Client: AKQA Porland, Palms</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
              <polygon points="6.767 0.603 6.767 5.897 0.871 0 0 0.872 5.894 6.767 0.605 6.767 0.605 8 8 8 8 0.603 6.767 0.603"/>
            </svg>
          </div>
        </a>
      </div>
      <div class="featured-item" data-id="open-continents">
        <a class="featured-item-link" href="">
          <div class="featured-item-image">
            <div class="featured-item-image-inner"></div>
          </div>
          <div class="featured-item-context is-white-content" data-base-color="#00f">
            <div class="featured-item-desc font-header-bold split-line-mask-effect">
              A cinematic exploration in global storytelling.
            </div>
            <div class="featured-item-client split-line-mask-effect">Client: Julius Onah</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
              <polygon points="6.767 0.603 6.767 5.897 0.871 0 0 0.872 5.894 6.767 0.605 6.767 0.605 8 8 8 8 0.603 6.767 0.603"/></svg>
            </div>
          </a>
        </div>
        <div class="featured-item" data-id="particle-love">
          <a class="featured-item-link" href="">
            <div class="featured-item-image">
              <div class="featured-item-image-inner"></div>
            </div>
            <div class="featured-item-context is-white-content" data-base-color="#00f">
              <div class="featured-item-desc font-header-bold split-line-mask-effect">
                Take Realtime Particle Effects to a whole new level.
              </div>
              <div class="featured-item-client split-line-mask-effect">Client: -</div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <polygon points="6.767 0.603 6.767 5.897 0.871 0 0 0.872 5.894 6.767 0.605 6.767 0.605 8 8 8 8 0.603 6.767 0.603"/>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
