{% extends "grenada/base_2.html" %}
{% load static %}

{% block title %}Проект 6{% endblock %}

{% block content %}
<div id="main">

            	<!-- Hero Section -->
                <div id="hero" class="has-image">
                    <div id="hero-styles" class="parallax-onscroll">
                        <div id="hero-caption" class="text-align-center">
                            <div class="inner">
                                <h1 class="hero-title">Baseball <span>Game</span></h1>
                                <h2 class="hero-subtitle">Let the game proceed on the battlefield</h2>

                                <div class="scroll-down-wrap no-border link">
                                    <a href="#" class="section-down-arrow ">
                                        <svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
                                            <path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hero-bg-wrapper">
                    <div id="hero-image-parallax">
                        <div id="hero-bg-image" style="background-image:url({% static 'grenada/images/06hero.jpg' %})"></div>
                    </div>
                </div>
                <!--/Hero Section -->

                <!-- Main Content -->
                <div id="main-content">
                	<div id="main-page-content">

                        <!-- Row -->
                        <div class="vc_row row_padding_top row_padding_bottom">

                            <div class="container">

                                <div class="one_third has-animation" data-delay="10">
                                	<h4>Baseball is a bat and ball game played between two opposing teams.</h4>
                                </div>

                                <div class="two_third has-animation last" data-delay="50">
                                    <p>The first objective of the batting team is to have a player reach first base safely. A player on the batting team who reaches first base without being called out can attempt to advance to subsequent bases as a runner, either immediately or during teammates' turns batting. The fielding team tries to prevent runs by getting batters or runners out, which forces them out of the field of play. <br><br> Both the pitcher and fielders have methods of getting the batting team's players out. The opposing teams switch back and forth between batting and fielding; the batting team's turn to bat is over once the fielding team records three outs. One turn batting for each team constitutes an inning.</p>
                                    <a href="" class="link"><span>Read More</span></a>
                                </div>

                            </div>

                        </div>
                        <!--/Row -->

                        <!-- Row -->
                        <div class="vc_row full">

                            <div class="container has-animation" data-delay="100">

                                <!-- Collage -->
                                <div id="justified-grid">

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb01.jpg' %}">
                                            <img src="{% static 'grenada/images/bb01.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb02.jpg' %}">
                                            <img src="{% static 'grenada/images/bb02.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb03.jpg' %}">
                                            <img src="{% static 'grenada/images/bb03.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb04.jpg' %}">
                                            <img src="{% static 'grenada/images/bb04.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb05.jpg' %}">
                                            <img src="{% static 'grenada/images/bb05.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb06.jpg' %}">
                                            <img src="{% static 'grenada/images/bb06.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb07.jpg' %}">
                                            <img src="{% static 'grenada/images/bb07.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb08.jpg' %}">
                                            <img src="{% static 'grenada/images/bb08.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb09.jpg' %}">
                                            <img src="{% static 'grenada/images/bb09.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb10.jpg' %}">
                                            <img src="{% static 'grenada/images/bb10.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb11.jpg' %}">
                                            <img src="{% static 'grenada/images/bb11.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb12.jpg' %}">
                                            <img src="{% static 'grenada/images/bb12.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">
                                        <a class="image-link" href="{% static 'grenada/images/bb13.jpg' %}">
                                            <img src="{% static 'grenada/images/bb13.jpg' %}" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>

                              </div>
                                <!--/Collage -->

                            </div>

                        </div>
                        <!--/Row -->

                    </div>
                	<!--/Main Page Content -->

                    <!-- Project Navigation -->
                    <div id="project-nav">
                        <div class="next-project-wrap">
                            <div class="next-project-image" style="background-image:url({% static 'grenada/images/07hero.jpg' %})"></div>
                            <a class="next-project-title next-ajax-link-project hide-ball " data-type="page-transition" href="{% url 'grenada_detail7' %}">
                                <div class="main-title">The <span>Biker</span></div>
                                <div class="main-subtitle">Next Project</div>
                            </a>
                        </div>
                    </div>
                    <!--/Project Navigation -->

                </div>
                <!--/Main Content -->
            </div>

{% endblock %}
