{% extends "grenada/base_2.html" %}
{% load static %}

{% block title %}Проект 2{% endblock %}

{% block content %}

<div id="main">
            	<!-- Hero Section -->
                <div id="hero" class="has-image">
                    <div id="hero-styles" class="parallax-onscroll">
                        <div id="hero-caption" class="text-align-center">
                            <div class="inner">
                                <h1 class="hero-title">Novaroom <span>Design</span></h1>
                                <h2 class="hero-subtitle">Modern lighting and furniture for your home</h2>

                                <div class="scroll-down-wrap no-border link">
                                    <a href="#" class="section-down-arrow ">
                                        <svg class="nectar-scroll-icon" viewBox="0 0 30 45" enable-background="new 0 0 30 45">
                                            <path class="nectar-scroll-icon-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M15,1.118c12.352,0,13.967,12.88,13.967,12.88v18.76  c0,0-1.514,11.204-13.967,11.204S0.931,32.966,0.931,32.966V14.05C0.931,14.05,2.648,1.118,15,1.118z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hero-bg-wrapper">
                    <div id="hero-image-parallax">
                        <div id="hero-bg-image" style="background-image:url({% static 'grenada/images/02hero.jpg' %})"></div>
                    </div>
                </div>
                <!--/Hero Section -->

                <!-- Main Content -->
                <div id="main-content">
                	<div id="main-page-content">

                     	<!-- Row -->
                        <div class="vc_row small row_padding_top row_padding_bottom">

                            <div class="container">

                                <h4 class="has-animation" data-delay="10">About the Project</h4>
                                <p class="has-animation" data-delay="50">Instrument is a short personal project, which looks to redefine the two most common tools used in the household, a hammer and a set of screw drivers to be readily accessible for day to day uses for the urban individual.</p>
                                <a href="" target="_blank" class="link has-animation" data-delay="100"><span>Read More</span></a>

                            </div>

                        </div>
                        <!--/Row -->


                        <!-- Row -->
                        <div class="vc_row full">

                            <div class="container">

                                <figure class="has-animation" data-delay="150" >
                                    <img src="{% static 'grenada/images/nr01.jpg' %}" alt="Image Title">
                                    <figcaption>First View</figcaption>
                                </figure>

                            </div>

                        </div>
                        <!--/Row -->


                        <!-- Row -->
                        <div class="vc_row row_padding_top row_padding_bottom">

                            <div class="container has-animation" data-delay="10">

                                <div class=" one_third"><h3>The Challenge</h3></div>

                                <div class=" two_third last">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim metus dui, id fermentum lacus elementum vel. Duis malesuada risus quis ligula laoreet pulvinar.<br><br> Vestibulum ac bibendum eros. Ut magna dolor, volutpat nec enim id, blandit feugiat ante. Morbi vel ligula id erat fermentum imperdiet non a massa. </p>
                                </div>

                            </div>

                        </div>
                        <!--/Row -->


                        <!-- Row -->
                        <div class="vc_row text-align-center" >

                            <div class="container">

                                <a href="{% static 'grenada/images/nr02.jpg' %}" class="image-link"><img class="has-animation" data-delay="10" alt="image" src="{% static 'images/grenada/nr02.jpg' %}" /></a>
                                <hr>
                                <a href="{% static 'grenada/images/nr03.jpg' %}" class="image-link"><img class="has-animation" data-delay="10" alt="image" src="{% static 'images/grenada/nr03.jpg' %}" /></a>
                                <hr>
                                <a href="{% static 'grenada/images/nr04.jpg' %}" class="image-link"><img class="has-animation" data-delay="10" alt="image" src="{% static 'images/grenada/nr04.jpg' %}" /></a>
                                <hr>
                                <a href="{% static 'grenada/images/nr05.jpg' %}" class="image-link"><img class="has-animation" data-delay="10" alt="image" src="{% static 'images/grenada/nr05.jpg' %}" /></a>

                            </div>

                        </div>
                        <!--/Row -->

                    </div>
                	<!--/Main Page Content -->

                    <!-- Project Navigation -->
                    <div id="project-nav">
                        <div class="next-project-wrap">
                            <div class="next-project-image" style="background-image:url({% static 'grenada/images/03hero.jpg' %})"></div>
                            <a class="next-project-title next-ajax-link-project hide-ball " data-type="page-transition" href="{% url 'grenada_detail3' %}">
                                <div class="main-title">Gold <span>Man</span></div>
                                <div class="main-subtitle">Next Project</div>
                            </a>
                        </div>
                    </div>
                    <!--/Project Navigation -->

                </div>
                <!--/Main Content -->
            </div>


{% endblock %}
