{% extends "esteta/base.html" %}
{% load static %}
{% block title %}Детали отдельного продукта{% endblock %}

{% block content %}
<div id="content" class="site-content">
    <div id="primary" class="content-area single_product no_footer">
        <main id="main" class="site-main" role="main">
            <div class="row noMargin intro_prod">

                <div class="col col-intro-text full_height">
                    <header>
                        <h2 class="pre_title">Divani e Pouf</h2>
                        <h1 class="title">10th Caprera Sofa<span></span></h1>
                    </header>
                    <h3 class="sub_title">Отдельный<br />продукт</h3>

                </div>
                <div class="col col-intro-img full_height">
                    <section id="module-26" class="module-inclusion-image" data-module="inclusion" data-type="image" data-even_odd_button='back_offset' data-even_odd_button_class='' data-even_odd_img_type='img' data-height_percent='100' data-width_percent='auto' data-list_social='' data-include_img='true' data-layout='1' data-id="26">
                        <div class="container">
                            <div class="content">
                                <figure class="image">
                                    <div class="image-bg" style="background-image: url({% static 'estate/images/24.jpg' %})"></div>
                                    <div class="overlay"></div>
                                </figure>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </section>
                </div>
                <div class="scroll_down_line"><span></span></div>
            </div>
            <div class="row cont_prod">
                <div class="col col-sm-12 col-lg-6">
                    <article>
                        <div class="cont_article">
                            <blockquote>
                                <p>Диван ручной работы из красного дерева Сапелли. Кожаные сиденья на открытом воздухе или ткани Sunbrella.</p>
                            </blockquote>
                            <p>Доступен во всех цветах в образце.</p>
                        </div>
                        <div class="extra_text animIn">
                            <h3>Размеры</h3>
                            <b>10th Caprera Sofa 105 105x115x40 cm
                                <br />
                                10th Caprera Sofa 125 125x115x40 cm
                                <br />
                                10th Caprera Sofa 200 200x115x40 cm
                                <br />
                                10th Caprera Sofa 250 250x115x40 cm</b>
                        </div>
                        <div class="extra_text animIn">
                            <h3>Дизайнер</h3>
                            <a href="{% url 'esteta_design_detail' %}" title="Винни Пух"><b>Винни Пух</b></a>
                        </div>
                    </article>
                </div>
                <div class="col col-sm-12 col-lg-6">
                    <section class="module-matrix-vertical-gallery" data-id="28" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_panor small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <a class="item-media" href="{% static 'estate/images/15.jpg' %}" itemprop="contentUrl" data-size="1620x1080">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/15.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/15.jpg' %}" title="" itemprop="thumbnail" />

                                        </a>
                                    </figure>
                                    <figure class="img_vert big" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="2" data-parallax-vel="6">
                                        <a class="item-media" href="{% static 'estate/images/10.jpg' %}" itemprop="contentUrl" data-size="720x1080">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/10.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/10.jpg' %}" title="" itemprop="thumbnail" />

                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                </div>
            </div>
            <div class="row cont_prod cont_related_prod">
                <div class="col col-sm-12 col-lg-6">
                    <article>

                        <div class="extra_text animIn col col-sm-12 col-lg-12">
                            <h3>Другие продукты</h3>
                            <p><b>Сопутствующие товары</b></p>
                        </div>
                        <div class="col col-sm-12 col-lg-12">





                        </div>

                    </article>
                </div>
            </div>
            <!-- related -->
            <div class="row cont_prod page_content cont_related_prod">
                <div class="col col-sm-12 col-lg-12">

                    <section class="module-matrix-alternate-row" data-module="matrix" data-type="alternate_row">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowA odd" data-index="1" data-parallax-vel="7.5">
                                        <a href="">
                                            <div class="wrapper-text">
                                                <div class="container-text">
                                                    <header class="container-title">
                                                        <h1 class="title text_cover" data-title="Montecarlo"><b>Montecarlo</b><span></span></h1>
                                                        <h2 class="sub-title text_cover" data-title="lounge"><b>lounge</b><span></span></h2>
                                                    </header>
                                                </div>
                                            </div>
                                            <div class="cont_img">
                                                <div class="box_img">
                                                    <div class="bg" style="background-image:url('{% static 'estate/images/12.jpg' %}');"></div>
                                                    <div class="cover"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="hover_text"><b>Смотреть</b><span><strong></strong></span></div>
                                            </div>
                                            <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="Montecarlo" />
                                        </a>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowA even" data-index="2" data-parallax-vel="5.5">
                                        <a href="">
                                            <div class="wrapper-text">
                                                <div class="container-text">
                                                    <header class="container-title">
                                                        <h1 class="title text_cover" data-title="10th Caprera"><b>10th Caprera</b><span></span></h1>
                                                        <h2 class="sub-title text_cover" data-title="Island "><b>Island </b><span></span></h2>
                                                    </header>
                                                </div>
                                            </div>
                                            <div class="cont_img">
                                                <div class="box_img">
                                                    <div class="bg" style="background-image:url('{% static 'estate/images/12.jpg' %}');"></div>
                                                    <div class="cover"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="hover_text"><b>Смотреть</b><span><strong></strong></span></div>
                                            </div>
                                            <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Caprera" />
                                        </a>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB odd" data-index="3" data-parallax-vel="7.5">
                                        <a href="">
                                            <div class="wrapper-text">
                                                <div class="container-text">
                                                    <header class="container-title">
                                                        <h1 class="title text_cover" data-title="10th Lerici"><b>10th Lerici</b><span></span></h1>
                                                        <h2 class="sub-title text_cover" data-title="chaise longue "><b>chaise longue </b><span></span></h2>
                                                    </header>
                                                </div>
                                            </div>
                                            <div class="cont_img">
                                                <div class="box_img">
                                                    <div class="bg" style="background-image:url('{% static 'estate/images/12.jpg' %}');"></div>
                                                    <div class="cover"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="hover_text"><b>Смотреть</b><span><strong></strong></span></div>
                                            </div>
                                            <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Lerici" />
                                        </a>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                                        <a href="">
                                            <div class="wrapper-text">
                                                <div class="container-text">
                                                    <header class="container-title">
                                                        <h1 class="title text_cover" data-title="10th Caprera"><b>10th Caprera</b><span></span></h1>
                                                        <h2 class="sub-title text_cover" data-title="coffee table "><b>coffee table </b><span></span></h2>
                                                    </header>
                                                </div>
                                            </div>
                                            <div class="cont_img">
                                                <div class="box_img">
                                                    <div class="bg" style="background-image:url('{% static 'estate/images/12.jpg' %}');"></div>
                                                    <div class="cover"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="hover_text"><b>Смотреть</b><span><strong></strong></span></div>
                                            </div>
                                            <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Caprera" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detect alternate_row_mob"></div>
                    </section>

                </div>
            </div>
            <!-- /related -->

            <div class="next_post_row">
                <section data-id="30" class="module-inclusion-text_link" data-module="inclusion" data-type="text_link">

                    <a href="{% url 'esteta_product_detail' %}">
                        <div class="container">
                            <div class="content">
                                <header class="container-title">
                                    <div class="pre-title">Divani e Pouf</div>
                                    <h1 class="title">10th Caprera Island<span></span></h1>
                                    <h2 class="sub-title">еще</h2>
                                </header>
                            </div>
                        </div>
                    </a>

                </section>
                <!-- fine inclusion -->
            </div>

            <div class="linee_bck">
                <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
        </main><!-- #main -->
    </div><!-- #primary -->
    <span class="detect global_tablet_mob"></span>
    <span class="detect global_smart_mob"></span>
</div>
{% endblock %}
{% block script %}
{% include 'esteta/base_product_detail.html' %}
{% endblock %}
