{% extends "esteta/base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <section data-page="homepage">
                <section id="module-26" class="module-slider-cover_multi swiper-container" data-id="26" data-module="slider" data-type="cover_multi" data-slide-count="3" data-cmulti-layout='1' data-cmulti-height_percent='100'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-slide-layout="one1" data-slide-index="0">
                            <div class="wrapper-text">
                                <div class="container-text">
                                    <a class="content content-text" href="{% url 'esteta_proect_detail' %}">
                                        <header class="container-title" style="">
                                            <h1 class="title text_cover" data-title="Проект <br> Отдельный" style="">
                                                <b>Проект  <br> Отдельный</b>
                                                <span></span>
                                            </h1>
                                            <h1 class="sub-title text_cover" data-sub-title="" style=""><b></b>
                                                <span></span>
                                            </h1>
                                            <h1 class="pre-title text_cover" data-pre-title="" style=""><b></b><span></span></h1>
                                        </header>
                                        <div data-module="button" data-type="back_offset" class="btn-container" data-id="27">
                                            <div class="btn-content ">
                                                <div class="label-btn" data-hover="Далее"><b class="btn">Далее</b><span></span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="wrapper-bg">
                                <div class="container-bg img-1" data-imgsource="{% static 'estate/images/9.jpg' %}" data-imgmobile="{% static 'images/estate/9.jpg' %}">
                                    <div class="cont-img">
                                        <div class="bg" style="background-image:url({% static 'estate/images/10.jpg' %});"></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-2" data-imgsource="">
                                    <div class="cont-img">
                                        <div class="bg" style=""></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-3" data-imgsource="">
                                    <div class="cont-img">
                                        <div class="bg" style=""></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-slide-layout="one1" data-slide-index="1">
                            <div class="wrapper-text">
                                <div class="container-text">
                                    <a class="content content-text" href="{% url 'esteta_product_detail' %}">
                                        <header class="container-title" style="">
                                            <h1 class="title text_cover" data-title="Продукт" style=""><b>Продукт</b><span></span></h1>
                                            <h1 class="sub-title text_cover" data-sub-title="" style=""><b></b><span></span></h1>
                                            <h1 class="pre-title text_cover" data-pre-title="Отдельный" style=""><b>Отдельный</b><span></span></h1>
                                        </header>
                                        <div data-module="button" data-type="back_offset" class="btn-container" data-id="28">
                                            <div class="btn-content ">
                                                <div class="label-btn" data-hover="Далее">
                                                    <b class="btn">Далее</b>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="wrapper-bg">
                                <div class="container-bg img-1" data-imgsource="{% static 'estate/images/7.jpg' %}" data-imgmobile="{% static 'images/estate/7.jpg' %}">
                                    <div class="cont-img">
                                        <div class="bg" style="background-image:url({% static 'estate/images/7.jpg' %});"></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-2" data-imgsource="">
                                    <div class="cont-img">
                                        <div class="bg" style=""></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-3" data-imgsource="">
                                    <div class="cont-img">
                                        <div class="bg" style=""></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-slide-layout="three1" data-slide-index="2">
                            <div class="wrapper-text">
                                <div class="container-text">
                                    <a class="content content-text" href="{% url 'esteta_collect_detail' %}">
                                        <header class="container-title" style="">
                                            <h1 class="title text_cover" data-title="Коллеция" style=""><b>Коллеция</b><span></span></h1>
                                            <h1 class="sub-title text_cover" data-sub-title="Один элемент" style=""><b>Один элемент</b><span></span></h1>
                                            <h1 class="pre-title text_cover" data-pre-title="" style=""><b></b><span></span></h1>
                                        </header>
                                        <div data-module="button" data-type="back_offset" class="btn-container" data-id="29">
                                            <div class="btn-content ">
                                                <div class="label-btn" data-hover="Далее">
                                                    <b class="btn">Далее</b>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="wrapper-bg">
                                <div class="container-bg img-1" data-imgsource="{% static 'estate/images/6.jpg' %}" data-imgmobile="{% static 'images/estate/6.jpg' %}">
                                    <div class="cont-img">
                                        <div class="bg" style="background-image:url({% static 'estate/images/6.jpg' %});"></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-2" data-imgsource="{% static 'estate/images/5.jpg' %}" data-imgmobile="{% static 'images/estate/5.jpg' %}">
                                    <div class="cont-img">
                                        <div class="bg" style="background-image:url({% static 'estate/images/5.jpg' %});"></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                                <div class="container-bg img-3" data-imgsource="{% static 'estate/images/4.jpg' %}" data-imgmobile="{% static 'images/estate/4.jpg' %}">
                                    <div class="cont-img">
                                        <div class="bg" style="background-image:url({% static 'estate/images/4.jpg' %});"></div>
                                        <span class="coverIMG"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="custom-pagination">
                        <div class="link_item goto_2">
                            <section>
                                <div><span></span></div>
                            </section>
                            <b data-goto="2">03</b>
                        </div>
                        <div class="link_item goto_1">
                            <section>
                                <div><span></span></div>
                            </section>
                            <b data-goto="1">02</b>
                        </div>
                        <div class="link_item goto_0">
                            <section>
                                <div><span></span></div>
                            </section>
                            <b data-goto="0">01</b>
                        </div>
                    </nav>
                    <div class="detect cover_multi_mob"></div>
                </section>
                <div class="page_content">
                    <section class="module-inclusion-even_odd" data-module="inclusion" data-type="even_odd" data-id="30" data-layout='1'>
                        <div class="container">
                            <div class="content">
                                <div class="row row-0">
                                    <div class="col col-img col-sm-12 col-lg-6 col-left">
                                        <a class="col-cont" href="{% url 'esteta_collect_detail' %}">
                                            <img class="img_panor" src="{% static 'estate/images/3.jpg' %}" />
                                            <span class="img_panor"></span>
                                        </a>
                                    </div>
                                    <div class="col col-text col-sm-12 col-lg-6 col-right">
                                        <article class="article-container col-cont">
                                            <div class="center-container">
                                                <div class="center-content">
                                                    <a href="{% url 'esteta_collect_detail' %}">
                                                        <header class="container-title">
                                                            <h3 class="pre_title text_cover"><b>Коллеция</b><span></span></h3>
                                                            <h1 class="title text_cover"><b>Название</b><span></span></h1>
                                                        </header>
                                                        <div class="text-content">
                                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="31">
                                                                <div class="btn-content ">
                                                                    <div class="label-btn" data-hover="Scopri">
                                                                        <b class="btn">Далее</b>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row row-1">
                                    <div class="col col-img col-sm-12 col-lg-6 col-right">
                                        <a class="col-cont" href="{% url 'esteta_design_detail' %}">
                                            <img class="img_panor" src="{% static 'estate/images/2.jpg' %}" />
                                            <span class="img_panor"></span>
                                        </a>
                                    </div>
                                    <div class="col col-text col-sm-12 col-lg-6 col-left">
                                        <article class="article-container col-cont">
                                            <div class="center-container">
                                                <div class="center-content">
                                                    <a href="{% url 'esteta_design_detail' %}">
                                                        <header class="container-title">
                                                            <h3 class="pre_title text_cover"><b>Дизайнер</b><span></span></h3>
                                                            <h1 class="title text_cover"><b>Имя/фамилия</b><span></span></h1>
                                                        </header>
                                                        <div class="text-content">
                                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="32">
                                                                <div class="btn-content ">
                                                                    <div class="label-btn" data-hover="Scopri">
                                                                        <b class="btn">Далее</b>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row row-2">
                                    <div class="col col-img col-sm-12 col-lg-6 col-left">
                                        <a class="col-cont" href="{% url 'esteta_product_detail' %}">
                                            <img class="img_panor" src="{% static 'estate/images/1.jpg' %}" />
                                            <span class="img_panor"></span>
                                        </a>
                                    </div>
                                    <div class="col col-text col-sm-12 col-lg-6 col-right">
                                        <article class="article-container col-cont">
                                            <div class="center-container">
                                                <div class="center-content">
                                                    <a href="{% url 'esteta_product_detail' %}">
                                                        <header class="container-title">
                                                            <h3 class="pre_title text_cover"><b>Продукт</b><span></span></h3>
                                                            <h1 class="title text_cover"><b>Название</b><span></span></h1>
                                                        </header>
                                                        <div class="text-content">
                                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="33">
                                                                <div class="btn-content ">
                                                                    <div class="label-btn" data-hover="Scopri">
                                                                        <b class="btn">Далее</b>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detect even_odd_mob"></div>
                    </section>
                    <!-- fine inclusion -->
                    <section class="module-matrix-overlay_img" data-id="34" data-module="matrix" data-type="overlay_img" data-ovim_layout='no_even_odd'>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-odd">
                                        <div class="container-bg col-img img_panor">
                                            <div class="overlay"></div>
                                            <div class="bg" style="background-image: url({% static 'estate/images/11.jpg' %})"></div>
                                        </div>
                                        <div class="col-text">
                                            <div class="container-title">
                                                <h1 class="title">Название</h1>
                                                <div class="line"></div>
                                            </div>

                                            <div class="container-text">
                                            </div>
                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="35">
                                                <div class="btn-content ">
                                                    <a href="{% url 'esteta_proect_detail' %}" class="label-btn" data-hover="Leggi">
                                                        <b class="btn">Смотреть</b>
                                                        <span></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-even">
                                        <div class="container-bg col-img img_panor">
                                            <div class="overlay"></div>
                                            <div class="bg" style="background-image: url({% static 'estate/images/12.jpg' %})"></div>
                                        </div>
                                        <div class="col-text">
                                            <div class="container-title">
                                                <h1 class="title">Название</h1>
                                                <div class="line"></div>
                                            </div>

                                            <div class="container-text">
                                                Здесь выведем просто описание сущности. Статьи, работы и тд </div>
                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="36">
                                                <div class="btn-content ">
                                                    <a href="{% url 'esteta_proect_detail' %}" class="label-btn" data-hover="Leggi">
                                                        <b class="btn">Смотреть</b>
                                                        <span></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-odd">
                                        <div class="container-bg col-img img_panor">
                                            <div class="overlay"></div>
                                            <div class="bg" style="background-image: url({% static 'estate/images/9.jpg' %})"></div>
                                        </div>
                                        <div class="col-text">
                                            <div class="container-title">
                                                <h1 class="title">Название</h1>
                                                <div class="line"></div>
                                            </div>

                                            <div class="container-text">
                                            </div>
                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="37">
                                                <div class="btn-content ">
                                                    <a href="{% url 'esteta_proect_detail' %}" class="label-btn" data-hover="Leggi">
                                                        <b class="btn">Смотерть</b>
                                                        <span></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-even">
                                        <div class="container-bg col-img img_panor">
                                            <div class="overlay"></div>
                                            <div class="bg" style="background-image: url({% static 'estate/images/12.jpg' %})"></div>
                                        </div>
                                        <div class="col-text">
                                            <div class="container-title">
                                                <h1 class="title">Название</h1>
                                                <div class="line"></div>
                                            </div>

                                            <div class="container-text">
                                            </div>
                                            <div data-module="button" data-type="back_offset" class="btn-container" data-id="38">
                                                <div class="btn-content ">
                                                    <a href="{% url 'esteta_proect_detail' %}" class="label-btn" data-hover="Leggi">
                                                        <b class="btn">Смотреть</b>
                                                        <span></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- .page_content -->
            </section>

            <div class="linee_bck">
                <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
        </main><!-- #main -->
    </div><!-- #primary -->
    <span class="detect global_tablet_mob"></span>
    <span class="detect global_smart_mob"></span>
</div>
{% endblock %}

{% block script %}
{% include 'esteta/home.html' %}
{% endblock %}
