{% extends "esteta/base.html" %}
{% load static %}
{% block title %}Продукты{% endblock %}

{% block content %}
<div id="primary" class="content-area archive_product archive no_footer">
    <main id="main" class="site-main" role="main">
        <div class="page_content">
            <h1 class="big_title">Our<br />Products</h1>
            <div class="scroll_down_line"><span></span></div>
            <section class="module-matrix-alternate-row" data-module="matrix" data-type="alternate_row">
                <div class="container">
                    <div class="content">
                        <div class="row">

                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>
                          <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 rowB even" data-index="4" data-parallax-vel="4.5">
                              <a href="{% url 'esteta_product_detail' %}">
                                  <div class="wrapper-text">
                                      <div class="container-text">
                                          <header class="container-title">
                                              <h1 class="title text_cover" data-title="10th Vieste"><b>категория</b><span></span></h1>
                                              <h2 class="sub-title text_cover" data-title="bench "><b>название</b><span></span></h2>
                                          </header>
                                      </div>
                                  </div>
                                  <div class="cont_img">
                                      <div class="box_img">
                                          <div class="bg" style="background-image:url('{% static 'estate/images/24.jpg' %}');"></div>
                                          <div class="cover"></div>
                                          <div class="overlay"></div>
                                      </div>
                                      <div class="hover_text"><b>Scopri</b><span><strong></strong></span></div>
                                  </div>
                                  <img class="sizing" src="{% static 'estate/images/alternate_row.gif' %}" title="10th Vieste" />
                              </a>
                          </div>

                        </div>
                    </div>
                </div>
                <div class="detect alternate_row_mob"></div>
            </section>
        </div>
        <div class="linee_bck">
            <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
    </main><!-- #main -->
</div>
{% endblock %}
{% block script %}
{% include 'esteta/base_product.html' %}
{% endblock %}
