{% extends "esteta/base.html" %}
{% load static %}

{% block title %}Документы{% endblock %}

{% block content %}

<div id="content" class="site-content">
    <div id="primary" class="content-area single_page single_collection">
        <main id="main" class="site-main" rotheme_enqueuele="main">
            <div class="row">
                <section class="module-inclusion-text-col" data-id="21" data-module="inclusion" data-type="text_col" data-layout='1'>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="col col-title col-xs-12 col-sm-12">
                                    <header class="container-title">
                                        <h1 class="title">Документы</h1>
                                    </header>
                                </div>
                                <figure class="col col-text col-xs-12 col-sm-12 cover_noimg" title="Документы">
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- fine inclusion -->
            </div>
            <div class="row cont_article">
                <article class="col">
                    <div>
                        <div id='UseyourDrive' class='light  files '><noscript>
                                <div class='UseyourDrive-nojsmessage'>Чтобы просмотреть папки Google Диска, необходимо отключить JavaScript в браузере.<br /><a href='http://www.enable-javascript.com/' target='_blank'>Для этого следуйте этим инструкциям</a>.</div>
                            </noscript>
                            <div id='UseyourDrive-857d9cb222ab27a2786ec6cc256317f3' class='UseyourDrive files uyd-list jsdisabled' data-list='files' data-token='857d9cb222ab27a2786ec6cc256317f3' data-id='' data-path='Tjs=' data-sort='name:asc' data-org-id='' data-org-path='Tjs=' data-layout='list' data-popout='0'>
                                <div class="list-container" style="width:100%;max-width:100%;">
                                    <div class="nav-header">
                                        <a class="nav-home" title="Torna alla prima cartella">
                                            <i class="fas fa-home"></i>
                                        </a>
                                        <div class="nav-title">Загрузка...</div>
                                        <a class="nav-search">
                                            <i class="fas fa-search"></i>
                                        </a>

                                        <div class="search-div">
                                            <div class="search-remove"><i class="fas fa-times-circle fa-lg"></i></div>
                                            <input name="q" type="text" size="40" aria-label="Search" placeholder="Cerca nel nome del file" class="search-input" />
                                        </div>
                                        <a class="nav-gear" title="Opzioni">
                                            <i class="fas fa-cog"></i>
                                        </a>
                                        <div class="gear-menu" data-token="857d9cb222ab27a2786ec6cc256317f3">
                                            <ul data-id="857d9cb222ab27a2786ec6cc256317f3">
                                                <li style="display: none"><a class="nav-layout nav-layout-grid" title="Mostra come elenco">
                                                        <i class="fas fa-th-large fa-lg"></i>Показать как список </a>
                                                </li>
                                                <li><a class="nav-layout nav-layout-list" title="Mostra come lista">
                                                        <i class="fas fa-th-list fa-lg"></i>Показать как список </a>
                                                </li>
                                                <li><a class="all-files-to-zip"><i class='fas fa-archive fa-lg'></i>Скачать все файлы (.zip)</a></li>
                                                <li><a class="selected-files-to-zip"><i class='fas fa-archive fa-lg'></i>Скачать выбранные файлы(.zip)</a></li>
                                                <li class='gear-menu-no-options' style="display: none"><a><i class='fas fa-info-circle fa-lg'></i>Никаких вариантов...</a></li>
                                            </ul>
                                        </div>
                                        <a class="nav-refresh" title="Aggiorna">
                                            <i class="fas fa-sync"></i>
                                        </a>

                                    </div>
                                    <div class='column_names'>
                                        <div class='entry_icon'></div>
                                        <div class='entry_checkallbox'><input type='checkbox' name='select-all-files' class='select-all-files' /></div>
                                        <div class='entry_edit'>&nbsp;</div>
                                        <div class='entry_size sortable ' data-sortname="size"><span class="sort_icon">&nbsp;</span><a class='entry_sort'>Размер</a></div>
                                        <div class='entry_lastedit sortable ' data-sortname="modified"><a class='entry_sort'>Изменение</a><span class="sort_icon">&nbsp;</span></div>
                                        <div class='entry_name sortable asc' data-sortname="name"><a class='entry_sort'>Имя</a><span class="sort_icon">&nbsp;</span></div>
                                    </div>
                                    <div class="file-container">
                                        <div class="loading initialize"> <svg class="loader-spinner" viewBox="25 25 50 50">
                                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
                                            </svg>
                                        </div>
                                        <div class="ajax-filelist" style="">&nbsp;</div>
                                        <div class="scroll-to-top"><a><i class="fas fa-chevron-circle-up fa-2x"></i></a></div>
                                    </div>
                                </div>
                            </div>
                            <script type='text/javascript'>
                                if (typeof(jQuery) !== 'undefined' && typeof(jQuery.cp) !== 'undefined' && typeof(jQuery.cp.UseyourDrive) === 'function') {
                                    jQuery('#UseyourDrive-857d9cb222ab27a2786ec6cc256317f3').UseyourDrive(UseyourDrive_vars);
                                };
                            </script>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row cont_gallery">
            </div>

            <div class="linee_bck">
                <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
        </main><!-- #main -->
    </div><!-- #primary -->
    <span class="detect global_tablet_mob"></span>
    <span class="detect global_smart_mob"></span>
</div>

{% endblock %}
{% block script %}
{% include 'esteta/base_pdf.html' %}
{% endblock %}
