{% extends "esteta/base.html" %}
{% load static %}

{% block title %}Бренд{% endblock %}

{% block content %}

<div id="content" class="site-content">
    <div id="primary" class="content-area single_project about_page no_footer">
        <main id="main" class="site-main" role="main">
            <div class="row noMargin intro_prod">
                <div class="col col-intro-text full_height">
                    <header>
                        <h1 class="title">О нас<span></span></h1>
                    </header>
                    <h3 class="sub_title">О нас<br />Наш бренд</h3>
                </div>
                <div class="col col-intro-img full_height">
                    <section id="module-26" class="module-inclusion-image" data-module="inclusion" data-type="image" data-even_odd_button='back_offset' data-even_odd_button_class='' data-even_odd_img_type='img' data-height_percent='100' data-width_percent='auto' data-list_social='' data-include_img='true' data-layout='1' data-id="26">
                        <div class="container">
                            <div class="content">
                                <figure class="image">
                                    <div class="image-bg" style="background-image: url({% static 'estate/images/14.jpg' %})"></div>
                                    <div class="overlay"></div>
                                </figure>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </section>
                    <!-- fine inclusion -->
                </div>
                <div class="scroll_down_line"><span></span></div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-lg-12">
                    <div class="row cont_prod odd">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3>Философия наружного применения</h3>
                                    <p>Вернитесь в центр своего удовольствия, своего времени, собственного отдыха.<br>
                                        Подумайте, а затем жить, каждое пространство.<br>
                                        Наиболее важные виды использования, его комфорт, его эстетическая отделка.
                                        <br>&nbsp;<br>
                                        Новая философия жизни, которая выходит за рамки геометрических границ наших домов. Недалеко от периметра, где скрыта суть релаксации и контакта с природой,<br>

                                        из открытого места, чтобы дышать, вылечить и сделать наш.<br>&nbsp;<br>
                                        Каждый материал, каждый процесс и каждый конечный продукт Exteta следует с заботой и страстью, в соответствии с единственной целью создания качества за пределами стандартов для наших клиентов.
                                        После длительного и сложного процесса совершенствования, Exteta получил сертификацию ISO 9001:2015, признание того, что отмечается постоянное стремление в себе и построить предприятие, способное производить устойчивого превосходства на всех ее этапах.<br>&nbsp;<br>

                                        Exteta приносит лучший дизайн и превращает outdoor в всеохватывающий опыт эстетики и функциональности.
                                        Бесконечный набор возможностей, который создает гармонический язык снаружи.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'estate/images/15.jpg' %}" />
                        </div>
                    </div>
                    <section class="module-matrix-vertical-gallery" data-id="27" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_vert small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="1280x1920">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/16.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/17.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                    <figure class="img_panor big" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="2" data-parallax-vel="6">
                                        <div itemprop="contentUrl" data-size="1200x800">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/18.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/18.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                    <div class="row cont_prod even">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3>На заказ</h3>
                                    <p>Сделайте свои собственные пространства, которые мы живем.<br>
                                        Наши идеи путешествуют и&nbsp;так&nbsp;
                                        они часто сплющивают на&nbsp;стандартные линии: мы довольствуемся&nbsp;
                                        выберите&nbsp;
                                        продукт, который&nbsp;
                                        более&nbsp;
                                        нам нравится, когда мы&nbsp;
                                        отделка что&nbsp;лучше вы&nbsp;
                                        подходим к&nbsp;наш выбор, никогда не думая о&nbsp;
                                        возможность сделать каждый&nbsp;
                                        элемент&nbsp;наше пространство.<br>
                                        </p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'estate/images/19.jpg' %}" />
                        </div>
                    </div>
                    <section class="module-matrix-vertical-gallery" data-id="28" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_panor small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="720x592">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/20.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/20.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                    <div class="row cont_prod odd">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3>L'artigianalità made in Italy</h3>
                                    <p>Creare nel nome dell’<b>unicità</b>.<br>
                                        La qualità dei prodotti <b>Exteta</b> è espressione del&nbsp;più&nbsp;puro <b>Made in&nbsp;Italy</b>, di&nbsp;quell’attenzione ai&nbsp;<b>dettagli</b> e&nbsp;alla&nbsp;<b>perfezione</b> che&nbsp;il&nbsp;mondo ama tanto da&nbsp;cercare costantemente di&nbsp;imitarne l’essenza.<br>
                                        Le mani <b>artigiane</b> che&nbsp;lavorano ogni&nbsp;elemento sono ricche del&nbsp;sapere di&nbsp;<b>tradizioni</b> segrete, custodite e&nbsp;tramandate di&nbsp;generazione in&nbsp;generazione per&nbsp;continuare a&nbsp;creare opere uniche, che&nbsp;si&nbsp;uniscono nel tempo a&nbsp;nuove <b>tecnologie</b> per&nbsp;realizzare un&nbsp;prodotto perfetto.<br>
                                        Nell’amore per&nbsp;l’unicità risiede uno&nbsp;dei valori cardine della filosofia di&nbsp;<b>Exteta</b>, che&nbsp;progetta esperienze di&nbsp;design personalizzate da&nbsp;vivere all’esterno, scoprendo ogni&nbsp;linea e&nbsp;funzionalità di&nbsp;una&nbsp;visione nuova del&nbsp;mondo fuori dall’indoor.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'estate/images/21.jpg' %}" />
                        </div>
                    </div>
                    <section class="module-matrix-vertical-gallery" data-id="29" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_panor small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="1617x1080">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/22.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/21.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                    <div class="row cont_prod even">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3>I materiali</h3>
                                    <p>Ricercare la&nbsp;rarità e&nbsp;renderla perfetta.<br>
                                        <b>Exteta</b> entra nelle essenze dei <b>materiali</b> più&nbsp;rari, ricercando l’<b>eccellenza</b> e&nbsp;l’unicità per&nbsp;poterle plasmare e&nbsp;trasformare in&nbsp;prodotti che&nbsp;diventano protagonisti dell’<b>outdoor</b>.<br>
                                        La ricerca di&nbsp;<b>Exteta</b> si&nbsp;combina con&nbsp;una&nbsp;filosofia di&nbsp;<b>rispetto per&nbsp;l’ambiente</b> e&nbsp;di&nbsp;fedeltà alle&nbsp;aspettative del&nbsp;cliente: la&nbsp;bellezza della sua&nbsp;esperienza <b>custom</b> risiede nella scelta di&nbsp;essenze e&nbsp;materiali la&nbsp;cui produzione è legata ai&nbsp;cicli e&nbsp;alle&nbsp;possibilità della <b>natura</b>.<br>&nbsp;<br>
                                        A questa capacità armonica di&nbsp;rapportarsi alle&nbsp;regole del&nbsp;mondo esterno, <b>Exteta</b> affianca una&nbsp;<b>sperimentazione</b> in&nbsp;continua evoluzione, capace di&nbsp;produrre ed innovare tecnologie che&nbsp;abbattano i&nbsp;limiti dell’utilizzo open-air: legni pregiati ed essenziali, tessuti e&nbsp;trattamenti brevettati realizzano il&nbsp;sogno finale di&nbsp;un&nbsp;ambiente outdoor senza compromessi.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'estate/images/23.jpg' %}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="linee_bck">
                <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
        </main><!-- #main -->
    </div><!-- #primary -->
    <span class="detect global_tablet_mob"></span>
    <span class="detect global_smart_mob"></span>
</div>
{% endblock %}

{% block script %}
{% include 'esteta/base_brand.html' %}
{% endblock %}
