{% extends "esteta/base.html" %}
{% load static %}
{% block title %}Страница отдельного проекта{% endblock %}

{% block content %}

<div id="content" class="site-content">
    <div id="primary" class="content-area single_project no_footer">
        <main id="main" class="site-main" role="main">
            <div class="row noMargin intro_prod">
                <div class="col col-intro-text full_height">
                    <header>
                        <h2 class="pre_title">Проекты</h2>
                        <h1 class="title">Название проекта<span></span></h1>
                    </header>
                    <h3 class="sub_title"></h3>
                </div>
                <div class="col col-intro-img full_height">
                    <section id="module-26" class="module-inclusion-image" data-module="inclusion" data-type="image" data-even_odd_button='back_offset' data-even_odd_button_class='' data-even_odd_img_type='img' data-height_percent='100' data-width_percent='auto' data-list_social='' data-include_img='true' data-layout='1' data-id="26">
                        <div class="container">
                            <div class="content">
                                <figure class="image">
                                    <div class="image-bg" style="background-image: url({% static 'estate/images/13.jpg' %})"></div>
                                    <div class="overlay"></div>
                                </figure>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </section>
                    <!-- fine inclusion -->
                </div>
                <div class="scroll_down_line"><span></span></div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-lg-12">
                    <div class="row cont_prod odd">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3> Forme monolitiche e razionalismo strutturale danzano sulla più minimale e suggestiva linea d’orizzonte. </h3>
                                    <p>Una scatola nel deserto che coltiva nelle sue linee la sensazione d’isolamento, di distacco dal reale, un’atmosfera onirica di un paradiso visivo. Mar Adentro Cabos è un progetto dell’architetto Miguel Angel Aragonés, che ha creato un panorama dai volumi spezzati, liberi e rigidi, che sembra aprirsi all’esterno e diventarne parte, o lasciarlo entrare a invadere gli spazi dell’interno.
                                        <br />
                                        <br />
                                        La filosofia di Exteta sposa alla perfezione la visione di Miguel Angel Aragonés: uno spazio in cui l’outdoor e l’ambiente esterno non sono rilegati a una dimensione secondaria, ma diventano parte dell’architettura stessa.</p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'images/estate/13.jpg' %}" />
                        </div>
                    </div>
                    <section class="module-matrix-vertical-gallery" data-id="27" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_panor small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="1268x824">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/13.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/13.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                    <figure class="img_panor big" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="2" data-parallax-vel="6">
                                        <div itemprop="contentUrl" data-size="1367x912">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/13.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/13.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                    <div class="row cont_prod even">
                        <div class="col col-sm-12 col-lg-6 col-text">
                            <article>
                                <div class="cont_article">
                                    <h3>"Ho imparato da quegli artigiani italiani quello che a volte non riusciamo a intuire dalle scuole o dai libri in molti anni di studio" Miguel Angel Aragonés</h3>
                                    <p>I pezzi realizzati da Exteta per il progetto Mar Adentro Cabos sono elementi unici, materializzazione dell’esasperata capacità di customizzazione e artigianalità Made in Italy del marchio.
                                        Exteta rimodella il paesaggio e si assembla in un perfetto incastro con l’architettura di Aragonés, per un progetto che porta l’esperienza dell’outdoor fino agli apparenti confini del mondo.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="col col-sm-12 col-lg-6 col-img">
                            <img src="{% static 'estate/images/13.jpg' %}" />
                        </div>
                    </div>
                    <section class="module-matrix-vertical-gallery" data-id="28" data-module="matrix" data-type="vertical_gallery" rel="overlay" itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <figure class="img_panor small" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="1" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="1431x955">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/13.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/13.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                    <figure class="img_panor big" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="2" data-parallax-vel="6">
                                        <div itemprop="contentUrl" data-size="1430x800">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/13.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/13.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                    <figure class="img_panor small z_top" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="3" data-parallax-vel="4.5">
                                        <div itemprop="contentUrl" data-size="1430x800">
                                            <div class="cont_img">
                                                <div class="bck" style="background-image:url('{% static 'estate/images/13.jpg' %}');"></div>
                                                <div class="overlay"></div>
                                            </div>
                                            <div class="hover_text"><b>zoom</b><span><strong></strong></span></div>
                                            <img class="sizing" src="{% static 'estate/images/13.jpg' %}" title="" itemprop="thumbnail" />

                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="detect vert_gall_mob"></div>
                    </section>
                </div>
            </div>
            <div class="next_post_row">
                <section data-id="29" class="module-inclusion-text_link" data-module="inclusion" data-type="text_link">

                    <a href="{% url 'esteta_proect_detail' %}">
                        <div class="container">
                            <div class="content">
                                <header class="container-title">
                                    <div class="pre-title">Проекты</div>
                                    <h1 class="title">следующий проект<span></span></h1>
                                    <h2 class="sub-title">еще</h2>
                                </header>
                            </div>
                        </div>
                    </a>

                </section>
                <!-- fine inclusion -->
            </div>

            <div class="linee_bck">
                <span class='even line_1'></span><span class='odd line_2'></span><span class='even line_3'></span><span class='odd line_4'></span><span class='even line_5'></span> </div>
        </main><!-- #main -->
    </div><!-- #primary -->
    <span class="detect global_tablet_mob"></span>
    <span class="detect global_smart_mob"></span>
</div>

{% endblock %}
{% block script %}
{% include 'esteta/base_proect_detail.html' %}
{% endblock %}
