
<div id="footer-holder">
    <div class="next-page-footer pointer" data-next-page-footer data-skrollex data-sk-static data-easy-click>
        <div class="container next-page-footer__inner">
            <div class="next-page-footer__text">
                <div class="meta spacer-medium">Далее </div>
                <h2 class="h3 spacer-medium">
                    Наши работы
                </h2>
                <div class="icon">
                    <svg>
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <a href="" data-transition="mask">
                <span class="a11y">Смотрите наши кейсы</span>
            </a>
        </div>
    </div>
</div>
