{% load static %}

<div class="bucket bucket--featured spacer-large">

    <div class="section-header">
        <div class="container">
            <div class="section-header__inner spacer-large dash-holder dash-holder--inline" data-skrollex data-sk-group>
                <div class="h5 spacer-medium">
                    <hr class="dash" />
                    Новости студии
                </div>
                <h2 class="spacer-smedium" data-skrollex data-sk-group data-sk-headline>Изучите наши последние события, прессу и перспективы. </h2>
                <div class="cta">

                    <a data-skrollex data-sk-group data-sk-btn data-btn href="" class="btn btn--icon">

                        <span class="btn__text"><span class="btn__text-inner">Смотреть все новости</span></span>
                        <div class="icon">
                            <svg class="">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="bucket--featured__work-items">
        <div class="container">
            <div class="grid grid--gutters grid--three-up">

                <div class="card card--news grid__item spacer-block" data-push-hover>
                    <div class="card--news__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">

                            <div class="bg layer ratio-1" style="background-image: url({% static 'basic/images/8.jpg' %});"></div>

                        </div>
                    </div>
                    <div class="card--news__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />

                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            News | 05.06.2019
                        </div>

                        <h3 class="h4" data-skrollex data-sk-group data-sk-headline>Ветеран промышленности Райан Пархерст присоединился к BASIC в качестве вице-президента по стратегии и росту</h3>
                    </div>
                    <a href="" class="layer z1"><span class="a11y">Ветеран промышленности Райан Пархерст присоединился к BASIC в качестве вице-президента по стратегии и росту</span></a>
                </div>

                <div class="card card--news grid__item spacer-block" data-push-hover>
                    <div class="card--news__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">

                            <div class="bg layer ratio-1" style="background-image: url({% static 'basic/images/7.jpg' %});"></div>

                        </div>
                    </div>
                    <div class="card--news__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />

                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            Новости | 04.09.2019
                        </div>

                        <h3 class="h4" data-skrollex data-sk-group data-sk-headline>Бейсик является финалистом веб-агентства года 2019 года</h3>
                    </div>
                    <a href="" class="layer z1"><span class="a11y">BASIC является финалистом кейса «Агентство года Webby» в 2019 году</span></a>
                </div>

                <div class="card card--news grid__item spacer-block" data-push-hover>
                    <div class="card--news__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">

                            <div class="bg layer ratio-1" style="background-image: url({% static 'basic/images/6.jpg' %});"></div>

                        </div>
                    </div>
                    <div class="card--news__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />

                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            Новости | 02.02.2019
                        </div>

                        <h3 class="h4" data-skrollex data-sk-group data-sk-headline>Мы делаем ходы - представляем наш новый штаб</h3>
                    </div>
                    <a href="" class="layer z1"><span class="a11y">знайте, что мы делаем - представляем наш новый пример из штаб-квартиры</span></a>
                </div>
            </div>
        </div>
        <div class="container bucket__cta meta cf mb0" data-skrollex data-sk-group>
            <span>
                <a href="">Смотреть все новости</a>
                <span class="icon">
                    <svg>
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span>
            </span>
        </div>
    </div>
</div>
