{% extends "basic_base.html" %}
{% load static %}

{% block title %}Кейс 1{% endblock %}

{% block content %}
<div class="page page--detail page--work-detail">

    <h1 class="a11y">Рассказывание контента с реальным отношением к электронной коммерции</h1>

    <div class="hero hero--case-study hero--detail-page" data-hero-case-study data-skrollex data-sk-static data-sk-hide-offscreen data-sk-show-gutter-top="0" data-sk-show-gutter-bottom="0" data-sk-render-gutter-top="0" data-sk-render-gutter-bottom="0">
        <div class="hero__content">
            <div class="hero--case-study__text pos-r z1">
                <div class="container container--content">
                    <div class="excerpt dash-holder dash-holder--outside">
                        <hr class="dash" data-skrollex data-sk-group />
                        <p class="h5" data-skrollex data-sk-group>Брендинг и Дизайн сайта электронной коммерции</p>
                        <div class="hero--case-study__logo" data-skrollex data-sk-group style="width: 115px; height: 25px;">
                            <img src="{% static 'basic/images/BBDakota.svg' %}" alt="" />
                        </div>
                        <h2 class="h1" data-skrollex data-sk-group data-sk-headline>Создание бренда и опыта eComm с непочтительной личностью</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero--case-study__background layer">
            <video class="video-player__video fullscreen" preload="metadata" data-autoplay autoplay loop muted volume="0.5" data-skrollex data-sk-static data-sk-hide-offscreen data-sk-render-gutter-bottom="100" playsinline>
                <source src="https://basicagency.com/uploads/case-studies/BB-Dakota/bb-dakota-fashion-ecommerce-user-experience-web-design-case-study-hero-video.mp4" type="video/mp4" />
            </video>
        </div>
    </div>

    <div class="spacer-large"></div>

    <div class="content-toolkit">
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">01 &mdash;</span>
                    <span class="meta">Особенности</span>
                </div>
                <div class="container container--content">
                    <div class="text-block__inner">
                        <div class="body" data-skrollex data-sk-group>
                            <h3 class="h7">Вызов</h3>
                            <p>BB Dakota - это тысячелетняя марка женской моды, которая всегда считала, что их любовь к моде и, в еще большей степени, любовь к женщинам, которые носят их моду, являются принципом, вокруг которого должна развиваться вся философия бренда.. </p>
                            <p>Как бренд, хорошо понимающий, кто они и за что они выступают, наша задача заключалась в том, чтобы упростить и уточнить платформу их бренда, а также создать систему идентификации и флагманский опыт электронной коммерции. Тот, который помогает им правильно выразить себя, нужным людям.<br /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium spacer-medium-top">
                <div class="container container--content">
                    <hr class="mb0 mt0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="container container--content">
                    <div class="text-block__inner">
                        <div class="body" data-skrollex data-sk-group>
                            <h3 class="h7">Идея</h3>
                            <p>Тысячелетние женщины ценят подлинность и предпочитают опыт, а не продукты. Наряду с этим, они имеют высокий фильтр для «ерунды» и связаны с брендами, которые разделяют их ценности и интересы.</p>
                            <p>С убеждением бренда в том, что «мода - это выглядеть изысканно, а не трахаться», мы поняли, что можем согласовать бренд BB Dakota с особенной тысячелетней женщиной: модницей, неуважительной личностью и желающей жить в своем стиле. одежда, а не просто носить их.</p>
                            <p>Рассказывая истории о брендах и продуктах, основанные на опыте, накопленном вами в одежде, а не на самих предметах одежды, мы могли бы установить позицию и точку зрения, которая отличает и объединяет единомышленников с индивидуальной культурой.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium spacer-medium-top">
                <div class="container container--content">
                    <hr class="mb0 mt0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="container container--content">
                    <div class="text-block__inner">
                        <div class="body" data-skrollex data-sk-group>
                            <h3 class="h7">Решение</h3>
                            <p>Мы работали вместе с командой в BB Dakota, чтобы разработать стратегию, соответствующую амбициям бренда и желаниям их аудитории. От идентичности и обмена сообщениями до цифровой платформы и контента в ней, мы продвинули их индивидуальность, чтобы создать опыт, который выражает точку зрения их бренда: «Это только мода» </p>
                            <p>Таким образом, мы создали экосистему бренда, где клиенты могут подключаться к интересующему их контенту и делать покупки для вещей, которые они ценят, - продуктов, поддерживающих их образ жизни и добавляющих что-то в их жизнь..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium spacer-medium-top">
                <div class="container container--content">
                    <hr class="mb0 mt0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="stats-list">
                <div class="container container--content">
                    <h3 class="h7 spacer-small spacer-smedium-top" data-skrollex data-sk-group>Результат</h3>
                    <div class="stats-list__stats">
                        <ul class="mb0">
                            <li class="fw-bold spacer-medium" data-skrollex data-sk-group>
                                <div class="stat h2 mb0">
                                    <span class="stat">700</span><span class="percentage">%</span> </div>
                                <div class="small mb0">Увеличение числа входов в CRM</div>
                            </li>
                            <li class="fw-bold spacer-medium" data-skrollex data-sk-group>
                                <div class="stat h2 mb0">
                                    <span class="stat">60</span><span class="percentage">%</span> </div>
                                <div class="small mb0">Увеличение числа уникальных просмотров страниц</div>
                            </li>
                            <li class="fw-bold spacer-medium" data-skrollex data-sk-group>
                                <div class="stat h2 mb0">
                                    <span class="stat">93</span><span class="percentage">%</span> </div>
                                <div class="small mb0">Увеличение среднего времени на странице</div>
                            </li>
                            <li class="fw-bold spacer-medium" data-skrollex data-sk-group>
                                <div class="stat h2 mb0">
                                    <span class="stat">30</span><span class="percentage">%</span> </div>
                                <div class="small mb0">Улучшение в органическом поиске</div>
                            </li>
                            <li class="fw-bold spacer-medium" data-skrollex data-sk-group>
                                <div class="stat h2 mb0">
                                    <span class="stat">160</span><span class="percentage">%</span> </div>
                                <div class="small mb0">Улучшение в Acq. Показатель отказов</div>
                            </li>
                        </ul>
                    </div>
                    <hr class="m0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium">
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="awards-list">
                <div class="container container--content">
                    <h3 class="h7 spacer-small" data-skrollex data-sk-group>Награды и разработки признание</h3>
                    <div class="awards-list__awards">
                        <ul class="grid grid--gutters">
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>Webby Awards: 2017 Honoree</strong></p>
                                    <p>Fashion / Beauty</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>Webby Awards: 2016 Honoree</strong></p>
                                    <p>Shopping / eCommerce</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>Webby Awards: 2016 Honoree</strong></p>
                                    <p>Mobile: Best User Experience</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>OMMA: 2016 Site of the Year</strong></p>
                                    <p>Best Fashion/Beauty/Cosmetics Website</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>OMMA: 2016 Site of the Year</strong></p>
                                    <p>Best Retail/Shopping</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>Awwwards: Site of the Year Finalist</strong></p>
                                    <p>eCommerce</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" />
                                </div>
                                <div class="text">
                                    <p><strong>Awwwards: Site of the Day</strong></p>
                                    <p>Site of the Day / 2016</p>
                                </div>
                            </li>
                            <li class="grid__item spacer-medium" data-skrollex data-sk-group>
                                <div class="image">
                                    <img src="" alt="" class="img-center" />
                                </div>
                                <div class="text">
                                    <p><strong>Communication Arts: Web Pick</strong></p>
                                    <p>Web Pick of the Day / 2016</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--full-bleed ">
            <div class="media-block media-block--content-wide">
                <div class="container container--content-wide">
                    <div class="media-block__inner spacer-large spacer-large-top" data-skrollex data-sk-group data-sk-mask>
                        <div id="video-player-1" class="video-player" data-skrollex data-sk-group data-video-player data-push-hover>
                            <div class="video-player__thumb video-player__thumb--image">
                                <button class="btn btn--round btn--play btn--play-large btn--play-dark" type="button" aria-label="Play Video" data-btn="play" data-btn-round data-skrollex data-sk-static data-sk-show-gutter-bottom="120">
                                    <span class="btn__text">
                                        <span class="btn__text-inner">Play</span>
                                    </span>
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="#icon-play"></use>
                                        </svg>
                                    </span>
                                    <span class="btn__bg"></span>
                                </button>
                                <div class="video-player__thumb-media" data-push-hover-child>
                                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                    srcset="
                                    {% static 'basic/images/20-1.jpg' %} 600w,
                                    {% static 'basic/images/20-2.jpg' %} 940w,
                                    {% static 'basic/images/20-3.jpg' %} 1280w,
                                    {% static 'basic/images/20-4.jpg' %} 2000w"
                                    sizes="100vw" alt="BB Dakota Fashion eCommerce, User Experience, and Web Design Case Study Behind the Build Image" />
                                </div>
                            </div>
                            <video class="video-player__video" preload="metadata" volume="0.5" data-skrollex data-sk-static data-sk-hide-offscreen data-sk-render-gutter-bottom="100" playsinline>
                                <source src="https://basicagency.com/uploads/case-studies/BB-Dakota/bb-dakota-fashion-ecommerce-user-experience-web-design-case-study-behind-the-build-video.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">02 &mdash;</span>
                    <span class="meta">Брендирование</span>
                </div>
                <div class="container container--content">
                    <div class="text-block__inner">
                        <h2 class="spacer-small" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.4">Цифровой первый подход к брендингу</h2>
                        <div class="body" data-skrollex data-sk-group>
                            <p>Поскольку цифровая связь является основным связующим звеном между брендом BB Dakota и их клиентом, мы использовали опыт электронной коммерции в качестве основы для определения структуры идентификации бренда..<br /></p>
                            <p>Благодаря исследованиям и итерациям мы смогли создать систему, основанную на необработанной эстетике, реальной личности и подлинных мнениях; как бренд, которому есть, что сказать, мы разработали его, сделав его простым, но значительным - смелая типография, яркие образы и минимальная элегантность. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--full-bleed ">
            <div class="media-block media-block--full-bleed">
                <div class="container container--full-bleed">
                    <div class="media-block__inner spacer-large spacer-large-top" data-skrollex data-sk-group data-sk-mask>
                        <div class="media-block__images">
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272354%27%20height%3D%271482%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/21-1.jpg' %} 600w,
                            {% static 'basic/images/21-2.jpg' %} 940w,
                            {% static 'basic/images/21-3.jpg' %} 1280w,
                            {% static 'basic/images/21-4.jpg' %} 2000w"
                            sizes="100vw" alt="BB Dakota Fashion eCommerce Responsive Design" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="container container--content">
                    <div class="text-block__inner">
                        <div class="body" data-skrollex data-sk-group>
                            <p>При разработке системы мы разработали руководящие принципы и стандарты бренда, которые сообщают, как наилучшим образом представлять бренд на всех каналах.. </p>
                            <p>Новые рекомендации помогают им выразить свое положение, личность и убеждения. Наряду с этим, он обеспечивает направление для видео и фотографии, а также визуальные и словесные стандарты, которые мы усовершенствовали, чтобы определить их новую идентичность бренда.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--full-bleed ">

            <div id="image-carousel-2" class="image-carousel spacer-large spacer-large-top" data-tabpanel data-image-carousel data-animation-type="mask" data-skrollex data-sk-group>
                <div class="container container--content pos-r">
                    <div class="image-carousel__controls carousel-controls">
                        <button class="btn-prev" tabindex="-1">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </button>
                        <ul role="tablist" class="meta">
                            <li role="presentation">
                                <a id="image-carousel-2-tab-1" href="#image-carousel-2-panel-1" aria-controls="image-carousel-2-panel-1" role="tab" data-no-hijack class="active" tabindex="0" aria-selected="true"><span aria-hidden="true">01</span><span class="a11y">
                                        Image 1
                                    </span></a><a id="image-carousel-2-tab-2" href="#image-carousel-2-panel-2" aria-controls="image-carousel-2-panel-2" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">02</span><span class="a11y">
                                        Image 2
                                    </span></a><a id="image-carousel-2-tab-3" href="#image-carousel-2-panel-3" aria-controls="image-carousel-2-panel-3" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">03</span><span class="a11y">
                                        Image 3
                                    </span></a><a id="image-carousel-2-tab-4" href="#image-carousel-2-panel-4" aria-controls="image-carousel-2-panel-4" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">04</span><span class="a11y">
                                        Image 4
                                    </span></a><a id="image-carousel-2-tab-5" href="#image-carousel-2-panel-5" aria-controls="image-carousel-2-panel-5" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">05</span><span class="a11y">
                                        Image 5
                                    </span></a> </li>
                            <li role="presentation" aria-hidden="true">&mdash;</li>
                            <li role="presentation" aria-hidden="true">05</li>
                        </ul>
                        <button class="btn-next" tabindex="-1">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="image-carousel__images">
                        <div class="image-carousel__image-track">
                            <div id="image-carousel-2-panel-1" role="tabpanel" aria-hidden="false" class="image-carousel__image active" data-skrollex data-sk-group data-sk-mask>
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Sunglasses" />
                            </div>
                            <div id="image-carousel-2-panel-2" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Latest Collection" />
                            </div>
                            <div id="image-carousel-2-panel-3" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Latest Collection" />
                            </div>
                            <div id="image-carousel-2-panel-4" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Collection Grid" />
                            </div>
                            <div id="image-carousel-2-panel-5" role="tabpanel" aria-hidden="true" class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Primary Typography Selection" />
                            </div>
                        </div>
                        <div class="image-carousel__image-track image-carousel__image-track-sync">
                            <div class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Sunglasses" />
                            </div>
                            <div class="image-carousel__image" data-skrollex data-sk-group data-sk-mask>
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w
                                {% static 'basic/images/22-4.jpg' %} 2000w" sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Latest Collection" />
                            </div>
                            <div class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w
                                {% static 'basic/images/22-4.jpg' %} 2000w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Fashion Model in Latest Collection" />
                            </div>
                            <div class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w
                                {% static 'basic/images/22-4.jpg' %} 2000w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Collection Grid" />
                            </div>
                            <div class="image-carousel__image">
                                <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272300%27%20height%3D%271650%27%20style%3D%27background%3Atransparent%27%2F%3E"
                                srcset="
                                {% static 'basic/images/22-1.jpg' %} 600w,
                                {% static 'basic/images/22-2.jpg' %} 940w,
                                {% static 'basic/images/22-3.jpg' %} 1280w
                                {% static 'basic/images/22-4.jpg' %} 2000w"
                                sizes="100vw" alt="BB Dakota Brand Guidelines Primary Typography Selection" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--full-bleed ">
            <div class="media-block media-block--full-bleed">
                <div class="container container--full-bleed">
                    <div class="media-block__inner spacer-large spacer-large-top" data-skrollex data-sk-group data-sk-mask>
                        <video class="video-player__video" preload="metadata" data-autoplay autoplay loop muted volume="0.5" data-skrollex data-sk-static data-sk-hide-offscreen data-sk-render-gutter-bottom="100" playsinline>
                            <source src="https://basicagency.com/uploads/case-studies/BB-Dakota/bb-dakota-fashion-ecommerce-user-experience-web-design-case-study-pdp-art-direction-video-2.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-medium">
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="image-grid spacer-large spacer-large-top">
                <div class="container container--content">
                    <div class="image-grid__images grid grid--gutters grid--two-up grid--mobile">
                        <div class="image-grid__image grid__item" data-skrollex data-sk-group>
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/22-5.jpg' %} 200w,
                            {% static 'basic/images/22-6.jpg' %} 400w"
                            sizes="100vw" alt="BB Dakota Fashion eCommerce Model in White Striped Shirt on White Background" />
                        </div>
                        <div class="image-grid__image grid__item" data-skrollex data-sk-group>
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/22-5.jpg' %} 200w,
                            {% static 'basic/images/22-6.jpg' %} 400w"
                            sizes="100vw" alt="BB Dakota Fashion eCommerce Model in White Shirt Posing on Couch" />
                        </div>
                        <div class="image-grid__image grid__item" data-skrollex data-sk-group>
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/22-5.jpg' %} 200w,
                            {% static 'basic/images/22-6.jpg' %} 400w"
                            sizes="100vw" alt="BB Dakota Fashion eCommerce Model in White Shirt Posing Outside" />
                        </div>
                        <div class="image-grid__image grid__item" data-skrollex data-sk-group>
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/22-5.jpg' %} 200w,
                            {% static 'basic/images/22-6.jpg' %} 400w"
                            sizes="100vw" alt="BB Dakota Fashion eCommerce Model Tan Jumper on White Background" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="toolkit-divider spacer-large spacer-large-top">
                <div class="container container--xwide">
                    <hr class="mb0 mt0" data-skrollex data-sk-group />
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="section-label container container--content" data-skrollex data-sk-group>
                    <span class="meta section-label__number">03 &mdash;</span>
                    <span class="meta">ECOMMERCE</span>
                </div>
                <div class="container container--content">
                    <div class="text-block__inner">
                        <h2 class="spacer-small" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.4">Использование культуры для развития торговли</h2>
                        <div class="body" data-skrollex data-sk-group>
                            <p>Определив стратегию электронной коммерции, мы ставим пользователя в центр наших усилий. Сосредоточив внимание на культурных взглядах и поведении пользователей, мы создали структуру сайта, которая представляет бренд для его аудитории на основе опыта и неожиданности.</p>
                            <p>На протяжении всего пути пользователя рассказывание историй бренда и презентация продукта работают вместе, органично сочетая культуру и коммерцию. Благодаря простоте, лежащей в основе пользовательского опыта, мы воплотили сайт в жизнь с богатым контентом и восхитительными микро-взаимодействиями, которые вдохновляют клиентов просматривать и покупать.<br /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolkit-mod toolkit-mod--full-bleed ">
            <div class="media-block media-block--content-wide">
                <div class="container container--content-wide">
                    <div class="media-block__inner spacer-large spacer-large-top" data-skrollex data-sk-group data-sk-mask>
                        <video class="video-player__video" preload="metadata" data-autoplay autoplay loop muted volume="0.5" data-skrollex data-sk-static data-sk-hide-offscreen data-sk-render-gutter-bottom="100" playsinline>
                            <source src="https://basicagency.com/uploads/case-studies/BB-Dakota/bb-dakota-fashion-ecommerce-user-experience-web-design-case-study-contextual-filter-video-2.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div class="text-block">
                <div class="container container--content">
                    <div class="text-block__inner">
                        <h2 class="spacer-small" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.4">Поощрение обнаружения пользователей</h2>
                        <div class="body" data-skrollex data-sk-group>
                            <p>Созданный нами интуитивно понятный опыт прост и оживает в такт вездесущему бренду BB Dakota. Когда пользователь исследует, он обнаруживает больше страниц коллекции, которые вдохновляют продукт; опыт вознаграждает пользователя и апеллирует к его исследовательскому характеру.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="toolkit-mod toolkit-mod--contained ">
            <div id="quote-1201" class="large-blockquote">
                <div class="container container--content">
                    <div class="large-blockquote__inner spacer-medium spacer-medium-top" data-skrollex data-sk-group>
                        <blockquote>
                            <p class="h8 spacer-small" data-skrollex data-sk-group>Наш сайт рассказывает нашу историю красиво и кратко с помощью захватывающего контента и восхитительного пользовательского опыта, и, таким образом, быстро и значительно информирует наших потребителей о том, кто мы есть..</p>
                            <footer data-skrollex data-sk-group>
                                <cite class="meta">Katherine Brandes: Creative Director, BB Dakota</cite>
                            </footer>
                        </blockquote>
                        <div class="media-block-share" data-media-block-share>
                            <button class="share-icon" aria-expanded="false" aria-controls="share-nav-5" data-skrollex data-sk-group>
                                <span class="a11y">Поделитесь этой цитатой</span>
                                <span class="icon">
                                    <svg>
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </span>
                            </button>

                            <ul id="share-nav-5" role="presentation">
                                <li role="presentation" class="share-twitter">
                                    <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                        <span class="a11y">Share on Twitter</span>
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                        <span></span>
                                    </a>
                                </li>
                                <li role="presentation" class="share-facebook">
                                    <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                        <span class="a11y">Share on Facebook</span>
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <span></span>
                                    </a>
                                </li>
                                <li role="presentation" class="share-pinterest">
                                    <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                        <span class="a11y">Share on Pinterest</span>
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        <span></span>
                                    </a>
                                </li>
                                <li role="presentation" class="share-linkedin">
                                    <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                        <span class="a11y">Share on LinkedIn</span>
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                        <span></span>
                                    </a>
                                </li>
                                <li role="presentation" class="share-email">
                                    <!--email_off-->
                                    <a href="">
                                        <span class="a11y">Отправить другу</span>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span></span>
                                    </a>
                                    <!--/email_off-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="article-footer">
        <div class="news-article-share spacer-large spacer-large-top">
            <div class="container container--content">
                <nav role="navigation">
                    <ul id="" role="presentation">
                        <li role="presentation" class="share-twitter">
                            <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                <span class="a11y">Share on Twitter</span>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li role="presentation" class="share-facebook">
                            <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                <span class="a11y">Share on Facebook</span>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li role="presentation" class="share-pinterest">
                            <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                <span class="a11y">Share on Pinterest</span>
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li role="presentation" class="share-linkedin">
                            <a href="" data-open-window onClick="ga('send', 'event', { eventCategory: 'social', eventAction: 'share', eventLabel: 'work'});">
                                <span class="a11y">Share on LinkedIn</span>
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li role="presentation" class="share-email">
                            <!--email_off-->
                            <a href="">
                                <span class="a11y">Отправить друг</span>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span></span>
                            </a>
                            <!--/email_off-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="newsletter-signup-form-outer spacer-large">
            <div class="container container--content">
                <form class="newsletter-signup-form" method="post" accept-charset="utf-8" enctype="multipart/form-data" id="newsletter-signup" novalidate data-form>
                    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">
                    <input type="hidden" name="handle" value="newsletterSignup">

                    <div class="form-group">
                        <input id="input-email" class="input-inline" type="email" name="fields[email]" aria-required="true" placeholder="Подписывайтесь на нашу новостную рассылку" data-validetta="required,email" aria-describedby="message-email" />
                        <label for="input-email" class="a11y">Введите ваш адрес электронной почты</label>
                        <div id="message-email" class="a11y">Пожалуйста, укажите свой адрес электронной почты</div>
                        <button type="submit" onClick="ga('send', 'event', 'submission-newsletter', 'submission', 'BASIC Newsletter');">
                            <span class="a11y">Отправить</span>
                            <svg>
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div role="alert" aria-live="polite" class="hidden form-submit-success spacer-small-top text-align-center">
                        <p class="mb0 meta full">Спасибо за подписку. Будем на связи.</p>
                    </div>
                </form>
            </div>
        </div>
        <hr class="m0" data-skrollex data-sk-group />
    </div>
</div>

<div id="footer-holder">
    <div class="next-page-footer pointer" data-next-page-footer data-skrollex data-sk-static data-easy-click>
        <div class="container next-page-footer__inner">
            <div class="next-page-footer__text">
                <div class="meta spacer-medium">Следующий проект</div>
                <h2 class="h3 spacer-medium">
                  SoftBank Vision Fund внедряет новый способ инвестирования
                </h2>
                <div class="icon">
                    <svg>
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <a href="" data-transition="mask">
                <span class="a11y">Исследуйте SoftBank Vision Fund</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}
