<div class=_2tkcrf>
  <div class=_1UQxz->
    <div class=_1famaj>
      <div class=_1sQUWc>
        <div class=_1i2xRb>
          <div class=_1AMdKw>
            <span class=gMIA7I>Время</span>
          </div>
          <div class=_2QJh9_>
            <div class=_3NejRQ>
              <span class=_2w9CWu>2019</span>
              <div class=_1RL35Y>
                <div class=_1dJ9As style=transform:translateY(0)>
                  <svg class=fjLGkX xmlns=http://www.w3.org/2000/svg viewBox="0 0 74 74">
                    <title>Dragger</title>
                    <path class=_1PdvS- d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path><path class=_34ns8L d=M14.1,13.33A31.84,31.84,0,0,0,14,59.2a33.63,33.63,0,0,0,46.74.16,38,38,0,0,1-37.29-9.24A36.27,36.27,0,0,1,14.1,13.33Z></path><path class=_1WtGR_ d=M32.3,15.73a2.42,2.42,0,0,0,2.43,2.42A21.17,21.17,0,0,1,55.87,39.3a2.43,2.43,0,0,0,4.86,0,26,26,0,0,0-26-26A2.43,2.43,0,0,0,32.3,15.73Z></path><path class=_1E1uFr d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path>
                  </svg>
                </div>
                <div class=_1dJ9As style=transform:translateY(0)>
                  <svg class=fjLGkX xmlns=http://www.w3.org/2000/svg viewBox="0 0 74 74">
                    <title>Dragger</title>
                    <path class=_1PdvS- d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path>
                    <path class=_34ns8L d=M14.1,13.33A31.84,31.84,0,0,0,14,59.2a33.63,33.63,0,0,0,46.74.16,38,38,0,0,1-37.29-9.24A36.27,36.27,0,0,1,14.1,13.33Z></path><path class=_1WtGR_ d=M32.3,15.73a2.42,2.42,0,0,0,2.43,2.42A21.17,21.17,0,0,1,55.87,39.3a2.43,2.43,0,0,0,4.86,0,26,26,0,0,0-26-26A2.43,2.43,0,0,0,32.3,15.73Z></path><path class=_1E1uFr d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path>
                  </svg>
                </div>
              </div>
              <span class=_2yo66s>1998</span>
            </div>
          </div>
        </div>
      </div>
      <div class=_1sQUWc>
        <div class=_1i2xRb>
          <div class=_1AMdKw>
            <span class=gMIA7I>Pieces</span>
          </div><div class=_2QJh9_>
            <div class=_3NejRQ>
              <span class=_2w9CWu>Unique</span>
              <div class=_1RL35Y>
                <div class=_1dJ9As style=transform:translateY(0)>
                  <svg class=fjLGkX xmlns=http://www.w3.org/2000/svg viewBox="0 0 74 74">
                    <title>Dragger</title><path class=_1PdvS- d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path><path class=_34ns8L d=M14.1,13.33A31.84,31.84,0,0,0,14,59.2a33.63,33.63,0,0,0,46.74.16,38,38,0,0,1-37.29-9.24A36.27,36.27,0,0,1,14.1,13.33Z></path><path class=_1WtGR_ d=M32.3,15.73a2.42,2.42,0,0,0,2.43,2.42A21.17,21.17,0,0,1,55.87,39.3a2.43,2.43,0,0,0,4.86,0,26,26,0,0,0-26-26A2.43,2.43,0,0,0,32.3,15.73Z></path><path class=_1E1uFr d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path>
                  </svg>
                </div>
                <div class=_1dJ9As style=transform:translateY(0)>
                  <svg class=fjLGkX xmlns=http://www.w3.org/2000/svg viewBox="0 0 74 74">
                    <title>Dragger</title><path class=_1PdvS- d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path><path class=_34ns8L d=M14.1,13.33A31.84,31.84,0,0,0,14,59.2a33.63,33.63,0,0,0,46.74.16,38,38,0,0,1-37.29-9.24A36.27,36.27,0,0,1,14.1,13.33Z></path><path class=_1WtGR_ d=M32.3,15.73a2.42,2.42,0,0,0,2.43,2.42A21.17,21.17,0,0,1,55.87,39.3a2.43,2.43,0,0,0,4.86,0,26,26,0,0,0-26-26A2.43,2.43,0,0,0,32.3,15.73Z></path><path class=_1E1uFr d=M71,37A34,34,0,1,1,37,3,34,34,0,0,1,71,37Z></path>
                  </svg>
                </div>
              </div>
              <span class=_2yo66s>Unlimited</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=_1STpWD>
      <div class=_21qZxB>
        <h3 class=_2_hYc_>Материал</h3>
      </div>
      <div class=_342tdl>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Paper</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Paper</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Bronze</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Bronze</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Glass</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Glass</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Plastic</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Plastic</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Wood</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Wood</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Textile</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Textile</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Ceramic</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Ceramic</span>
              </span>
            </span>
          </div>
        </div>
        <div class="_3u0x3r link">
          <div class=_22wP2t>
            <span class=_1qdpGJ>
              <span class=_2vEne3>Metal</span>
              <span class=_2mxK4O>
                <span class=_16WV47>Metal</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
