{% extends "basic_base.html" %}
{% load static %}

{% block title %}Карьера{% endblock %}

{% block content %}
<div id="main" role="main">
    <div class="page page--careers">
        <h1 class="a11y">Присоединяйтесь к нам</h1>

        <div class="hero hero--careers">
            <div class="hero__content">
                <div class="container dash-holder dash-holder--push-content" data-skrollex data-sk-group>
                    <div class="hero__meta meta spacer-smedium no-wrap">
                        <hr class="dash" />ПРИСОЕДИНЯЙТЕСЬ К НАМ
                    </div>
                    <h2 class="h1 hero__title" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.75">Сделай крутой $ хит.
                         Получить оплату.</h2>
                    <p class="lead hero__excerpt spacer-medium spacer-small-top" data-skrollex data-sk-group data-sk-paragraph>
                        Мы хотим познакомиться с создателями, перспективными хастлерами с настоящим талантом.
                    </p>
                </div>
            </div>
        </div>

        <div class="bucket bucket-careers" data-careers-bucket data-skrollex data-sk-group>
            <div class="bucket-careers__images bucket-careers__images--left" data-skrollex data-sk-group data-sk-mask>
                <div class="location-images is-active">
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275184%27%20height%3D%272206%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="Hungry Individuals On Production Set for Studio Photography" class="is-active" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273997%27%20height%3D%272665%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%274643%27%20height%3D%271976%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="Project / Account Managers Job Openings" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%271277%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                </div>
                <div class="location-images">
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%271688%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="is-active" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272000%27%20height%3D%273000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272921%27%20height%3D%273651%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="About BASIC Agency Design Process Focused on Laptop" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275434%27%20height%3D%273057%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275614%27%20height%3D%273743%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="About BASIC Agency UX Design Process" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272400%27%20height%3D%273000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                </div>
                <div class="location-images">
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272000%27%20height%3D%27851%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w" sizes="100vw" alt="" class="is-active" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w" sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271879%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E"
                    srcset="
                    {% static 'basic/images/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w"
                    sizes="100vw" alt="" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E"
                    srcset="
                    {% static 'basic/images/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w"
                    sizes="100vw" alt="" class="" />
                </div>
            </div>
            <div class="container">
                <div class="bucket-careers__inner">
                    <div class="bucket-careers__locations" data-skrollex data-sk-group>
                        <span class="meta">Filter Locations</span>
                        <ul></ul>
                    </div>
                    <div class="bucket-careers__categories" data-skrollex data-sk-group>
                        <span class="meta">Filter Jobs</span>
                        <ul></ul>
                    </div>
                    <div class="bucket-careers__selected-careers">
                        <ul></ul>
                        <div class="bucket-careers__no-entries is-hidden">
                            <p>No careers match your search critera.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket-careers__images bucket-careers__images--right" data-skrollex data-sk-group data-sk-mask>
                <div class="location-images is-active">

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275184%27%20height%3D%272206%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="Hungry Individuals On Production Set for Studio Photography" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273997%27%20height%3D%272665%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="is-active" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%274643%27%20height%3D%271976%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="Project / Account Managers Job Openings" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%271277%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                </div>
                <div class="location-images">

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%271688%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272000%27%20height%3D%273000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="is-active" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272921%27%20height%3D%273651%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="About BASIC Agency Design Process Focused on Laptop" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275434%27%20height%3D%273057%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%275614%27%20height%3D%273743%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="About BASIC Agency UX Design Process" class="" />
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272400%27%20height%3D%273000%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                </div>
                <div class="location-images">
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272000%27%20height%3D%27851%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="is-active" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />

                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271880%27%20height%3D%271194%27%20style%3D%27background%3Atransparent%27%2F%3E" srcset="{% static 'images/basic/20-1.jpg' %} 600w,
                    {% static 'basic/images/20-2.jpg' %} 940w,
                    {% static 'basic/images/20-3.jpg' %} 1280w,
                    {% static 'basic/images/20-4.jpg' %} 2000w" sizes="100vw" alt="" class="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer-holder">
    <div class="next-page-footer pointer" data-next-page-footer data-skrollex data-sk-static data-easy-click>
        <div class="container next-page-footer__inner">
            <div class="next-page-footer__text">
                <div class="meta spacer-medium">Далее </div>
                <h2 class="h3 spacer-medium">
                    Get In Touch
                </h2>
                <div class="icon">
                    <svg>
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <a href="{% url 'basic_contacts' %}" data-transition="mask">
                <span class="a11y">Наши контакты</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
