{% load static %}
<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite|Roboto:400,100,100italic,300italic,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'styles/manship/normalize.css' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'styles/manship/style.min.css' %}" media="none" onload="if(media!='all')media='all'" />
		<link rel="stylesheet" href="{% static 'styles/manship/shortcodes.css' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'styles/manship/sb-instagram.min.css' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'styles/manship/font-awesome.min.css' %}" type='text/css' media='all' />
    <title>{% block title %}{% endblock %}</title>
		<script type='text/javascript' src="{% static 'scripts/manship/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'scripts/manship/jquery-migrate.min.js' %}"></script>
</head>

<body class="page-template-default page page-id-6 page-child parent-pageid-60 onload-page tribe-no-js single-author singular manship-story">

    {% include "manship/navbar.html" %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'scripts/manship/TweenLite.min.js' %}" type="text/javascript" /></script>
  	<script src="{% static 'scripts/manship/TimelineLite.min.js' %}" type="text/javascript" /></script>
    <script src="{% static 'scripts/manship/impress.js' %}" type="text/javascript" /></script>
	<script src="{% static 'scripts/manship/slick.min.js' %}" type="text/javascript" /></script>
  <script src="{% static 'scripts/manship/sketcher.js' %}" type="text/javascript" /></script>
  <script src="{% static 'scripts/manship/app.js' %}" type="text/javascript" /></script>
  <script src="{% static 'scripts/manship/modaal.min.js' %}" type="text/javascript" /></script>

</body>
</html>
