<footer class="colophon">
      <div class="colophon-inner">
        <div class="container text-center">
            <p class="text-uppercase">Открыты всегда (<a href="">Контакты</a>)&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">Подписаться на новости</a></p>
            <p class="special">15550 Чина, Джеки Чан, стр. 1 | <a href="tel:(012) 345-6789" title="Позвонить (012) 345-6789">(012) 345-6789</a>
                | <a target="_blank" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                | <a target="_blank" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                | <a target="_blank" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
            <p>Создал <a href="" target="_blank">Винни Пух</a></p>
        </div>
      </div>
    </footer>
</div>
