<div class="specials_status vert">
    <div class="container">
        <div class="row">
            <div class="sm-12 md-8 lg-8">
                <h2 class="special">Специальное предложение</h2>

                <p><strong>Ланч:</strong> Проверьте обратно в конце недели на обед специальный.</p>

                <p class="text-left">
                    <p><strong>Счастливое время: </strong>M-F 3 P.M. &#8211; 6 P.M. : 1⁄2 Цены Пицца | $2 от всех ремесленных и импортных сортов пива | $5 с бокалы домашнего вина | $5 с виски<br />
                        <small>(Цены могут меняться.) * Ограничения на купоны действительно применяются!<br />
                        </small>
                    </p>
                </p>
                <div class="vert visible-xs"></div>
            </div>
            <div class="sm-12 md-4 lg-4 text-center">
                <p>Мы в настоящее время:</p>
                <span id="open-status" class="status special h1"></span>
                <a href="/open-table-modal/" title="Зарезервировать столик" class="btn btn-lg btn-default iframe">Зарезервировать столик</a>
            </div>
        </div>
    </div>
</div>
