<section class="signup">
	<div class="contentblock centerA">
		<h2>Join our mailing list.</h2>
		<div class="inputArea">
			<!-- CTA -->
			<div class="cta">Sign up to our newsletter</div>
		</div>
		<div class="newsletterpopup">
			<!-- Signup form -->
			<div class="form">
				<div class="closeBtn"></div>
				<h3>Keep in touch.</h3>
				<p>Complete the form below to sign up for Verity email newsletters. You’ll be the first to know about new events, products and where you can see our show drones in action.</p>
				<form action="https://veritystudios.us13.list-manage.com/subscribe/post" target="receiveNewsletterJob" method="POST">
				    <input type="hidden" name="u" value="1ec74fc95359b1c850e6edf60" />
				    <input type="hidden" name="id" value="59be8c6b3c" />
					<input type="text" name="MERGE1" id="MERGE1" size="30" placeholder="*First name" required />
					<input type="text"  name="MERGE2" id="MERGE2" size="30" placeholder="*Surname" required />
					<input type="text"  name="MERGE3" id="MERGE3" size="30" placeholder="*Company name" required />
					<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="30" value="" placeholder="*Email address" required />
					<input type="submit" class="submit" name="submit" value="Sign up" style="display:none;" />
				</form>
				<div class="tick">
					<p class="small">I consent to receiving marketing<br />communications emails from Verity.</p>
					<div class="rect"><div class="inner"></div></div>
				</div>
				<a href="" class="outlineBtn">Sign up</a>
				<!--<div class="submitBtn">Sign up</div>-->
				<p class="small">You can unsubscribe from our mailing list at any time.<br />Please read our <a href="legal" target="_blank">privacy policy</a> for more details.</p>
				<iframe name="receiveNewsletterJob" style="display:none;"></iframe>
			</div>
			<!-- Thank you message -->
			<div class="thanks">
				<h3>Thanks for signing up.</h3>
				<p> We will bring you interesting features, events and behind-the-scenes stories from the Verity team.</p>
				<a href="" class="outlineBtn">Close</a>
			</div>
		</div>
	</div>
</section>
