{% load static %}

<script src="{% static 'scripts/verity/TweenLite.min.js' %}"></script>
<script src="{% static 'scripts/verity/CSSPlugin.min.js' %}"></script>
<script src="{% static 'scripts/verity/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'scripts/verity/EasePack.min.js' %}"></script>
<script src="{% static 'scripts/verity/CustomEase.min.js' %}"></script>
<script src="{% static 'scripts/verity/SplitText.min.js' %}"></script>
<script src="{% static 'scripts/verity/Templates.js' %}"></script>
<script src="{% static 'scripts/verity/Main3D.js' %}"></script>
<script src="{% static 'scripts/verity/Pages.js' %}"></script>
<script src="{% static 'scripts/verity/Work.js' %}"></script>
<script src="{% static 'scripts/verity/News.js' %}"></script>
<script src="{% static 'scripts/verity/global.js' %}"></script>
<script src="{% static 'scripts/verity/main.js' %}"></script>
<script src="{% static 'scripts/verity/three.min.js' %}" async defer></script>


</body>
</html>
