<div class="textpage page dark faq" data-url="faq">
	<section class="contentblock txtImg centerOverflowed header" data-para="0,0" data-anim="f" data-target="2" data-img="https://veritystudios.cdn.prismic.io/veritystudios/ad723554e473c139df56a7a06b25fc041d31401c_faq_header.jpg,https://veritystudios.cdn.prismic.io/veritystudios/ad723554e473c139df56a7a06b25fc041d31401c_faq_header.jpg,https://veritystudios.cdn.prismic.io/veritystudios/491da4c3dfea542b7f5bd5d8e389ee4742cd356e_faq_header.jpg" data-rel="1440,496,320,250">
		<div class="txt" data-noanimation="true">
			<h2>Frequently asked questions</h2>
		</div>
	</section>

	<section class="contentblock jobs centerOverflowed">
		<div class="job">
			<h3>Do you provide drone shows for outdoor venues?</h3>
			<p>Our Lucie micro drones only weigh 50g (1.8oz), which makes them very safe when flying near people, but due to their light weight, they are unsuitable for outdoor use. Generally, we do not operate outdoors, except in areas very well protected from wind and weather.&nbsp;
</p>		</div>
		<div class="job">
			<h3>How long do the drones fly? What is the charging time? </h3>
			<p>Each of our Lucie micro drones take approximately one hour to charge and can fly for up to 3 minutes. For a longer effect, you can stagger the micro drones&rsquo; take-off and landing.
</p>		</div>
		<div class="job">
			<h3>How many drones can you fly together?</h3>
			<p>Our technology supports an unlimited number of autonomous drones to fly simultaneously. The optimum number of drones for your project is determined by the available space and the creative concept.&nbsp;&nbsp;&nbsp;
</p>		</div>
		<div class="job">
			<h3>Do you fly above audiences?</h3>
			<p>Because our Lucie micro drones only weigh 50g (1.8oz), they are very safe when flying near or above people.In most cases we fly above the stage area and performers on stage. In one-time events we have performed above the audience as well.&nbsp;
</p>		</div>
		<div class="job">
			<h3>How can I get your drones at my event?</h3>
			<p>Depending on your requirements we will typically need a 4 to 12-week lead-time. We'll develop a creative concept for the drone show choreography and will produce a first 3D animation for your review. We'll also start assembling the equipment you'll need. Once we have shipped the equipment, Verity will come on site for the installation, or we&rsquo;ll train your staff to do the installation themselves.&nbsp;&nbsp;If you&rsquo;re doing a&nbsp;one-time event,&nbsp;our&nbsp;staff will&nbsp;then&nbsp;remain on-site to operate the&nbsp;drone&nbsp;show.&nbsp;&nbsp;If you&rsquo;re planning a&nbsp;permanent installation,&nbsp;we will&nbsp;train&nbsp;your&nbsp;staff to operate the drone show and&nbsp;do&nbsp;regular drone maintenance.&nbsp;
</p>		</div>
		<div class="job">
			<h3>How much maintenance does the system need? </h3>
			<p>Our Lucie micro drones are equipped with sensors to monitor their status and will tell you when they require maintenance. We will train the local crew to perform maintenance on the drones.&nbsp;
</p>		</div>
		<div class="job">
			<h3>How much weight can your drones carry?</h3>
			<p>Our Lucie micro drones weigh 50g (1.8oz) and are not designed to carry loads. However, we have developed ultra-light weight costumes, which can be attached to the drones, if desired.&nbsp;
</p>		</div>
		<div class="job">
			<h3>How can I customize the drones for my project?</h3>
			<p>We can accommodate several types of customization. For example, we can offer client-specific,  custom-made costumes. This will be a customized  creative and technical project with lead times between 4 and 8 months. We  also offer costume design services for the Lucie micro drones, and  other technical customization services. These services will incur additional costs and longer lead times. For more information, <a href="/contact">please get in touch with our sales team</a>.
</p>		</div>
		<div class="job">
			<h3>What flight space can you cover?</h3>
			<p>We&rsquo;ve covered indoor event spaces up to small sporting arena size. There is no upper size limit.
</p>		</div>
		<div class="job">
			<h3>My venue has a no-drone policy, will this be a problem?</h3>
			<p>We&rsquo;ve had approval to fly in many different venues, in more than 20 countries worldwide. Because  our Lucie micro drones are so light and safe, we&rsquo;ve also been approved  to fly in venues with no-drone policies like Changi Airport in Singapore. We will support you in obtaining approval in your venue if required.&nbsp;
</p>		</div>
	</section>

	<section class="contentblock textOnly centerOverflowed">
		<div class="txt">
			<h3>Didn’t find what you were looking for?</h3>
			<a href="contact" class="outlineBtn">Contact us</a>
		</div>
	</section>
</div>
