<div class="news page" data-url="news" data-desc="News & Press">
	<div class="front">
		<section class="contentblock txtImg centerOverflowed intro">
			<div class="txt">
				<h5>News & Press</h5>
				<h1 class="outline">Behind <br class="mobile"/>the magic</h1>
				<nav class="categories">
					<span class="desc">Categories:</span>
					<a href="news" data-type="">All</a>
					<a href="news?c=news" data-type="news">News</a>
					<a href="news?c=media" data-type="media">Media & Awards</a>
					<a href="news?c=events" data-type="events">Events</a>
					<a href="news?c=lab" data-type="lab">Lab</a>
					<a href="news?c=spotlight" data-type="spotlight">Team Verity Spotlight</a>
				</nav>
			</div>
		</section>

		<section class="contentblock newsarticles">
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/a36b485fef3d20497e327cd9d4d331867d763945_drone-in-failsafe---2-props-failed-2.png,https://veritystudios.cdn.prismic.io/veritystudios/10f94add18049bd6499703a616c24e76f4586a82_drone-in-failsafe---2-props-failed-2.png,https://veritystudios.cdn.prismic.io/veritystudios/a36b485fef3d20497e327cd9d4d331867d763945_drone-in-failsafe---2-props-failed-2.png"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2019-04-29</p>
					<h3 class="title">WIRED: Swiss company Verity Studios has developed an algorithm that helps autonomous drones to retain control if one or two rotors become disabled</h3>
					<a href="news/wired-verity-studios-failsafe" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/0d6ad6e4cc9456e742c6cd136734e4bc3bb3e4e2_ted2016_021716_1bh4268_low-res.jpg,https://veritystudios.cdn.prismic.io/veritystudios/e4fba2c953800a81305fb5b47e89e69943d279c4_ted2016_021716_1bh4268_low-res.jpg,https://veritystudios.cdn.prismic.io/veritystudios/0d6ad6e4cc9456e742c6cd136734e4bc3bb3e4e2_ted2016_021716_1bh4268_low-res.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2019-03-08</p>
					<h3 class="title">Come along to SXSW 2019 to see a keynote by Verity’s founder and CEO,
Raffaello D’Andrea</h3>
					<a href="news/sxsw-2019" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/c39487c89bec794b07cbd1912cbb3b2cc42bee18_hover_close-to-camera_5.mp4.00_00_58_20.still005.png,https://veritystudios.cdn.prismic.io/veritystudios/9da20fa7b96de7909b81ee3dfe9dddcecc7a422b_hover_close-to-camera_5.mp4.00_00_58_20.still005.png,https://veritystudios.cdn.prismic.io/veritystudios/c39487c89bec794b07cbd1912cbb3b2cc42bee18_hover_close-to-camera_5.mp4.00_00_58_20.still005.png"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2019-02-28</p>
					<h3 class="title">Business Wire: Verity Studios Launches Software Algorithm to Make Drones Dramatically Safer</h3>
					<a href="news/business-wire-verity-studios-failsafe" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="spotlight">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/c343d68fba554349d502be77c3f6c8bd94c03d20_lr_fq_2026.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c9e9b93a523e4c0b28c5b189d659f8b442defff4_lr_fq_2026.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c343d68fba554349d502be77c3f6c8bd94c03d20_lr_fq_2026.jpg"></div>
				<div class="txt">
					<p class="date">Team Verity Spotlight - 2019-02-22</p>
					<h3 class="title">Team Verity Spotlight: Flavio Fontana</h3>
					<a href="news/team-verity-spotlight-flavio" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/17ef0e9652f0a9f0690a0ebdf998914f7d4d8628_dancers-and-lanterns.png,https://veritystudios.cdn.prismic.io/veritystudios/e86d24943ffc4d0e9cc2688c56585c62da76bca8_dancers-and-lanterns.png,https://veritystudios.cdn.prismic.io/veritystudios/17ef0e9652f0a9f0690a0ebdf998914f7d4d8628_dancers-and-lanterns.png"></div>
				<div class="txt">
					<p class="date">News - 2019-02-06</p>
					<h3 class="title">Verity Studios and TikTok bring 88 costumed drones to the 2019 CCTV New Year's Gala</h3>
					<a href="news/2019-cctv-ny-gala" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/4baf77ac93610a10720def589e8fd44e910b9cc1_what_we_do_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/260d2250e9f2b821e0cb80f3d61f4fb032e8ba33_what_we_do_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4baf77ac93610a10720def589e8fd44e910b9cc1_what_we_do_thumb2.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2019-01-29</p>
					<h3 class="title">Upcoming events in 2019</h3>
					<a href="news/upcoming-events-in-2019" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/c17ac39b061bd2fa496438e43dc8473915bbc75b_flower_costume_4_edited.jpg,https://veritystudios.cdn.prismic.io/veritystudios/21c3c372d7d74e8f28d401cdf83997240e6d35df_flower_costume_4_edited.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c17ac39b061bd2fa496438e43dc8473915bbc75b_flower_costume_4_edited.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-11-27</p>
					<h3 class="title">Access All Areas: Spectacular dancing drone performance at The Dubai Mall</h3>
					<a href="news/access-all-areas-spectacular-dancing-drone-performance" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/090a7b555604878746c46a290dbb2f958c90943e_dubai-mall_drone-show_for-website.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4497cc8cb7a3ec7aae491614ddd80b352f22939f_dubai-mall_drone-show_for-website.jpg,https://veritystudios.cdn.prismic.io/veritystudios/090a7b555604878746c46a290dbb2f958c90943e_dubai-mall_drone-show_for-website.jpg"></div>
				<div class="txt">
					<p class="date">News - 2018-11-15</p>
					<h3 class="title">Mesmerizing micro drone performance wows at The Dubai Mall’s 10 Year Celebrations</h3>
					<a href="news/talisman-dubai-mall" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/d793a5fa1efa22b279165757b28e038266310ab0_fantastic-journey1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/5a985c3b898ed2950b5202eb038310f37cfc0574_fantastic-journey1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/d793a5fa1efa22b279165757b28e038266310ab0_fantastic-journey1.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-11-13</p>
					<h3 class="title">TEA: Fantastic Journey wins a Thea Award!</h3>
					<a href="news/theaawards-fantastic-journey" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/3975e249b11f327dda5437a0fe458cd284a5870c_news_main.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c8da394fa81439d6a001d2482583fc3ed2cd61f6_news_main.jpg,https://veritystudios.cdn.prismic.io/veritystudios/3975e249b11f327dda5437a0fe458cd284a5870c_news_main.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2018-01-23</p>
					<h3 class="title">Meet the Verity Team at Starlight Express in January</h3>
					<a href="news/starlight-express-event" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/8fdb4cb059c277b2269745f8e0880b9566b21498_instituto-marangoni-2018_watermarked.jpg,https://veritystudios.cdn.prismic.io/veritystudios/fffee6e0b905c594af8a3b0c6ccd15c67af04324_instituto-marangoni-2018_watermarked.jpg,https://veritystudios.cdn.prismic.io/veritystudios/8fdb4cb059c277b2269745f8e0880b9566b21498_instituto-marangoni-2018_watermarked.jpg"></div>
				<div class="txt">
					<p class="date">News - 2018-10-30</p>
					<h3 class="title">Léa Pereyre talks at Istituto Marangoni London</h3>
					<a href="news/lea-pereyre-istituto-marangoni" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="spotlight">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/34b0f36aff14f019f2ba3af015d31e2331f7f4b7_laura2_cropped.jpg,https://veritystudios.cdn.prismic.io/veritystudios/6203f22dcbf1d86f91c5fba3faa3a83c527dd31f_laura2_cropped.jpg,https://veritystudios.cdn.prismic.io/veritystudios/34b0f36aff14f019f2ba3af015d31e2331f7f4b7_laura2_cropped.jpg"></div>
				<div class="txt">
					<p class="date">Team Verity Spotlight - 2018-10-22</p>
					<h3 class="title">Team Verity Spotlight: Laura Arciniegas</h3>
					<a href="news/team-verity-spotlight-laura-arciniegas" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/2a229e88338bee686d1dca18a640ecf83eb7035b_metalica.jpg,https://veritystudios.cdn.prismic.io/veritystudios/7459cb1f315e24acf44a3931616cb36820b95a00_metalica.jpg,https://veritystudios.cdn.prismic.io/veritystudios/2a229e88338bee686d1dca18a640ecf83eb7035b_metalica.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-10-11</p>
					<h3 class="title">Blabbermouth: "It all starts with the band's vision"</h3>
					<a href="news/blabbermouth-it-all-starts-with-the-bands-vision" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/408d408827499a4c0a7ab078b1c9dad62ac985d4_yeojen_1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/58029fd96f7fd34117f7af6f7551ec8c43a34c62_yeojen_1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/408d408827499a4c0a7ab078b1c9dad62ac985d4_yeojen_1.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-10-10</p>
					<h3 class="title">Gizmodo: How Swarms of Super Intelligent Drones Are Taking Over Live Entertainment</h3>
					<a href="news/how-swarms-of-drones-are-taking-over-live-entertainment" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/4b579b42be14822f6658fdf5cb538c4091e559f4_bloomberg.png,https://veritystudios.cdn.prismic.io/veritystudios/a3353c540dbe0519610c0ed6c84ef5c53f089b1d_bloomberg.png,https://veritystudios.cdn.prismic.io/veritystudios/4b579b42be14822f6658fdf5cb538c4091e559f4_bloomberg.png"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-09-28</p>
					<h3 class="title">Bloomberg: Can drones be creative?</h3>
					<a href="news/bloomberg-can-drones-be-creative" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/eded10a823532250e529e51664f24a028a3ab74c_drake-drones.jpg,https://veritystudios.cdn.prismic.io/veritystudios/a6cbea9d83e8e55c0277e288059e3fc245c5e4a1_drake-drones.jpg,https://veritystudios.cdn.prismic.io/veritystudios/eded10a823532250e529e51664f24a028a3ab74c_drake-drones.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-09-23</p>
					<h3 class="title">Rolling Stone: Meet the Backup Dancers on Drake’s Tour: Tiny, Sentient Drones</h3>
					<a href="news/meet-the-backup-dancers-on-drakes-tour" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/5eef2855a66bdbda3da6432d28503230cb7472dc_drone-with-costume-c-verity-2-recrop-940x390.jpg,https://veritystudios.cdn.prismic.io/veritystudios/bb735bc49329ea2f47117b01f7c8961ee030970b_drone-with-costume-c-verity-2-recrop-940x390.jpg,https://veritystudios.cdn.prismic.io/veritystudios/5eef2855a66bdbda3da6432d28503230cb7472dc_drone-with-costume-c-verity-2-recrop-940x390.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-09-03</p>
					<h3 class="title">DesignSwitzerland: Drone costume design by Verity</h3>
					<a href="news/for-the-upcoming-london-design-festival-in-september" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/49bee031ef2a32d3bd52522d35ba8f5a466a0279_drake_brasil_1_landscape_watermarked.png,https://veritystudios.cdn.prismic.io/veritystudios/656703f138ebaa9db900a4b189bb35045752b8b6_drake_brasil_1_landscape_watermarked.png,https://veritystudios.cdn.prismic.io/veritystudios/49bee031ef2a32d3bd52522d35ba8f5a466a0279_drake_brasil_1_landscape_watermarked.png"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-08-03</p>
					<h3 class="title">CNET: Drake's tech-filled concerts use drones as backup dancers</h3>
					<a href="news/cnet-drakes-tech-filled-concerts-use-drones" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/04b16ea9bf38cc9d25b4613765b799d84e6264e2_lea-with-bird-drone.jpg,https://veritystudios.cdn.prismic.io/veritystudios/430d79059140cd1144a777029240e4621f5337cb_lea-with-bird-drone.jpg,https://veritystudios.cdn.prismic.io/veritystudios/04b16ea9bf38cc9d25b4613765b799d84e6264e2_lea-with-bird-drone.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-09-14</p>
					<h3 class="title">Design Switzerland: Léa Pereyre from Verity Studios talks at Istituto Marangoni London</h3>
					<a href="news/designswitzerland-leapereyre-istitutomarangoni-london" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/64bcb26945fd7998137531e1de35be4b984c0f59_robbierodick_1_landscape_watermarked.png,https://veritystudios.cdn.prismic.io/veritystudios/bc18e8f79ba00ec044a4b22199ab94830e2e5f0e_robbierodick_1_landscape_watermarked.png,https://veritystudios.cdn.prismic.io/veritystudios/64bcb26945fd7998137531e1de35be4b984c0f59_robbierodick_1_landscape_watermarked.png"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-09-05</p>
					<h3 class="title">The Verge: Drake lights up his live performances with a drone show</h3>
					<a href="news/drake-lights-up" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="spotlight">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/48806e5ec5b9872a1880fe8f7ec1a01830195a10_luca2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/46ca5d69a57d3010219da52e5ffaffec5e2d30c5_luca2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/48806e5ec5b9872a1880fe8f7ec1a01830195a10_luca2.jpg"></div>
				<div class="txt">
					<p class="date">Team Verity Spotlight - 2018-08-29</p>
					<h3 class="title">Team Verity Spotlight: Luca Gherardi</h3>
					<a href="news/team-verity-spotlight-luca-gherardi" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/04bf6b1267cf43434f6e064509f1394d98ca17d2_lucie3_full_clean_cropped.jpg,https://veritystudios.cdn.prismic.io/veritystudios/46a998dda98d8a9b64a3b8255cdb9647e70d084e_lucie3_full_clean_cropped.jpg,https://veritystudios.cdn.prismic.io/veritystudios/04bf6b1267cf43434f6e064509f1394d98ca17d2_lucie3_full_clean_cropped.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-07-31</p>
					<h3 class="title">Robotics Business Review: Verity Studios aims to fly higher with autonomous drone entertainment</h3>
					<a href="news/verity-studios-aims-to-fly-higher-with-autonomous-drone" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/3f8fca32530a107922f4546d2db7210f40018f7e_image1_edited_1200x800.png,https://veritystudios.cdn.prismic.io/veritystudios/d90c45db4068d4b100600ce8c456095a13bd8dd4_image1_edited_1200x800.png,https://veritystudios.cdn.prismic.io/veritystudios/3f8fca32530a107922f4546d2db7210f40018f7e_image1_edited_1200x800.png"></div>
				<div class="txt">
					<p class="date">News - 2018-08-15</p>
					<h3 class="title">Verity Studios® Drones Dance With Drake in Songs Elevate and Look Alive</h3>
					<a href="news/drake2018" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/4ff4fbfe64f87b1e62f7336085c3d2026ae71f4c_rsa1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/1ff1f0215391db5f4d83c9d82fd70da90b5d45ef_rsa1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4ff4fbfe64f87b1e62f7336085c3d2026ae71f4c_rsa1.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2018-09-03</p>
					<h3 class="title">Come along to IAAPA in November to meet the Verity team</h3>
					<a href="news/iaapa2018" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/06ad650190265c5ee246d7bdec27af19e8922438_apologue2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/8a26a9e3b087cdc0a2f470c4dcf870853f3741c8_apologue2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/06ad650190265c5ee246d7bdec27af19e8922438_apologue2.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2018-08-18</p>
					<h3 class="title">Meet the Verity team at LDI in October 2018 in Las Vegas!</h3>
					<a href="news/ldi-2018" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/bf61899905d666d22058ea7160b85f0459f80316_new_thumb1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c2ffae07b5f0c661ad211019a33408f59ccb6012_new_thumb1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/bf61899905d666d22058ea7160b85f0459f80316_new_thumb1.jpg"></div>
				<div class="txt">
					<p class="date">News - 2018-06-19</p>
					<h3 class="title">Verity Studios drones shine in Starlight Express</h3>
					<a href="news/starlight-express" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="lab">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/4e75abc9723b2fde36c9d81c39c7f272d2a08b00_neon_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/24c53dfd258f31a3925b1afdb916f1d3e399e468_neon_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4e75abc9723b2fde36c9d81c39c7f272d2a08b00_neon_thumb2.jpg"></div>
				<div class="txt">
					<p class="date">Lab - 2018-06-15</p>
					<h3 class="title">Underwater UV Costumes </h3>
					<a href="news/underwater-costumes" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="spotlight">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/d6af77c7f1a7691cde8e898c5a96ff96b89a904f_raff-photo---thinking.jpg,https://veritystudios.cdn.prismic.io/veritystudios/ba305b19fdf7cdc48206ccfbe021840330305a5a_raff-photo---thinking.jpg,https://veritystudios.cdn.prismic.io/veritystudios/d6af77c7f1a7691cde8e898c5a96ff96b89a904f_raff-photo---thinking.jpg"></div>
				<div class="txt">
					<p class="date">Team Verity Spotlight - 2018-07-12</p>
					<h3 class="title">Team Verity Spotlight: Raffaello D'Andrea</h3>
					<a href="news/raffaello-dandrea" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/d13308ac631127c55c0ecfb2cd1326cd95df72f7_news_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/5bd190de9106498652420251e246d8579b540711_news_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/d13308ac631127c55c0ecfb2cd1326cd95df72f7_news_thumb2.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-06-14</p>
					<h3 class="title">IQ Magazine: Metallica drone supplier Verity Studios raises $18m</h3>
					<a href="news/drone-technology-company-verity-studios-which-has" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/549671a6c1269fb3a45deec4b4d7063ddf19e873_news_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/37bce0e1dc13a1d423dc4800e1ea5b7df16ced4d_news_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/549671a6c1269fb3a45deec4b4d7063ddf19e873_news_thumb.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-06-13</p>
					<h3 class="title">Pollstar: Verity Studios Raises $18M; Has Flown Drones At Metallica, MSG</h3>
					<a href="news/verity-studios-raises-18m-has-flown-drones-at-metallica" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/07162e310278b3b3db804ed0f94613f412b09022_news_thumb3.jpg,https://veritystudios.cdn.prismic.io/veritystudios/ae941b4bbe414aa6f84084ddad0fbb8cfdbd5bc7_news_thumb3.jpg,https://veritystudios.cdn.prismic.io/veritystudios/07162e310278b3b3db804ed0f94613f412b09022_news_thumb3.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-05-31</p>
					<h3 class="title">AV Technology: Drone light shows taking entertainment to new heights</h3>
					<a href="news/drone-powered-led-light-shows-taking-entertainment" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="media">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/a3a09bde41ab9a04771cf7d4bbcb095c54cc4892_metallica_news.jpg,https://veritystudios.cdn.prismic.io/veritystudios/fe7a8daf66f8b3e131e2692c118821eccc0739f9_metallica_news.jpg,https://veritystudios.cdn.prismic.io/veritystudios/a3a09bde41ab9a04771cf7d4bbcb095c54cc4892_metallica_news.jpg"></div>
				<div class="txt">
					<p class="date">Media &amp; Awards - 2018-01-09</p>
					<h3 class="title">Live Design: Verity Studios adds 99 micro drones to “Moth Into Flame”</h3>
					<a href="news/verity-studios-adds-99-micro-drones-to-moth-into-flame" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="news">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/18f4325e27c29e6f088b7ca19fab683e0aea17bb_abb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/1f1a6ff5c9a1be29d3812afdcfeba76c0ec206b9_abb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/18f4325e27c29e6f088b7ca19fab683e0aea17bb_abb.jpg"></div>
				<div class="txt">
					<p class="date">News - 2017-01-01</p>
					<h3 class="title">Drone Shows: Creative Potential and Best Practices</h3>
					<a href="news/whitepaper" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/f227cc4d60813faea452231e8e0baa14473d3b1b_tech_header2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/dbf7662584d7ce89efa9740c29c57885a5b6852c_tech_header2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/f227cc4d60813faea452231e8e0baa14473d3b1b_tech_header2.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2018-07-12</p>
					<h3 class="title">Visit us at the London Design Festival in September</h3>
					<a href="news/london-design-festival" class="outlineBtn">Read Article</a>
				</div>
			</div>
			<div class="articlelink" data-type="events">
				<div class="imgHolder" data-img="https://veritystudios.cdn.prismic.io/veritystudios/3feca4984a6512f18adb657a4544a80c2dadfd88_apologue1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/a0b779b415775556959ab26172ed8c992b5f4617_apologue1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/3feca4984a6512f18adb657a4544a80c2dadfd88_apologue1.jpg"></div>
				<div class="txt">
					<p class="date">Events - 2018-08-17</p>
					<h3 class="title">Join us in New York City to learn about indoor drone shows in August</h3>
					<a href="news/nyc-site-event-2018" class="outlineBtn">Read Article</a>
				</div>
			</div>
		</section>
	</div>

	<!-- Articles -->

	{% include 'verity_article_list.html' %}

</div>
