<div class="technology page" data-url="technology" data-desc="Our Technology - Verity Studios - Indoor Drone Show Systems for Events, Shows and Installations">
	<section class="contentblock txtImg centerOverflowed intro" data-para="50,25" data-target="1" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/2b2e3d3cbc2320fb4e3966a97fd42f6236fa4b99_tech_header1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/5894983261e4f08a8bad1da62928bac4029ab416_tech_header1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/893c90cd5bc898231fa490cc039a0ffee8ad7611_tech_header1.jpg" data-rel="1584,1128,320,592">
		<div class="txt">
			<h5>TECHNOLOGY</h5>
			<h2 class="desktop">Designed and built from the ground up, our autonomous drones turn live events into unforgettable experiences.</h2>
			<h2 class="mobile">Designed and built from the ground up, our autonomous drones turn live events into unforgettable experiences.</h2>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="25,0" data-target="1" data-img="https://veritystudios.cdn.prismic.io/veritystudios/e068a41b091db716cb61f3f5ae68db07ac8c2e15_luice_drone.jpg,https://veritystudios.cdn.prismic.io/veritystudios/df12d6cf6bf60309fd0732eba35ab40a333cb715_luice_drone.jpg,https://veritystudios.cdn.prismic.io/veritystudios/9bd6d9f5f09e58fc4e78731a27112b39bc9c727a_luice_drone_m.jpg" data-anim="f" data-rel="1240,1536,240,238">
		<div class="txt">
			<h2>The Lucie® micro drone</h2>
			<p>The Lucie micro drone is our flagship offering and delivers vast creative freedom. Each autonomous Lucie micro drone is equipped with a RGBW light. When  precisely choreographed, the Lucie micro drones form a cluster of  flying lights, and together, their smooth, intricate motions work in  harmony to produce captivating results. The versatility of the Lucie micro drones means you can achieve a variety of different effects. Fly only a few for an intimate scene with performers on stage. Or fill the air above the stage with a swarm of glittering fireflies for a more immersive experience.</p>
		</div>
	</section>

	<section class="contentblock txtImg centerA" data-para="100,50" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/376c57d01cb3b7726404b6bf0948cba46ba15600_robbierodick_1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/99d251fb6ec0b79b0863cd0735202518fcd5d1a7_robbierodick_1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c763bfe5ab2211e01efff7e43f91bda3f88b246b_robbierodick_1.jpg" data-rel="1036,1290,540,600">
		<div class="txt">
			<h5>TECHNOLOGY YOU CAN TRUST</h5>
			<p>Weighing only 50g (1.8oz), the Lucie micro drone can perform above artists without any safety concerns. Optimized for permanent installations and touring productions,  they are ultra-safe, reliable, and easy to use.&nbsp;</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="25,0" data-anim="fs" data-img="https://veritystudios.cdn.prismic.io/veritystudios/024dfae88a4f4b09b3f5c0b418b9c35f91b9650d_tech4_hd.png,https://veritystudios.cdn.prismic.io/veritystudios/2a768304f9cb14a9c3d602dc6de709492a481a07_tech4_hd.png,https://veritystudios.cdn.prismic.io/veritystudios/97c71600adaba1997f893186b65ce441228687ec_tech4_m1.jpg" data-rel="2300,1080,460,284">
		<div class="txt">
			<h2>Technical specifications.</h2>
		</div>
		<div class="imgHolder centerA"></div>
		<div class="specs">
			<p>Weight: 50g (1.8oz)<br />Flight time: up to 3 minutes<br />Charging time: approximately 1 hour<br />Equipped with high–intensity, pre-programmable RGBW lights</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="50,25" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/600ba07d5c5acd8e8a2444734787a6ce1916d8c9_p1030461.jpg,https://veritystudios.cdn.prismic.io/veritystudios/2708317ba3b10bc2d54c5d7cd471313b3c59b55d_p1030461.jpg,https://veritystudios.cdn.prismic.io/veritystudios/7134da1d1d9da15659542ab2f2d7a603c29d21fe_p1030461.jpg" data-rel="1150,730,540,340">
		<div class="txt">
			<h3>Indoor positioning system.</h3>
			<p>The system consists of Kedge&trade; localization units that reliably define the boundaries of the flight space and allows for maximum creativity. This allows our drones to perform their choreography without cameras, carpets or other limitations. Robust and reliable, it has operated in a wide variety of venues and conditions, including on ice, in a desert and even next to flame throwers.</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="50,25" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/194e549110c6627b90e650bd4e11cecb1608ed18_drone_unit_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/29726aa7d488374282e466fe5672d377cfe97549_drone_unit_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/79a5a573887180074380dda0b4ee667a85d76a62_drone_unit_thumb.jpg" data-rel="1150,730,540,340">
		<div class="txt">
			<h3>Lucie® charging station.</h3>
			<p>To house the Lucie micro drones before their performance, we provide charging station racks. Each rack hosts up to 40 Lucie micro drones and is an all-in-one charging, storage, and transportation solution.</p>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="25,0" data-target="1" data-img="https://veritystudios.cdn.prismic.io/veritystudios/24df896458b6845fdf7d09cba104949618fbfaf6_tech8new_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4ea9e5b788046ffc1494dd4aba45a705a424a8a5_tech8new_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/14582c4e0d337194f3b6da8e7475c1c0237bc846_tech8new_m.jpg" data-anim="f" data-rel="1240,1120,240,268">
		<div class="txt">
			<h2>Custom Projects</h2>
			<p>If you want to create something never seen before, we also work on bespoke, custom projects built to your specifications. From custom design, to engineering projects and processes, we&rsquo;ll work with you to deliver something spectacular.</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="25,0" data-target="1" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/aff7fe05e58f9c7a58b17ee6d018f14279461750_costumes_image.jpg,https://veritystudios.cdn.prismic.io/veritystudios/fb42a24204573b667738907acc14dd20579da1e8_costumes_image.jpg,https://veritystudios.cdn.prismic.io/veritystudios/3ec6464491116ff91c16c697b59ab0ccadabb04f_costumes_image.jpg" data-rel="790,1080,270,172">
		<div class="txt">
			<h5>Costumes</h5>
			<p>Imagine a stage full of <a href="news/underwater-costumes">floating jellyfish</a>, flying disco balls or swaying flowers. Our drone costume designers can create bespoke costumes that turn our Lucie&reg; micro drones into flying scenery, props and even creatures. These ultra-light, flight-tested costumes can be used alone, or in tandem with a flying light show to add an extra dimension to your event.</p>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="25,0" data-target="1" data-img="https://veritystudios.cdn.prismic.io/veritystudios/1c9eaefb507a18f512f27744c0a4b27c15b35eb9_tech9_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/c02d40d979babb0e32b023725a8936e36b8261e1_tech9_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/29cb53388546197f5b1e30658196e3cff09e5e63_tech9_m.jpg" data-anim="f" data-rel="1324,1256,540,600">
		<div class="txt">
			<h2>Stage Flyer</h2>
			<p>The Stage Flyer drones were part of a custom project developed for Cirque du Soleil&rsquo;s Broadway show Paramour. By design they carried lampshades and became dancing props alongside the performers.  But this is just one example. The Stage Flyer drones can also carry payloads including cameras, mirrors or other stage effects, such as confetti, for more dramatic possibilities. For dependable safety, each Stage Flyer drone is designed with our failsafe technology.  This means it can land safely even if a battery, motor, connector, propeller or sensor fails.</p>
		</div>
	</section>

	<section class="contentblock nextPageBlock centerOverflowed">
		<div class="txt">
			<h5>NEXT</h5>
			<h2>Our Work</h2>
			<a href="work" class="cleanBtn">Explore</a>
		</div>
	</section>
</div>
