<div class="about page" data-url="about" data-desc="About - Verity Studios - Indoor Drone Show Systems for Events, Shows and Installations">
	<section class="contentblock txtImg centerOverflowed intro" data-para="50,25" data-target="1" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/a88d0e71870137ffb5b054e12915bb1d319c8e54_about_header.jpg,https://veritystudios.cdn.prismic.io/veritystudios/938574f165fecda85eaebca4087ee75893b875ca_about_header.jpg,https://veritystudios.cdn.prismic.io/veritystudios/1f851b567c3c720c323d8ce6b446487a3ece30db_about_header.jpg" data-rel="1584,1128,160,296">
		<div class="txt">
			<h5>About</h5>
			<h2 class="desktop">We are transforming the live event experience. We make the magic real, <br />the extraordinary. With heads full of ideas and our feet firmly on the ground.</h2>
			<h2 class="mobile">We are transforming the live event experience. We make the magic real, the extraordinary. With heads full of ideas and our feet firmly on the ground.</h2>
		</div>
	</section>

	<!-- Team -->
	<section class="contentblock txtImg centerA" data-para="25,0" data-img="https://veritystudios.cdn.prismic.io/veritystudios/959bfe90bdd1d0046140d6a73b191364032c405d_group.jpg,https://veritystudios.cdn.prismic.io/veritystudios/844b38860c0d4655961fb2830de20ce87fe269f9_group.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4a4a498768746f948881d17a33f0bd3aed1a310d_group.jpg" data-anim="f" data-rel="2500,1320,640,338"></section>

	<section class="contentblock centerTxt centerA">
		<div class="txt">
			<h5>Who we are</h5>
			<h2>Pushing the boundaries
of what's possible</h2>
			<p>The team at Verity has a passion for bringing technology and the arts together to create something people have never seen before. But more than that, we believe it should be contained in a system that&rsquo;s easy to use in any event. Drone technology can fundamentally transform the live events experience and we&rsquo;re committed to developing technology that is easy to use, reliable and safe for events all over the world.</p>
			<a href="services" class="outlineBtn">Capabilities</a>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="50,0" data-target="1" data-anim="l" data-img="https://veritystudios.cdn.prismic.io/veritystudios/7c5e20614effb4d9a10a3879556f9b539da89ac4_about2_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/6251f8daac6991095414f746770534e0f381c603_about2_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/55930ed6884c85ee618921c4d28516cc045359fb_about2_hd.jpg" data-rel="1560,1320,540,460">
		<div class="txt">
			<h2>We are entrepreneurs, engineers, artists, live events professionals, mathematicians and designers; all working <br />as one.</h2>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="25,0" data-target="1" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/504d21617d2ad3854ca910b64526c970ed69b53d_about_image2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/05cb00c408a15b857ca7deda88d3aee6e8e4e64f_about_image2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4fee3e35227e673ff8dcdb9e73b47fb716ce0ade_about_image2.jpg" data-rel="790,1080,540,460">
		<div class="txt">
			<h5>Technology you can trust</h5>
			<h2>We are proud of our track record</h2>
			<p>With 55 patents pending and 9 already approved, we've built our indoor drone show system from the ground up with safety and reliability in mind. Our drones have traveled the world and have flown in more than 20 countries. Having toured with <a href="work/metallicatour">Metallica</a> and <a href="/work/drake">Drake</a>, and flown above audiences at <a href="work/abb-gala-dinner">corporate events</a>, our technology has proven itself on the toughest testing grounds. A testament to the safety of our system, we've also flown in venues with <a href="work/changi-airport-singapore">no-drone policies</a>. Our system is a complete all-round package you can rely on to deliver magic to your show.</p>
			<a href="technology" class="outlineBtn">Technology</a>
		</div>
	</section>
</div>
