<div class="whatwedo page" data-url="services" data-desc="We work with you to develop an experience that’s both breathtakingly magical and reassuringly possible">
	<section class="contentblock txtImg centerOverflowed intro" data-para="50,25" data-target="1" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/0c52373595718f9fab73a164b3f067ed1b83e111_what_we_do.jpg,https://veritystudios.cdn.prismic.io/veritystudios/2b093dd976f3f19cd9b146b5083563a18f9e55b6_what_we_do.jpg,https://veritystudios.cdn.prismic.io/veritystudios/8c4c8297450e6c3ea7d2c9653049cad4cc34bc38_what_we_do_m.jpg" data-rel="1584,1128,160,296">
		<div class="txt">
			<h5>What we do</h5>
			<h2 class="desktop">The first thing we do is listen;<br />getting a feel for what you’d love to achieve. Then we work with you to develop an experience that’s both breathtakingly magical and reassuringly possible.</h2>
			<h2 class="mobile">We work with you to develop an experience that’s both breathtakingly magical and reassuringly possible.</h2>
		</div>
	</section>

	<!-- Shows accordions -->
	<section class="contentblock shows">
		<div class="tab" data-img="https://veritystudios.cdn.prismic.io/veritystudios/c1d8e4503d019e54986a7076f3459d9e761b29d3_shows3.jpg,https://veritystudios.cdn.prismic.io/veritystudios/efbcddd2689e88250ab2919bacb289a62f934ee8_shows3.jpg" data-rel="1440,966,0,0">
			<div class="txt centerA contentblock">
				<h2 class="desktop">Permanent<br />Installations</h2>
				<h2 class="mobile">Permanent Installations</h2>
				<h4>Reliably perfect, easy to run</h4>
				<a href="services" class="outlineBtn">Read More</a>
				<p>Operated by you, Verity&rsquo;s drones will perform show after show without a hitch in your theater, theme park or cruise ship.<br /><br /><a href="contact">For more information please get in touch.</a></p>
				<a href="contact" class="outlineBtn">Close</a>
			</div>
		</div>
		<div class="tab" data-img="https://veritystudios.cdn.prismic.io/veritystudios/5bd3a0b1cffe1eb52ba1abddedb9af1b934b900d_shows1.jpg,https://veritystudios.cdn.prismic.io/veritystudios/a453139f32597ee7c2126549ba3ec1146d4a1a9e_shows1.jpg" data-rel="1440,966,0,0">
			<div class="txt centerA contentblock">
				<h2 class="desktop">One-Off<br />Events</h2>
				<h2 class="mobile">One-Off Events</h2>
				<h4>Magic moments your audience will never forget</h4>
				<a href="services" class="outlineBtn">Read More</a>
				<p>Create the magic moment your audience will never forget. Get the &ldquo;wow&rdquo; effect of an immersive drone show experience for your brand activation, corporate event or experiential marketing campaign.<br /><br /><a href="contact">For more information please get in touch.</a></p>
				<a href="contact" class="outlineBtn">Close</a>
			</div>
		</div>
		<div class="tab" data-img="https://veritystudios.cdn.prismic.io/veritystudios/850832af361c45e49021c518fc8304d4fa6c8d4b_shows2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/847d4add90d77bef6d2e08fd9767737fe1bb75b4_shows2.jpg" data-rel="1440,966,0,0">
			<div class="txt centerA contentblock">
				<h2 class="desktop">Touring<br />Shows</h2>
				<h2 class="mobile">Touring Shows</h2>
				<h4>We set it up, you run with it</h4>
				<a href="services" class="outlineBtn">Read More</a>
				<p>Performing alongside Metallica and Drake, Verity&rsquo;s drone show system has proven itself on the toughest testing ground, and will travel with you around the world.<br /><br /><a href="contact">For more information please get in touch.</a></p>
				<a href="contact" class="outlineBtn">Close</a>
			</div>
		</div>
	</section>

	<section class="contentblock centerTxt centerOverflowed">
		<div class="txt">
			<h5>Our process</h5>
			<h2>From concept to completion,<br />we’ll be there.</h2>
			<p>Are you creating a new show? Let us make it more spectacular. Tell us your artistic vision, we will help you realize it, using our unique combination of technical innovation and creative invention.&nbsp;</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="20,10" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/53cffc8132e7998849ddf4f7d79eb7b271262983_what_we_do_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/1a95ae0c7bbe9348267711a086ed5948ba7f1345_what_we_do_thumb.jpg,https://veritystudios.cdn.prismic.io/veritystudios/deff10007171f3080c11855e58f0b4a91895e66b_what_we_do_thumb.jpg" data-rel="1140,727,270,172">
		<div class="txt">
			<h3>1. The big idea.</h3>
			<p>We will collaborate with your creative team to work out exactly how our show drones can add an extra dimension of dazzle to the performance.</p>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="60,10" data-anim="l" data-img="https://veritystudios.cdn.prismic.io/veritystudios/8a265aba84d55a1a15e702cf58056957d9fc6e74_what_we_do_thumb4.jpg,https://veritystudios.cdn.prismic.io/veritystudios/4b0bf535c68915d2358969738a9f026437c1008c_what_we_do_thumb4.jpg,https://veritystudios.cdn.prismic.io/veritystudios/66af71617f491ec560d7a5459378f3c13e98c03b_what_we_do_thumb4.jpg" data-rel="1140,727,270,172">
		<div class="txt">
			<h3>2. Getting it right.</h3>
			<p>Our team will meticulously plan every detail; providing the expertise you need from drawing board to opening night.</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="20,10" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/ca35120a9eeba210fff68a4db1454733c2a525aa_what_we_do_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/ac23ac937a38fb51bd4b828be91fe9149cdf0ebd_what_we_do_thumb2.jpg,https://veritystudios.cdn.prismic.io/veritystudios/cceeae246979caa9265079878c6e68e8c8bb4c2e_what_we_do_thumb2.jpg" data-rel="1140,727,270,172">
		<div class="txt">
			<h3>3. Choreography.</h3>
			<p>Our drone show choreographers develop mesmerizing flight patterns and enthralling lighting effects.&nbsp;</p>
		</div>
	</section>

	<section class="contentblock imgTxt centerOverflowed" data-para="60,10" data-anim="l" data-img="https://veritystudios.cdn.prismic.io/veritystudios/29833885cd347f0a44392aca4ab29a060dc8f42b_customise_drones.jpg,https://veritystudios.cdn.prismic.io/veritystudios/160b84511c009b7538b40ecc019be32c0b774399_customise_drones.jpg,https://veritystudios.cdn.prismic.io/veritystudios/9dd4674a3339156e9dbe7c717d42b14c3ed537b8_customise_drones.jpg" data-rel="1140,727,270,172">
		<div class="txt">
			<h3>4. If you want something special...customize your project.</h3>
			<p>Our designers can create bespoke, flight-tested costumes. Or use the experts on our engineering team to adapt our tech to your needs.</p>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed" data-para="20,10" data-anim="r" data-img="https://veritystudios.cdn.prismic.io/veritystudios/c71a8170c2171e72d75799253f1bef96a6056a85_drake_drones_yeojen_instagram_original.jpg,https://veritystudios.cdn.prismic.io/veritystudios/92d850cc55c04f311c779311079289b611c1af6a_drake_drones_yeojen_instagram_original.jpg,https://veritystudios.cdn.prismic.io/veritystudios/b5d53f83a91c915789f057d612b7fd67cd50151c_drake_drones_yeojen_instagram_original.jpg" data-rel="1140,727,270,172">
		<div class="txt">
		<h3>5. Going live & support.</h3>
		<p>We will finesse our drones&rsquo; performance and deliver on our promises. &nbsp;We'll also be on hand around the clock to answer any queries as they arise.</p>
		</div>
	</section>

	<section class="contentblock nextPageBlock centerOverflowed">
		<div class="txt">
			<h5>NEXT</h5>
			<h2>Technology</h2>
			<a href="technology" class="cleanBtn">Explore</a>
		</div>
	</section>
</div>
