<div class="home page" data-url="verity" data-desc="Indoor Drone Show Systems for Events, Shows and Installations">
	<section class="contentblock intro centerA" data-para="50,25">
		<div class="txt">
			<h5>Indoor Drone Show Systems</h5>
			<h1 style="opacity:0;">The magic</h1>
			<h1 style="opacity:0;" class="outline">is real</h1>
		</div>
	</section>

	<section class="contentblock txtImg centerOverflowed introb" data-para="150,0" data-anim="r" data-target="1" data-img="https://veritystudios.cdn.prismic.io/veritystudios/9a6f9155efff09b1c0d0d2bb55d7e3c5a3a7465d_home1_hd.jpg,https://veritystudios.cdn.prismic.io/veritystudios/590c766beb62aef625bbf3672445215f199cab7b_home1_hd.jpg" data-rel="1270,980">
		<div class="txt">
			<h2>With 120,000 flights and counting, we're bringing autonomous drones to live events</h2>
			<p>Our indoor drone shows bring exciting new experiences to audiences  – using cutting edge technology to impressive effect. With shows in more than 20 countries around the world, we’re showcasing the creative potential of autonomous drones.  </p>
		</div>
	</section>

	<section class="contentblock videoblock centerA" data-para="100,0" data-src="https://veritystudios.cdn.prismic.io/veritystudios%2F45db7e2c-3f43-4681-b31f-672db5f85742_2018showreel-website-outpost_1.mp4,https://veritystudios.cdn.prismic.io/veritystudios%2Fb9a448e7-9d6e-47b3-ad93-7dd7feb220f1_2018showreel-website-outpost_4.mp4" data-rel="1280,720,640,360">
	</section>

	<section class="contentblock centerTxt centerA">
		<div class="txt">
			<h5>What we do</h5>
			<h2>Bringing technology to life</h2>
			<p>Our team at Verity is passionate about combining technology and the arts to create something spectacular. We use our drones&rsquo; unique performance capabilities to create dynamic light shows and memorable experiences. But more than that, we have built our drone show system from the ground up to ensure it&rsquo;s safe and reliable. So, when you decide to do a drone show with us, you know we&rsquo;ll deliver.&nbsp;</p>
			<a href="services" class="outlineBtn">Explore</a>
		</div>
	</section>
</div>
