{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="{% static 'tattoo/styles/tattoo.css' %}" />
  <title>Работы</title>
</head>
<body class="page-template page-template-templates page-template-page-tattoo page-template-templatespage-tattoo-php page page-id-6">
  <div class="cover cover-main">
    <div class="line-loader-container">
      <div class="line-loader"></div>
    </div>
  </div>
  <div class="cover cover-dark"></div>
  <div class="cover cover-red"></div>
  <div class="cover cover-gold"></div>
  <div class="hamburger-container">
    <button class="hamburger hamburger--spin-r" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div id="navigation">
    <div class="navigation cover-gold"></div>
    <div class="navigation cover-red"></div>
    <div class="navigation cover-dark">
      <div class="top-container">
        <div class="top-nav">
          <nav class="nav-animation">
            <ul>
              <li class="open-nav ">
                <a href="{% url 'tattoo' %}" class="portfolio-item reveal-tattoo">
                  <div class="underline-nav"></div>
                  <span data-hover="Главная">Главная</span>
                  <div class="nav-stripe stripe-tattoo-nav"></div>
                </a>
              </li>
              <li class="open-nav selected">
                <a href="{% url 'tattoo_example' %}" class="portfolio-item reveal-tattoo">
                  <div class="underline-nav"></div>
                  <span data-hover="Татуировки">Татуировки</span>
                  <div class="nav-stripe stripe-tattoo-nav"></div>
                </a>
              </li>
              <li class="open-nav ">
                <a href="{% url 'tattoo_about' %}" class="portfolio-item reveal-studio">
                  <div class="underline-nav"></div>
                  <span data-hover="Студия &#038; Био">Студия &#038; Био</span>
                  <div class="nav-stripe stripe-studio-nav"></div>
                </a>
              </li>
              <li class="open-nav ">
                <a href="{% url 'tattoo_news' %}" class="portfolio-item reveal-news">
                  <div class="underline-nav"></div>
                  <span data-hover="Новости">Новости</span>
                  <div class="nav-stripe stripe-news-nav"></div>
                </a>
              </li>
              <li class="open-nav ">
                <a href="{% url 'goods_index' %}" class="portfolio-item reveal-merch">
                  <div class="underline-nav"></div>
                  <span data-hover="Март">Март</span>
                  <div class="nav-stripe stripe-merch-nav"></div>
                </a>
              </li>
              <li class="open-nav">
                <a href="{% url 'tattoo_contacts' %}" class="portfolio-item reveal-contacts">
                  <div class="underline-nav"></div>
                  <span data-hover="Контакты">Контакты</span>
                  <div class="nav-stripe stripe-contacts-nav"></div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="top-image nav-image image-nav-tattoo">
          <img src="{% static 'tattoo/images/1.jpg' %}" alt="Tattoos" />
        </div>
        <div class="top-image nav-image image-nav-studio">
          <img src="{% static 'tattoo/images/2.jpg' %}" alt="Studio &#038; Bio" />
        </div>
        <div class="top-image nav-image image-nav-news">
          <img src="{% static 'tattoo/images/4.jpg' %}" alt="News" />
        </div>
        <div class="top-image nav-image image-nav-merch">
          <img src="{% static 'tattoo/images/4.jpg' %}" alt="Merch" />
        </div>
        <div class="top-image nav-image image-nav-contacts">
          <img src="{% static 'tattoo/images/3.jpg' %}" alt="Contacts" />
        </div>
      </div>
      <div class="massive-typo typo-nav"></div>
    </div>
  </div>
  <header>
    <div class="header-logo">
      <a href=""></a>
    </div>
  </header>
  <div id="wrapper-outer">
    <div id="wrapper">
      <div class="opening">
        <div class="top-container">
          <div class="top-copy">
            <div class="highlight">
              <div class="underline"></div>
              <h1>Татуировки</h1>
            </div>
            <div class="highlight">
              <div class="underline"></div>
              <h2>Наши работы</h2>
            </div>
            <div class="vertical-text">MXVI</div>
          </div>
          <div class="big-stripe stripe-tattoo"></div>
          <div class="image-cover"></div>
          <div class="top-image image atvImg">
            <div class="atvImg-layer" data-img="{% static 'tattoo/images/1.jpg' %}"></div>
          </div>
        </div>
        <div class="massive-typo typo-tattoo"></div>
        <div class="line-scroll-down-container">
          <div class="line-scroll-down"></div>
        </div>
      </div>
      <div class="filter-bar-container">
        <div class="search-container">
          <input type="search" placeholder="Search a Tattoo..." id="search-tattoo" autocomplete="off" />
        </div>
        <div class="filter-container">
          <select class="cs-select cs-skin-elastic" data-type="year">
            <option value="" disabled selected>Position</option>
            <option value="all">All</option>
            <option value="hand">Hand</option>
            <option value="leg">Leg</option>
            <option value="neck">Neck</option>
            <option value="shoulder">Shoulder</option>
            <option value="sleeve">Sleeve</option>
          </select>
          <div id="year-buttons" class="hidden hidden-filters">
            <button class="button is-checked" data-filter="">Position</button>
            <button class="button all" data-filter="">All</button>
            <button class="button hand" data-filter="hand">Hand</button>
            <button class="button leg" data-filter="leg">Leg</button>
            <button class="button neck" data-filter="neck">Neck</button>
            <button class="button shoulder" data-filter="shoulder">Shoulder</button>
            <button class="button sleeve" data-filter="sleeve">Sleeve</button>
          </div>
        </div>
        <div class="filter-container">
          <select class="cs-select cs-skin-elastic" data-type="artist">
            <option value="" disabled selected>Type</option>
            <option value="all">All</option>
            <option value="black-and-white">Black &amp; White</option>
            <option value="colour">Colour</option>
          </select>
          <div id="artist-buttons" class="hidden hidden-filters">
            <button class="button is-checked" data-filter="">Type</button>
            <button class="button all" data-filter="">All</button>
            <button class="button black-and-white" data-filter="black-and-white">Black &amp; White</button>
            <button class="button colour" data-filter="colour">Colour</button>
          </div>
        </div>
        <div class="filter-container">
          <select class="cs-select cs-skin-elastic" data-type="category-tattoos">
            <option value="" disabled selected>Style</option>
            <option value="all">All</option>
            <option value="animals">Animals</option>
            <option value="human">Human</option>
            <option value="japanese">Japanese</option>
            <option value="monster">Monster</option>
            <option value="skull">Skull</option>
          </select>
          <div id="category-tattoos-buttons" class="hidden hidden-filters">
            <button class="button is-checked" data-filter="">Style</button>
            <button class="button all" data-filter="">All</button>
            <button class="button animals" data-filter="animals">Animals</button>
            <button class="button human" data-filter="human">Human</button>
            <button class="button japanese" data-filter="japanese">Japanese</button>
            <button class="button monster" data-filter="monster">Monster</button>
            <button class="button skull" data-filter="skull">Skull</button>
          </div>
        </div>
      </div>
      <div class="view-toggle-container">
        <div class="inner-trigger">
          <div class="trigger-container view-masonry">
            <div class="view-icon">
              <div class="icon-main icon-masonry-active"></div>
              <div class="icon-main icon-masonry-default"></div>
            </div>
            <div class="view-trigger-main">
              <div class="view-trigger trigger-default trigger-masonry">Masonry</div>
              <div class="view-trigger trigger-active">Masonry</div>
            </div>
          </div>
          <div class="trigger-container view-grid">
            <div class="view-icon">
              <div class="icon-main icon-grid-active"></div>
              <div class="icon-main icon-grid-default"></div>
            </div>
            <div class="view-trigger-main">
              <div class="view-trigger trigger-default trigger-grid">Grid</div>
              <div class="view-trigger trigger-active">Grid</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nothing-found">No tattoos matching the search terms found.</div>
      <div id="masonry-container" class="tattoos-wrapper">
        <div class="grid-sizer"></div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="this-ship-is-not-sinking" data-category-tattoos="monster" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/6.jpg' %}" alt="01" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size spacer-tattoo" data-title="spacer" data-category-tattoos="spacer" data-artist="spacer" data-year="spacer">
          <div class="spacer-module">
            <div class="tattoo-gap-big"></div>
          </div>
        </div>
        <div class="masonry-grid tattoo-size spacer-tattoo" data-title="spacer" data-category-tattoos="spacer" data-artist="spacer" data-year="spacer">
          <div class="spacer-module">
            <div class="tattoo-gap-small"></div>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="the-wolf-038-the-skull" data-category-tattoos="animals skull" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/7.jpg' %}" alt="02" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="the-lion" data-category-tattoos="animals" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/8.jpg' %}" alt="03" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="space-monkey" data-category-tattoos="animals human" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo"> <a href="{% url 'tattoo_example_detail' %}">
            <img src="{% static 'tattoo/images/9.jpg' %}" alt="04" /> </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="the-native-american-038-the-wolf" data-category-tattoos="animals human" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo"> <a href="{% url 'tattoo_example_detail' %}">
            <img src="{% static 'tattoo/images/10.jpg' %}" alt="05" /> </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="japan-traditional-art" data-category-tattoos="japanese" data-artist="black-and-white" data-year="shoulder">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/11.jpg' %}" alt="06" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="japanese-culture" data-category-tattoos="japanese" data-artist="black-and-white" data-year="leg">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/12.jpg' %}" alt="07" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="realistic-gorilla" data-category-tattoos="animals" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/13.jpg' %}" alt="08" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="the-tiger" data-category-tattoos="animals" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/14.jpg' %}" alt="09" />
            </a>
          </div>
        </div>
        <div class="masonry-grid tattoo-size tattoo-single" data-title="the-gas-mask" data-category-tattoos="human monster" data-artist="black-and-white" data-year="sleeve">
          <div class="masonry-module module-tattoo">
            <a href="{% url 'tattoo_example_detail' %}">
              <img src="{% static 'tattoo/images/15.jpg' %}" alt="10" />
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div id="loader" class="hidden"></div>
    <div id="holder-newpage" class="hidden"></div>
    <footer itemscope itemtype="">
      <div class="footer-top">
        <div class="footer-title">
          <h4>Сайт</h4>
          <h7></h7>
        </div>
        <div class="footer-50">
          <p>The Tattoo Shop Burleigh heads<br /> Альфа центавра
            <br /> ул Космонавтов
          </p>
        </div>
        <div class="footer-50">
          <p>Tel. <span>+7(777) 777777</span>
            <br/><br />
            <a href="" target="_blank">Enquiry</a>
          </p>
        </div>
        <div class="form">
          <form style="display:inline;" action="" method="post" id="subForm" target="_blank">
            <input placeholder="Email Address" id="fieldEmail" name="cm-mjynt-mjynt" type="email" required />
            <div class="arrow-newsletter"></div>
            <input type="submit" id="send-email" value="" /></form>
          </div>
        </div>
      </footer>
      <div class="footer-nav">
        <nav class="nav-animation footer-nav-main">
          <ul>
            <li class="selected">
              <a href="{% url 'tattoo_example' %}" class="intro-item">
                <div class="underline-nav"></div>
                <span data-hover="Tattoos">Tattoos</span>
                <div class="nav-stripe stripe-tattoo-nav"></div>
              </a>
            </li>
            <li>
              <a href="{% url 'tattoo_about' %}" class="intro-item">
                <div class="underline-nav"></div>
                <span data-hover="Studio &#038; Bio">Studio &#038; Bio</span>
                <div class="nav-stripe stripe-studio-nav"></div>
              </a>
            </li>
            <li >
              <a href="{% url 'tattoo_news' %}" class="intro-item">
              <div class="underline-nav"></div>
              <span data-hover="News">News</span>
              <div class="nav-stripe stripe-news-nav"></div>
              </a>
            </li>
            <li > <a href="{% url 'goods_index' %}" class="intro-item">
              <div class="underline-nav"></div>
              <span data-hover="Merch">Merch</span>
              <div class="nav-stripe stripe-merch-nav"></div>
              </a>
            </li>
            <li>
              <a href="{% url 'tattoo_contacts' %}" class="intro-item">
                <div class="underline-nav"></div>
                <span data-hover="Contacts">Contacts</span>
                <div class="nav-stripe stripe-contacts-nav"></div>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <script type="text/javascript" defer src="{% static 'tattoo/scripts/autoptimize.js' %}"></script>
    </body>
 </html>



 <!-- Compression = gzip -->
