{% load static %}

<footer class="site-footer" data-module="footer" data-type="minimal" role="contentinfo"  data-layout='normal' >
            <div class="center-container">
                <div class="center-content">
                    <div class="container">
                        <div class="content">
                            <div class="row">

                                <div class="col col-menu col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <div class="col-container">
                                        <div class="col-content">
                                            <ul class="nav-legal">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822"><a href="http://www.exteta.it/it/privacy/">Privacy</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-91"><a href="http://www.studiogusto.com">Credits</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-info col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <div class="col-container">
                                        <div class="col-content">
                                            <div class="col-item">
                                                <h3 class="minimal_text">
                                                                                                            T. +39 031 3519027                                                                                                    </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-credits col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <div class="col-container">
                                        <div class="col-content">
                                            <address class="col-item address align-left">
                                                P.IVA 02907300962 © Exteta srl                                            </address>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
