{% load static %}

<div class="toolkit-mod toolkit-mod--contained ">

    <div class="text-block">
        <div class="section-label container container--content" data-skrollex data-sk-group>
            <span class="meta section-label__number">04 &mdash;</span>
            <span class="meta">Наша команда</span>
        </div>
        <div class="container container--content">
            <div class="text-block__inner">
                <h2 class="spacer-small" data-skrollex data-sk-group data-sk-headline data-sk-sa-delay="0.4">A multi-disciplinary team of creators</h2>
                <div class="body" data-skrollex data-sk-group>
                    <p>Basic - это многокультурная, многонациональная и многопрофильная команда людей, которые собираются вместе, чтобы сформировать одну команду с целенаправленной миссией: создать.</p>
                    <p>То, что мы делаем и почему мы суетимся, происходит изнутри. С нашими общими принципами мы создаем без страха атмосферу, которая способствует величайшей работе для величайших клиентов на земле. Амбиция. Talent. Любить. Называй это как хочешь. Мы называем это Basic. <br /></p>
                    <p><a href="" rel="noreferrer noopener">Изучите наше руководство по культуре</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'about/basic_slider.html' %}

{% include 'about/basic_awards.html' %}

<div class="toolkit-mod toolkit-mod--contained ">

    <div class="featured-work-bucket spacer-large">
        <div class="featured-work-bucket__title spacer-medium">
            <div class="section-label container container--content" data-skrollex data-sk-group>
                <span class="meta section-label__number">05 &mdash;</span>
                <span class="meta">Наши кейсы</span>
            </div>
            <div class="container container--content">
                <h2>Некоторые из работ, которыми мы гордимся</h2>
            </div>
        </div>
        <div class="container">
            <div class="grid">

                <div class="card card--case-study grid__item spacer-block" data-push-hover>
                    <div class="card--case-study__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/20-1.jpg' %} 600w,
                            {% static 'basic/images/20-2.jpg' %} 940w"
                            sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                        </div>
                    </div>
                    <div class="card--case-study__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />
                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            BB Dakota
                        </div>
                        <h3 class="h7" data-skrollex data-sk-group data-sk-headline>BBDakota.com — Bringing storytelling and personality to eCommerce</h3>
                    </div>
                    <a href="{% url 'basic_work1' %}" class="layer z1"><span class="a11y">Explore BB Dakota Case Study</span></a>
                </div>
                <div class="card card--case-study grid__item spacer-block" data-push-hover>
                    <div class="card--case-study__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/20-1.jpg' %} 600w,
                            {% static 'basic/images/20-2.jpg' %} 940w"
                            sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                        </div>
                    </div>
                    <div class="card--case-study__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />
                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            BB Dakota
                        </div>
                        <h3 class="h7" data-skrollex data-sk-group data-sk-headline>BBDakota.com — Bringing storytelling and personality to eCommerce</h3>
                    </div>
                    <a href="{% url 'basic_work1' %}" class="layer z1"><span class="a11y">Explore BB Dakota Case Study</span></a>
                </div>
                <div class="card card--case-study grid__item spacer-block" data-push-hover>
                    <div class="card--case-study__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/20-1.jpg' %} 600w,
                            {% static 'basic/images/20-2.jpg' %} 940w"
                            sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                        </div>
                    </div>
                    <div class="card--case-study__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />
                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            BB Dakota
                        </div>
                        <h3 class="h7" data-skrollex data-sk-group data-sk-headline>BBDakota.com — Bringing storytelling and personality to eCommerce</h3>
                    </div>
                    <a href="{% url 'basic_work1' %}" class="layer z1"><span class="a11y">Explore BB Dakota Case Study</span></a>
                </div>
                <div class="card card--case-study grid__item spacer-block" data-push-hover>
                    <div class="card--case-study__image spacer-smedium">
                        <div class="image-holder pos-r" data-skrollex data-sk-group data-sk-mask data-push-hover-child data-sk-sa-delay="0.2">
                            <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27960%27%20height%3D%27610%27%20style%3D%27background%3Atransparent%27%2F%3E"
                            srcset="
                            {% static 'basic/images/20-1.jpg' %} 600w,
                            {% static 'basic/images/20-2.jpg' %} 940w"
                            sizes="(max-width: 60rem) calc(100vw - 4rem), 94rem" alt="" />
                        </div>
                    </div>
                    <div class="card--case-study__text dash-holder dash-holder--push-content">
                        <hr class="dash" data-skrollex data-sk-group />
                        <div class="meta spacer-small" data-skrollex data-sk-group data-push-hover-headline>
                            BB Dakota
                        </div>
                        <h3 class="h7" data-skrollex data-sk-group data-sk-headline>BBDakota.com — Bringing storytelling and personality to eCommerce</h3>
                    </div>
                    <a href="{% url 'basic_work1' %}" class="layer z1"><span class="a11y">Explore BB Dakota Case Study</span></a>
                </div>

            </div>
        </div>
    </div>
</div>
