{% load static %}

<div class="toolkit-mod toolkit-mod--contained ">
    <div class="bucket bucket--partners spacer-large" data-partners-bucket>
        <div class="container">
            <hr class="spacer-large spacer-large-top" />
        </div>
        <div class="section-label container container--content" data-skrollex data-sk-group>
            <span class="meta section-label__number">02 &mdash;</span>
            <span class="meta">Наши партнеры</span>
        </div>
        <div class="container container--content">
            <h2 class="spacer-xmedium" data-skrollex data-sk-group data-sk-headline>Эти бренды не трофеи, они друзья, которых мы встретили в нашем путешествии</h2>
        </div>
        <div class="container">
            <div class="bucket--partners__grid grid grid--gutters grid--mobile">
                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 45px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                We partnered with Apple to improve the digital experience for the Beats brand and Apple Support.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 50px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                We brought storytelling, culture, and positioning to eCommerce, creating a hub that is all things Beats.
                                <span>View the <a href="{% url 'basic_works' %}" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 125px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our new approach for Nixon’s growing reputation wasted no time in turning them into a global leader.
                                <span>View the <a href="" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 129px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                We’re crafting eCommerce strategy, UX/UI design, and content direction for the new Clarisonic 2017 site.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 60px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                We established a new eCommerce experience that drives growth with a focus on brand culture. Launching 2017.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 103px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our eCommerce platform reflects Keen’s values and, through brand storytelling, aligns it with its community. Launching 2017.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 96px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our eCommerce strategy reinforced our advertising efforts for REI, realigning the iconic retailer with millennials.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 99px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                With Fruit of the Loom, we’re developing strategy, brand, and digital design direction for Russell Athletic’s 2017 site.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 66px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Launching soon, our strategy, design, branding, and development drives commerce through cool surf culture.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 115px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                BB Dakota’s bold views on glamour and fashion inspired our branded eCommerce experience - all attitude.
                                <span>View the <a href="" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 40px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our new eCommerce experience brings the Chrome brand to its urban fan base.
                                <span>View the <a href="" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 82px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our time with Nike was about ‘changing the game’ with a bold campaign, creative direction, and emotional connection.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 111px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                From strategy, design direction, content creation, and all things between, we repositioned the Incase brand.
                                <span>View the <a href="" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 62px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                We partnered with Playstation to promote its premier titles to the gamers who love playing them.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 119px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                With a sound strategy, we reinvented branded digital education for Fender, with a focus on community.
                                <span>View the <a href="" class="fw-medium">Case Study.</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card--partner" data-skrollex data-sk-group>
                    <div class="card--partner__inner">
                        <div class="card--partner__content">
                            <div class="card--partner__logo" style="width: 126px;">
                                <img src="" alt="" />
                            </div>
                            <p class="small card--partner__excerpt">
                                Our iterative site redesign for the largest co-working community focuses on brand, community, and conversion.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
