{% load static %}

<div class="toolkit-mod toolkit-mod--full-bleed ">
    <div id="image-carousel-1" class="image-carousel spacer-large spacer-large-top" data-tabpanel data-image-carousel data-animation-type="mask" data-skrollex data-sk-group>
        <div class="container container--content pos-r">
            <div class="image-carousel__controls carousel-controls">
                <button class="btn-prev" tabindex="-1">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </button>
                <ul role="tablist" class="meta">
                    <li role="presentation">
                        <a id="image-carousel-1-tab-1" href="#image-carousel-1-panel-1" aria-controls="image-carousel-1-panel-1" role="tab" data-no-hijack class="active" tabindex="0" aria-selected="true"><span aria-hidden="true">01</span><span class="a11y">
                                Image 1
                            </span></a><a id="image-carousel-1-tab-2" href="#image-carousel-1-panel-2" aria-controls="image-carousel-1-panel-2" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">02</span><span class="a11y">
                                Image 2
                            </span></a><a id="image-carousel-1-tab-3" href="#image-carousel-1-panel-3" aria-controls="image-carousel-1-panel-3" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">03</span><span class="a11y">
                                Image 3
                            </span></a><a id="image-carousel-1-tab-4" href="#image-carousel-1-panel-4" aria-controls="image-carousel-1-panel-4" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">04</span><span class="a11y">
                                Image 4
                            </span></a><a id="image-carousel-1-tab-5" href="#image-carousel-1-panel-5" aria-controls="image-carousel-1-panel-5" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">05</span><span class="a11y">
                                Image 5
                            </span></a><a id="image-carousel-1-tab-6" href="#image-carousel-1-panel-6" aria-controls="image-carousel-1-panel-6" role="tab" data-no-hijack tabindex="-1" aria-selected="false"><span aria-hidden="true">06</span><span class="a11y">
                                Image 6
                            </span></a> </li>
                    <li role="presentation" aria-hidden="true">&mdash;</li>
                    <li role="presentation" aria-hidden="true">06</li>
                </ul>
                <button class="btn-next" tabindex="-1">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="image-carousel__images">
                <div class="image-carousel__image-track">
                    <div id="image-carousel-1-panel-1" role="tabpanel" aria-hidden="false" class="image-carousel__image active" data-skrollex data-sk-group data-sk-mask>

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div id="image-carousel-1-panel-2" role="tabpanel" aria-hidden="true" class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div id="image-carousel-1-panel-3" role="tabpanel" aria-hidden="true" class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div id="image-carousel-1-panel-4" role="tabpanel" aria-hidden="true" class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div id="image-carousel-1-panel-5" role="tabpanel" aria-hidden="true" class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div id="image-carousel-1-panel-6" role="tabpanel" aria-hidden="true" class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                </div>
                <div class="image-carousel__image-track image-carousel__image-track-sync">
                    <div class="image-carousel__image">
                        <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                        srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                        {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                        {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                        {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div class="image-carousel__image" data-skrollex data-sk-group data-sk-mask>
                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div class="image-carousel__image">
                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div class="image-carousel__image">
                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div class="image-carousel__image">
                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                    <div class="image-carousel__image">

                      <img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%273000%27%20height%3D%272000%27%20style%3D%27background%3Atransparent%27%2F%3E"
                      srcset="{% static 'basic/images/careers-v9-carousel-1_c117a8120341f8f36272db1a784b4f3c.jpg' %} 600w,
                      {% static 'basic/images/careers-v9-carousel-1_6f0a10226938b68a0d86ced9917bfd35.jpg' %} 940w,
                      {% static 'basic/images/careers-v9-carousel-1_09b81fab2c119efd1c977773f4d64d1d.jpg' %} 1280w,
                      {% static 'basic/images/careers-v9-carousel-1_4fd950619b6fc4dddc68576d9a1d3850.jpg' %} 2000w" sizes="100vw" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
