{% load static %}

<div class="toolkit-mod toolkit-mod--contained ">

    <div class="awards-block">

        <div class="section-label container container--content" data-skrollex data-sk-group>
            <span class="meta section-label__number">03 &mdash;</span>
            <span class="meta">Награды</span>
        </div>

        <div class="awards-block__title">
            <div class="container container--content">
                <h2 data-skrollex data-sk-group>Установление стандартов, которым следуют другие</h2>
            </div>
        </div>

        <div class="awards-block__awards">
            <div class="container container--content">
                <hr class="spacer-xmedium spacer-xmedium-top" />
                <div class="grid grid--mobile grid--gutters">

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">17</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">3</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">2</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">11</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">4</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">5</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">1</p>
                        </div>
                    </div>

                    <div class="grid__item spacer-large" data-skrollex data-sk-group>
                        <div class="awards-block__award">
                            <div class="logo-holder">
                                <img src="" alt="" />
                            </div>
                            <hr />
                            <p class="awards-count h6 mb0">1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="spacer-large spacer-large-top" />
        </div>

    </div>
</div>
