{% load static %}

<footer class="hidden">
                <div id="footer-container">

                    <div class="copyright-wrap">
                        <div class="copyright-icon"><i class="fa fa-copyright" aria-hidden="true"></i></div>
                        <div class="copyright-text">Copyright</div>
                        <div class="copyright">
                            <p>2019 © <a class="link" target="_blank" href="">Grenada Theme</a>. Design by <a class="link" target="_blank" href="">Clapat</a>.</p>
                        </div>
                    </div>

                    <div class="socials-wrap">
                        <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
                        <div class="socials-text">Follow Us</div>
                        <ul class="socials">
                            <li><span class="parallax-wrap"><a class="parallax-element" href="" target="_blank">Fb</a></span></li>
                            <li><span class="parallax-wrap"><a class="parallax-element" href="" target="_blank">Db</a></span></li>
                            <li><span class="parallax-wrap"><a class="parallax-element" href="" target="_blank">Tw</a></span></li>
                            <li><span class="parallax-wrap"><a class="parallax-element" href="" target="_blank">Be</a></span></li>
                        </ul>
                    </div>

                </div>
            </footer>
