{% load static %}

<header class="classic-menu">
    <div id="header-container">

        <div id="logo" class="hide-ball">
            <a class="ajax-link" data-type="page-transition" href="{% url 'grenada_home' %}">
                <img class="black-logo" src="{% static 'grenada/images/logo.png' %}" alt="ClaPat Logo">
                <img class="white-logo" src="{% static 'grenada/images/logo-white.png' %}" alt="ClaPat Logo">
            </a>
        </div>

        <nav>
            <div class="nav-height">
                <div class="outer">
                    <div class="inner">
                        <ul data-breakpoint="1025" class="flexnav">
                            <li class="link menu-timeline active">
                              <a class="ajax-link link" data-type="page-transition" href="{% url 'grenada_home' %}">Главная</a>
                            </li>
                            <li class="link menu-timeline">
                              <a class="ajax-link link" data-type="page-transition" href="{% url 'grenada_about' %}">О нас</a>
                            </li>
                            <li class="link menu-timeline">
                              <a class="ajax-link link" data-type="page-transition" href="{% url 'grenada_contact' %}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="burger-wrapper" class="parallax-wrap">
            <div id="menu-burger" class="parallax-element">
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</header>
